

/* ==============================
 * ë²„íŠ¼
 * ============================== */
.content-list .btn-group {width: auto;margin: 15px -15px 0 -15px;}
.content-list .btn-single {width: auto;margin: 15px -15px 0 -15px;}

.btn-group {display: flex;width: 100%;justify-content: center;margin-top: 15px;}
.btn-group3 button {width: 33.33%;margin: 0 5px;}
.btn-group3 button:first-child {margin-left: 0;}
.btn-group3 button:last-child {margin-right: 0;}
.btn-group3 a:first-child {margin-left: 0;}
.btn-group3 a:last-child {margin-right: 0;}

.btn-default {display: inline-block;width: 140px;height: 40px;border: 0.5px solid #373e36;border-radius: 5px;color: #373e36;font-size: 16px;font-weight: 700;text-align: center;margin: 0 auto;line-height: 40px;}
.btn-default span {color: #373e36;}
.btn-detail {display: inline-block;width: 62px;height: 22px;border: 1px solid #fff;color: #fff;border-radius: 25px;font-size: 12px;font-weight: 500;line-height: 19px;}
.btn-ok {display: inline-block;width: 47px;height: 22px;border: 1px solid #373e46;background: #373e46;color: #fff;border-radius: 25px;font-size: 12px;font-weight: 700;}
.btn-round {display: inline-block;width: 55px;height: auto;padding: 3px 0 5px ;background: #9197a3;color: #fff;font-weight: bold;text-align: center;font-size: 12px;/*line-height: 20px;*/border-radius: 20px;}
.btn-round.reverse {background: #fff;border: 1px solid #9197a3;color: #9197a3;}

.btn-round.btn-plus {background: #4a90e2;font-weight: 500;}
.btn-round.btn-minus {background: #fb4357;font-weight: 500;}

.btn-double,
.btn-double:hover,
.btn-double:focus {display: inline-block;width: 160px;height: 52px;margin: 0 5px;background: #373e36;border: 1px solid #373e36;color: #ffffff;font-size: 20px;font-weight: bold;line-height: 52px;cursor: pointer;}
.btn-double + .btn-double {background: #ffffff;border: 1px solid #373e36;color: #373e36;}

.btn-dark {display: inline-block;width: 192px;height: 52px;background: #333;color: #fff !important;font-size: 20px;font-weight: 700;text-align: center;padding-top: 15px;cursor: pointer;}
.btn-small {width: 160px;}

/* ë²„íŠ¼ í•˜ë‚˜ */

.btn-single button, 
.btn-single a {display: flex;width: 100%;height: 50px;margin-top: 15px;align-items: center;justify-content: center;background: #4b4f56;color: #fff;font-size: 18px;font-weight: bold;}
/* íŒì—… ë²„íŠ¼ í•˜ë‚˜ */
.pop-house-full .pop-layer .btn-single, 
.pop-house-full .pop-layer .btn-single a, 
.pop-house-full .pop-layer .btn-single button {border-radius: 0;}
.pop-layer .btn-single {margin-top: 0;border-radius: 0 0 8px 8px;}
.pop-house-full .pop-layer .btn-list2, 
.pop-house-full .pop-layer .btn-list2 a, 
.pop-house-full .pop-layer .btn-list2 button {border-radius: 0;}
/* íŒì—… ë²„íŠ¼ ë‘˜ */
.pop-layer .btn-list2 button:first-child, 
.pop-layer .btn-list2 a:first-child {border-radius: 0 0 0 8px;}
/* íŒì—… ë²„íŠ¼ ë‘˜ */
.pop-layer .btn-list2 button:last-child, 
.pop-layer .btn-list2 a:last-child {border-radius: 0 0 8px 0;}

.pop-house-full .pop-layer .btn-list3, 
.pop-house-full .pop-layer .btn-list3 a, 
.pop-house-full .pop-layer .btn-list3 button {border-radius: 0;}

.pop-house-full .pop-layer .btn-group {position: fixed;bottom:0;}
.pop-house-full .pop-layer .btn-single {position: fixed;bottom:0;}

/* 하단 버튼 1개 */
.btn-single {width:100%;text-align: center;}
.btn-single.btn-red button, 
.btn-single.btn-red a {display: flex; position: fixed;bottom:0; width: 100%;height: 50px;align-items: center;justify-content: center;background: #fb4357;color: #fff;font-size: 18px;font-weight: bold;}

/* 하단버튼 2개 이상 */
.btn-group {text-align: center;}
.btn-group button,
.btn-group a {display: flex;width: 100%;height: 50px;align-items: center;justify-content: center;font-size: 18px;font-weight: bold;}
/* 2개 */
.btn-group.btn-list2 button,
.btn-group.btn-list2 a {color: #ffffff;background: #4b4f56;}
.btn-group.btn-list2 button,
.btn-group.btn-list2 a {width: 61.4%;}
.btn-group.btn-list2 button + button,
.btn-group.btn-list2 a + a {width: 39.6%;background: #9197a3;}
/* 3개*/
.btn-group.btn-list3 {justify-content: space-between;}
.btn-group.btn-list3 button,
.btn-group.btn-list3 a {width:33.34%;color:#ffffff;border-right:1px solid #efefef;background: #4b4f56;}
.btn-group.btn-list3 button:last-child,
.btn-group.btn-list3 a:last-child {border:none;}
.btn-group.btn-list3 button + button,
.btn-group.btn-list3 a + a {width: 39.6%;background: #9197a3;}
.btn-group.btn-list3 button.disabled,
.btn-group.btn-list3 a.disabled {background:#bdc1c8;}


/* 하단버튼 red */
.btn-group.btn-list2.btn-red button,
.btn-group.btn-list2.btn-red a { background: #fb4357;color: #ffffff;}
.btn-group.btn-list2.btn-red button + button,
.btn-group.btn-list2.btn-red a + a {border: 1px solid #fb4357;background: #fff;color: #fb4357;}
.btn-close {display: inline-block;margin-top: 2.4rem;color: #2cc4fd;font-size: 1.5rem;font-weight: bold;}
.btn-complete {width: 82px;height: 28px;background: #bdc1c8;color: #fff;text-align: center;line-height: 15px;border-radius: 15px;font-size: 14px;}
.btn-complete.active {background: #fb4357;}
.btn-radius {min-width: 83px;height: 40px;background: #9197a3;border-radius: 5px;color: #fff;font-size: 15px;font-weight: 700;text-align: center;}


/* ==============================
 * ì¸í’‹ë²„íŠ¼
 * ============================== */
.input-button-set {display: flex;align-items: center;justify-content: space-between;}
.input-button-set .input-button {margin:0 7px;flex: 1 0 auto;}
.input-button-set .input-button:first-child {margin-left:0;}
.input-button-set .input-button:last-child {margin-right:0;}
.input-button {height: 38px;padding: 0 7px;border: 0.5px solid #ccc;text-align: left;}
.input-button span {color: #999999;font-size: 14px;vertical-align: top;}
.input-button-single {width: calc(70% - 15px);}

/* ==============================
 * ìŠ¤ìœ„ì¹˜ ë²„íŠ¼
 * ============================== */
.switch-button {position: relative;display: inline-block;width: 50px;height: 25px;}
.switch-button input { opacity: 0;width: 0;height: 0;}
.switch-button .slider {position: absolute;cursor: pointer;top: 0;left: 0;right: 0;bottom: 0;background-color: #ccc;-webkit-transition: .4s;transition: .4s;}
.switch-button .slider:before {position: absolute;content: "";height: 19px;width: 19px;left: 4px;bottom: 3px;background-color: white;-webkit-transition: .4s;transition: .4s;}
.switch-button input:checked + .slider {background-color: #fb4357;}
.switch-button input:focus + .slider {box-shadow: 0 0 1px #fb4357;}
.switch-button input:checked + .slider:before {-webkit-transform: translateX(19px);-ms-transform: translateX(19px);transform: translateX(23px);}
/* Rounded sliders */
.switch-button .slider.round {border-radius: 18px;}
.switch-button .slider.round:before {border-radius: 50%;}

/* 정직원 메인 */
.blink span {-webkit-animation: blink 0.5s ease-in-out infinite alternate;-moz-animation: blink 0.5s ease-in-out infinite alternate;animation: blink 0.5s ease-in-out infinite alternate;-webkit-transform: translate3d(0,0,0);transition: opacity .5s;-webkit-transition: opacity .5s;}

@-webkit-keyframes blink {
  0% {opacity: 0;-webkit-opacity: 0;}
  100% {opacity: 1;-webkit-opacity: 1;}
}
@-moz-keyframes blink {
  0% {opacity: 0;-webkit-opacity: 0;}
  100% {opacity: 1;-webkit-opacity: 1;}
}
@keyframes blink {
  0% {opacity: 0;-webkit-opacity: 0;}
  100% {opacity: 1;-webkit-opacity: 1;}
}
