* {font-family: "AppleSDGothicNeo";-webkit-tap-highlight-color: transparent;}
/*(보안사항추가)복사금지,캡처금지, 스크롤*/
html, body {-webkit-touch-callout: none;-webkit-user-select: none;-webkit-overflow-scrolling:touch;height: 100%;overflow: hidden;color: #373e46;font-size: 12px;min-width: 360px;}
.dim-on {overflow: hidden;overflow-x: hidden;overflow-y: hidden;position: fixed;top: 0;left: 0;right: 0;bottom: 0;pointer-events: none;}
/* 로딩바 */
.page-mask {position:absolute; z-index:9000; background-color:#000000; display:none; left:0; top:0;}
.loading-img {display:none; position:absolute; left:50%; top:50%; width: 65px;height: 65px;transform: translate(-50%, -50%);z-index:10000;}

.pos-rel {position: relative;}
.tb-top {position: absolute;top: 5px;right: 5px;}
.tb-bottom {position: absolute;bottom: 5px;left: 5px;}
.pos-bottom {position: absolute;bottom: 0;width: 100%;}
.absolFit {position: absolute;top: 0;left: 0;right: 0;bottom: 0;}
.min-height-auto {min-height: auto !important;}
.mg-minus {margin-left: -15px;margin-right: -15px;}
.pre-line {white-space: pre-line;}

/* ==============================
 * 정렬
 * ============================== */
.align-between {display: flex !important;justify-content: space-between;}
.float-l {float: left !important;}
.float-r {float: right !important;}
.flex-center {display: -webkit-box;display: -ms-flexbox;display: flex !important;-webkit-box-align: center;-ms-flex-align: center;  align-items: center;-webkit-box-pack: justify;  -ms-flex-pack: justify;    justify-content: space-between;}
.flex-left {display: -webkit-box;display: -ms-flexbox;display: flex !important;-webkit-box-align: center;-ms-flex-align: center;  align-items: center;-webkit-box-pack: justify;  -ms-flex-pack: justify;    justify-content: flex-start;}
.flex-right {display: -webkit-box;display: -ms-flexbox;display: flex !important;-webkit-box-align: center;-ms-flex-align: center;  align-items: center;-webkit-box-pack: justify;  -ms-flex-pack: justify;    justify-content: flex-end;}
.flex-top {display: -webkit-box;display: -ms-flexbox;display: flex !important;-webkit-box-align: flex-start;-ms-flex-align: flex-start;  align-items: flex-start !important;}
.flex-wrap {flex-wrap: wrap;}
.justify-center  {justify-content: center !important;}
.column-center {display: flex;flex-direction: column;justify-content: center;height: 100%;}
.inline-flex {display: inline-flex !important;}
.flex-direction-in {flex-direction: inherit !important;}
.txt-l {text-align: left !important;}
.txt-c {text-align: center !important;}
.txt-r {text-align: right !important;}
.txt-t,
.txt-t th,
.txt-t td {vertical-align: top !important;}
.txt-b,
.txt-b th,
.txt-b td {vertical-align: bottom !important;}

/* list */
.list-2 {width: calc(100% + 1px);}
.list-3 {width: calc(100% + 2px);}
.list-4 {width: calc(100% + 3px);}
.list-5 {width: calc(100% + 4px);}
.list-1 li {width: 100% !important;}
.list-2 li {width: 50% !important;}
.list-3 li {width: 33.3% !important;}
.list-3 li:nth-child(3n) {width: 33.4% !important;}
.list-4 li {width: 25% !important;}
.list-5 li {width: 20% !important;}

/* border radius */
.bd-radius10 {border-radius: 10px !important;}

/* border */
.bd0 {border: none !important;}
.bd-t0 {border-top: none !important;}
.bd-b0 {border-bottom: none !important;}
.bd-l0 {border-left: none !important;}
.bd-r0 {border-right: none !important;}

/* background color */
.bg-red {background: #fa4356 !important;}
.bg-default {background: #373e36 !important;}
.bg-gray {background: #bdc1c8 !important;}
.bg-lgray {background: #f2f2f2 !important;}
.bg-tbgray {background: #f2f3f4 !important;}
.bg-tblightgray {background: #f8f9f9 !important;}
.bg-tbdarkgray {background: #dee0e3 !important;}

/* border */
.bt0 {border-top: 0 !important;}
.br0 {border-right: 0 !important;}
.bb0 {border-bottom: 0 !important;}
.bl0 {border-left: 0 !important;}

/* font */
.f-color01 {/* color: #fb4357 !important; */color:#ed3124 !important;}
.f-color02 {color:#4a90e2 !important;}

.f-color03 {color:#9197a3 !important;}
.f-color04 {color:#4b4f56 !important;}
.f-color05 {color:#1caf5e !important;}
.f-color06 {color:#b951b0 !important;}
.block {display: block !important;}

/* text */
.sub-tit01 {font-size: 16px;font-weight: bold;}
.pop-container .con .sub-text + .table.table-info {margin-top:15px;}
.sub-text02 {font-size: 15px;}
.sub-text02.dot:before {content: '';display: inline-block;width:3px;height:3px;background: #373e46;vertical-align: middle;}
.sub-text02 + .table.table-info,
.con .sub-text02 + .table.table-info {margin-top: 13px;}
.sub-text03 {font-size: 12px;}
.sub-text03.scr-seat {margin-top:15px;padding-bottom: 25px;border-bottom: 0.5px solid #a7acb5;font-size: 14px;word-break: break-all;}
.sub-text04 {font-size:18px;}
.sub-text04 + .search-group {margin-top:15px;}
.sub-text05 {display:block;font-size: 13px;}
.notice-text01 {font-size: 12px;}
.notice-text01:before {content: '';display: inline-block;width: 15px;height: 15px;margin-right: 4px;background: url(../../../resources/images/bul_notice.png) no-repeat;background-size: cover;vertical-align: middle;}

/* textarea */
.basic-textarea {width: 100%;height: 78px;margin-top: 10px;padding: 4px 6px;border: 1px solid #bdc1c8;resize: none;overflow: auto;color: #373e36;font-weight: 500;font-size: 12px;}

/* button */
.btn-round.bg-style01 {background:#4b4f56;}
.btn-round.bg-style02 {background:#4a90e2;}
.btn-round.bg-style03 {background:#ed3124;}
.btn-round.bg-style04 {background:#1caf5e;}
.btn-round.style03 {width:73px;height:25px;}

/* list */
.list-tit {margin-top:25px;font-size:18px;}

.list-style01 {margin-top: 10px;}
.list-style01 li {font-size: 15px;line-height: 20px;}
.list-style01.dot {margin-top: 15px;padding-left:5px;}
.list-style01.dot li {line-height:20px;letter-spacing:-0.02em;}
.list-style01.dot li + li {margin-top:13px;}
.list-style01.dot li:before {content:'';display:inline-block;width:2px;height:2px;margin-right:3px;margin-top:-1px;border-radius:50%;background: #373e46;vertical-align:middle;}

.list-style01 .list-in {margin-top:10px;}
.list-style01 .list-in li {margin-left:7px;}
.list-style01 .list-in li + li {margin-top:3px;}
.list-style01 .list-in li:before {display:none;}

.list-style02 {margin-top: 10px;}
.list-style02 li {font-size: 15px;line-height: 20px;}
.list-style02.dot {margin-top: 17px;padding-left:30px;}
.list-style02.dot li {font-size:18px;line-height: 26px;}
.list-style02.dot li:before {content:'';display:inline-block;width:2px;height:2px;margin-right:3px;margin-top:-1px;border-radius:50%;background: #373e46;vertical-align:middle;}

.list-style03 {margin-top:15px;padding-left:15px;}
.list-style03 li {margin-top:7px;font-size:14px;line-height: 20px;text-indent:-15px;}

/* ==============================
 * 클리어해제
 * ============================== */
.group::before,
.group:before,
.group::after,
.group:after {display: table;content: "";}
.group::after,
.group:after {clear: both;}

/* ==============================
 * 스킵
 * ============================== */
.skipnav,
.hidden {overflow: hidden;position: absolute;top: 0;left: 0;width: 0;height: 0;font-size: 0;line-height: 0;visibility: hidden;}

/* ==============================
 * 클리어해제
 * ============================== */
.before-none::before,
.after-none::after {content: none !important;}

/* ==============================
 * 체크박스
 * ============================== */
.checkbox-nemo {display: inline-block;}
.checkbox-nemo input[type="checkbox"] {display: none;}
.checkbox-nemo input[type="checkbox"] + label {line-height: 1;cursor: pointer;}
.checkbox-nemo input[type="checkbox"] + label .customInput {position: relative;width: 15px;height: 15px;margin-right: 3px;background: #bcc1c7;border-radius: 3px;}
.checkbox-nemo input[type="checkbox"] + label .customInput::before {content: "";display: inline-block;position: absolute;top: 0;left: 0;width: 100%;height: 100%;vertical-align: middle;cursor: pointer;}
.checkbox-nemo input[type="checkbox"] + label .customInput::after {content: "";display: inline-block;position: absolute;top: 0;left: 0;width: 100%;height: 100%;}
.checkbox-nemo input[type="checkbox"] + label span {display: inline-block;color: #373e36;font-size: 14px;font-weight: 500;vertical-align: middle;}

input[type="checkbox"]:checked + label .customInput::before,
input[type="radio"]:checked + label .customInput::before {border: 0;}
input[type="checkbox"]:checked + label .customInput::before {background: #fa4356;border-radius: 3px;}
input[type="checkbox"]:checked + label .customInput::after {position: absolute;content: "";display: block;background-color: transparent;top: 5px;left: 3px;width: 9px;height: 4px;border-style: solid;border-color: #ffffff;border-width: 0 0 2px 2px;-moz-transform: rotate(-45deg) scale(1);-ms-transform: rotate(-45deg) scale(1);transform: rotate(-45deg) scale(1);-webkit-transform: rotate(-45deg) scale(1);}

/* ==============================
 * 체크박스
 * ============================== */
.checkbox-table {display: inline-block;}
.checkbox-table input[type="checkbox"] {display: none;}
.checkbox-table input[type="checkbox"] + label {line-height: 1;cursor: pointer;}
.checkbox-table input[type="checkbox"] + label .customInput {position: relative;width: 15px;height: 15px;margin-right: 3px;background: #fff;border: 1px solid #9197a3;border-radius: 3px;}
.checkbox-table input[type="checkbox"]:checked + label .customInput {border: 1px solid #fa4356;border: #fa4356;}
.checkbox-table input[type="checkbox"] + label .customInput::before {content: "";display: inline-block;position: absolute;top: 0;left: 0;width: 100%;height: 100%;vertical-align: middle;cursor: pointer;}
.checkbox-table input[type="checkbox"] + label .customInput::after {content: "";display: inline-block;position: absolute;top: 0;left: 0;width: 100%;height: 100%;}
.checkbox-table input[type="checkbox"] + label span {display: inline-block;color: #373e36;font-size: 12px;vertical-align: middle;}
/* background */
.checkbox-table input[type="checkbox"]:checked + label .customInput::before {background: #fa4356;border-radius: 3px;}
.checkbox-table input[type="checkbox"]:checked + label .customInput::after {position: absolute;content: "";display: block;background-color: transparent;top: 3px;left: 4px;width: 7px;height: 7px;border-style: solid;border-color: #ffffff;border-width: 0 0 2px 2px;-moz-transform: rotate(-45deg) scale(1);-ms-transform: rotate(-45deg) scale(1);transform: rotate(-45deg) scale(1);-webkit-transform: rotate(-45deg) scale(1);}

/* ==============================
 * 라디오박스
 * ============================== */
.checkbox-round {display: inline-block;}
.checkbox-round input[type="radio"] {display: none;}
.checkbox-round input[type="radio"] + label {line-height: 1;cursor: pointer;font-weight: 400;}
.checkbox-round input[type="radio"] + label .customInput {position: relative;width: 15px;height: 15px;margin-right: 3px;border-radius: 50%;border: 1px solid #bdc1c8;}
.checkbox-round input[type="radio"] + label .customInput::before {content: "";display: inline-block;position: absolute;top: 0;left: 0;width: 100%;height: 100%;vertical-align: middle;cursor: pointer;}
.checkbox-round input[type="radio"] + label .customInput::after {content: "";display: inline-block;position: absolute;top: 0;left: 0;width: 100%;height: 100%;}
.checkbox-round input[type="radio"] + label span {display: inline-block;color: #373e36;font-size: 14px;vertical-align: top;}
.checkbox-round input[type="radio"]:checked + label .customInput::before {border: 0;}
.checkbox-round input[type="radio"]:checked + label .customInput::before {background: #fff;border-radius: 50%;}
.checkbox-round input[type="radio"]:checked + label .customInput {border: 1px solid #fc3343;}
.checkbox-round input[type="radio"]:checked + label .customInput::after {position: absolute;content: "";display: block;background-color: #fc3343;top: 2px;left: 2px;width: 9px;height: 9px;border-radius: 50%;}
.checkbox-round input[type="radio"] + label .customInput {position: relative;width: 15px;height: 15px;margin-right: 3px;border-radius: 50%;border: 1px solid #bdc1c8;}

.px-15 {padding: 0 15px;}
.form-inline {display: flex;align-items: flex-start;}
.input-radio {display: inline-flex;align-self: center;}
.input-radio input {display: none;}
.input-radio label {color: #373e36;font-size: 14px;min-height: 15px;padding-left: 20px;position: relative;}
.input-radio label::before,
.input-radio label::after {content: '';position: absolute;top: 0;left: 0;border-radius: 50%;}
.input-radio label::before {width: 15px;height: 15px;border: 1px solid #bdc1c8;transition: border-color .2s ease-in-out;}
.input-radio label::after {opacity: 0;width: 9px;height: 9px;top: 3px;left: 3px;background-color: #fc3343;transition: opacity .2s ease-in-out;}
.input-radio input:checked + label::before {border-color: #fc3343;}
.input-radio input:checked + label::after {opacity: 1;}
.input-radio label small {display: block;}

/* ==============================
 * 라디오박스
 * ============================== */
.radio-round {display: inline-block;position: relative;margin: 8px 0;}
.radio-round input[type="radio"] {position: absolute;width: 1px;height: 1px;padding: 0;margin: -1px;overflow: hidden;clip: rect(0, 0, 0, 0);border: 0;}
.radio-round input[type="radio"] + label {display: inline-block;position: relative;padding-left: 30px;cursor: pointer;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;}
.radio-round input[type="radio"] + label:before {content: "";position: absolute;left: 0;top: -4px;width: 21px;height: 21px;text-align: center;background: #fafafa;border: 1px solid #cacece;border-radius: 100%;box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);}
.radio-round input[type="radio"]:checked + label .customInput {border: 1px solid #fc3343;}
.radio-round input[type="radio"] + label:active:before,
.radio-round input[type="radio"]:checked + label:active:before {box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1);}
.radio-round input[type="radio"]:checked + label:before {background: #e9ecee;border-color: #adb8c0;}
.radio-round input[type="radio"]:checked + label:after {content: "";position: absolute;top: 1px;left: 5px;width: 13px;height: 13px;background: #99a1a7;border-radius: 100%;box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.3);}

/* ==============================
 *인풋 세로
 * ============================== */
.input-vertical {display: flex;align-items: center;justify-content: center;height: 49px;padding: 0 15px;border-bottom: 1px solid #bdc1c8;font-size: 0;}
.input-vertical h5 {display: inline-block;width: 90px;color: #fb4357;font-size: 15px;text-align: left;font-weight: 700;vertical-align: middle;}
.input-vertical .input-wrap {display: inline-block;width: calc(100% - 90px);vertical-align: middle;}
.input-vertical .input-wrap input {width: 100%;color: #373e36;letter-spacing: -0.04em;font-size: 12px;text-align: left;}
.input-sub-single {display: flex;align-items: center;justify-content: center;height: 49px;font-size: 0;}
.input-sub-single h5 {display: inline-block;width: 60px;padding-left: 4px;color: #9197a3;font-size: 15px;text-align: left;vertical-align: middle;}
.input-sub-single .input-wrap {display: inline-block;width: calc(100% - 60px);vertical-align: middle;}
.input-sub-single .input-wrap input {width: 100%;height: 38px;border: 0.5px solid #9197a3;border-radius: 3px;color: #373e36;letter-spacing: -0.04em;font-size: 12px;text-align: left;text-indent: 5px;}
.input-single-wide {display: flex;align-items: center;justify-content: center;padding:4px 0;}
.input-single-wide h5 {display: inline-block;width: 100px;padding-left: 4px;color: #4b4f56;font-size: 16px;font-weight: bold;text-align: left;vertical-align: middle;}
.input-single-wide .select-option {width: calc(100% - 100px);vertical-align: middle;}
.input-single-wide .select-option li {color: #4b4f56;font-size: 12px;}
.input-single-wide .input-button {height: 38px;}
.input-single-wide .input-wrap {display: inline-block;width: calc(100% - 100px);vertical-align: middle;color: #4b4f56;font-size: 12px;font-weight: 500;}
.input-single-wide .input-wrap input {width: 100%;height: 38px;border: 0.5px solid #9197a3;border-radius: 3px;color: #373e36;letter-spacing: -0.04em;font-size: 12px;text-align: left;text-indent: 5px;}
.input-single-wide .input-wrap textarea {width: 100%;height: 58px;border: 0.5px solid #9197a3;border-radius: 3px;color: #373e36;letter-spacing: -0.04em;font-size: 12px;text-align: left;padding: 5px;resize: none;}
.input-horizontal .input-single-wide {margin-top: 15px;padding: 0;}
.input-horizontal .input-single-wide:first-of-type {margin-top: 20px;}
.input-horizontal .input-single-wide h5 {width: 70px;}
.input-horizontal .input-single-wide h5.mt-negative {margin-top:-20px;}
.input-horizontal .input-single-wide .input-wrap {width: calc(100% - 70px);}
.input-button.round-style {height: 38px;border: 0.5px solid #9197a3;border-radius: 3px;}

.input-single {display: flex;align-items: center;justify-content: center;/*height: 49px;*/}
.input-single h5 {display: inline-block;width: 82px;color: #373e46;font-size: 16px;font-weight: bold;text-align: left;vertical-align: middle;}
.input-single .input-wrap {display: inline-block;width: calc(100% - 82px);color: #4b4f56;vertical-align: middle;line-height: 16px;}
.input-single .input-wrap input {width: 100%;height: 38px;border: 0.5px solid #9197a3;border-radius: 3px;color: #373e36;letter-spacing: -0.04em;font-size: 12px;text-align: left;text-indent: 5px;}
.input-wrap input::placeholder {color: #9197a3;font-size: 14px;font-weight: 400;}
.input-wrap input::-webkit-input-placeholder {color: #9197a3;font-size: 14px;font-weight: 400;}
.input-wrap input::-moz-placeholder {color: #9197a3;font-size: 14px;font-weight: 400;}
.input-wrap input:-ms-input-placeholder {color: #9197a3;font-size: 14px;font-weight: 400;}
.input-wrap input::-ms-input-placeholder {color: #9197a3;font-size: 14px;font-weight: 400;}
.input-wrap input:-moz-placeholder {color: #9197a3;font-size: 14px;font-weight: 400;}
.input-single-block h5 {margin-bottom: 6px;color: #373e46;font-size: 16px;font-weight: bold;}
.input-single-block .input-wrap input {width: 100%;height: 38px;margin-top: 4px;border: 0.5px solid #9197a3;border-radius: 3px;color: #373e36;letter-spacing: -0.04em;font-size: 12px;text-align: left;text-indent: 5px;}
.input-single-small {display: flex;align-items: center;justify-content: center;height: 32px;}
.input-single-small h5 {display: inline-block;width: 82px;padding-left: 4px;color: #373e46;font-size: 13px;font-weight: bold;text-align: left;vertical-align: middle;}
.input-single-small .input-wrap {display: inline-block;width: calc(100% - 82px);color: #4b4f56;font-size: 12px;vertical-align: middle;line-height: 16px;}
.input-single-small .input-wrap input {width: 100%;height: 38px;border: 0.5px solid #9197a3;border-radius: 3px;color: #373e36;letter-spacing: -0.04em;font-size: 12px;text-align: left;text-indent: 5px;}
.input-tab {display: inline-block;font-size: 0px;}
.input-tab li.active {border: 1px solid #fb4357;color: #4b4f56;font-weight: bold;}
.input-tab li {display: inline-block;width: 66px;height: 33px;border: 1px solid #9197a3;border-right: none;color: #9197a3;font-size: 13px;font-weight: 500;text-align: center;line-height: 33px;}
.input-tab li:last-child {border-right: 1px solid #9197a3;}
.input-single + .input-single {margin-top:14px;}
/* ==============================
 *
 * ============================== */
 .content-title .date-input-type {margin-right:15px;margin-left:15px;}
.input-tabs .table-title {justify-content: flex-start;}
.input-tab-func .input-tabcontents {position: relative;width: 100%;/*margin-bottom: 25px;*/}
.date-input-type {margin-bottom:10px;}
.date-input-type:last-of-type {margin-bottom:0;}
.date-input-type button.time {background-image: url(../../../resources/images/icon_input_clock.png);background-size:17px;}
.date-input-type input.start {border-color:#bcc1c8 !important;}
.date-input-type input.end {border-color:#bcc1c8 !important;}
.date-input-type.style02 input {position:relative;border-color:#bcc1c8;}

.date-input-type.style03 {background:transparent;}
.date-input-type.style03 button {position:relative;border-color:#bcc1c8;}
.date-input-type.style03 button:after {content:'';position: absolute;right:15px;width:8px;height:13px;background:url(../../../resources/images/icon_go_setting02.png) no-repeat;background-size:cover;}
.date-input-type.style03 button.start {border-right:1px solid #bcc1c8;border-left:1px solid #bcc1c8;}
.date-input-type.style03 button.end {border-right:1px solid #bcc1c8;}
.date-input-type button.time {background-image: url(../../../resources/images/icon_input_clock.png);background-size:17px;}
.date-input-type.style03 input.start.w100 {border-right:1px solid #bcc1c8;}

/* .date-type-wrap:after {content:'';display:inline-block;clear:both;} */
.date-type-wrap {display:flex;}
.date-type-wrap .date-input-type {display:flex;flex:1;border-right:1px solid #bcc1c8;}
.date-type-wrap .date-input-type.bg-none {background:transparent;}
.date-type-wrap .date-input-type input {flex:1;}
.date-type-wrap .date-input-type input.end {border-right:0;}
.date-type-wrap .date-input-type + .btn-style01 {margin-left:7px;}

.date-input-type .readonly {color:#dedede;background-image:url(../../../resources/images/ic_cal_gr.png);background-size:14.5px;background-position:center left 17px;}

.checkbox-wrap.style02 {margin-top:10px;}
.checkbox-wrap.style02 input[type="checkbox"] {display: none;}
.checkbox-wrap.style02 input[type="checkbox"] + label {line-height: 1;cursor: pointer;}
.checkbox-wrap.style02 input[type="checkbox"] + label .customInput {position: relative;width: 15px;height: 15px;margin-right:5px;background: #fff;border: 1px solid #9197a3;border-radius: 3px;}
.checkbox-wrap.style02 input[type="checkbox"] + label .customInput::before {content: "";display: inline-block;position: absolute;top: 0;left: 0;width: 100%;height: 100%;vertical-align: middle;cursor: pointer;}
.checkbox-wrap.style02 input[type="checkbox"] + label .customInput::after {content: "";display: inline-block;position: absolute;top: 0;left: 0;width: 100%;height: 100%;}
.checkbox-wrap.style02 input[type="checkbox"] + label span {display: inline-block;color: #373e36;font-size: 13px;vertical-align:bottom;}
.checkbox-wrap.style02 input[type="checkbox"]:checked + label .customInput {border: 1px solid #fa4356;border: #fa4356;}
.checkbox-wrap.style02 input[type="checkbox"]:checked + label .customInput::before {background: #fa4356;border-radius: 3px;}
.checkbox-wrap.style02 input[type="checkbox"]:checked + label .customInput::after {position: absolute;content: "";display: block;background-color: transparent;top: 3px;left: 4px;width: 7px;height: 7px;border-style: solid;border-color: #ffffff;border-width: 0 0 2px 2px;-moz-transform: rotate(-45deg) scale(1);-ms-transform: rotate(-45deg) scale(1);transform: rotate(-45deg) scale(1);-webkit-transform: rotate(-45deg) scale(1);}

.input-tabcontents + .input-single-block.lost-picture {/*margin-top: -14px;*/padding-bottom: 23px;}
.add-input-set li {position: relative;margin-top: 12px;justify-content: flex-start;padding-left: 21px;align-items: flex-start;}
.add-input-btn {margin-top: 22px;color: #fc3343;font-weight: bold;font-size: 14px;}

/* ==============================
 * 분실물 인풋
 * ============================== */
.add-input-set i.icon-minus {position: absolute;left: 0;top: 11px;}
.add-input-set button.input-button {width: calc(30% - 7px);margin-right: 7px;}
.add-input-set input.input-button,
.add-input-set textarea.input-button {width: 70%;padding: 8px 9px 7px 9px;border-radius:0;}
.input-button::placeholder {color: #9197a3;font-size: 14px;font-weight: 400;}
.input-button::-webkit-input-placeholder {color: #9197a3;font-size: 14px;font-weight: 400;}
.input-button::-moz-placeholder {color: #9197a3;font-size: 14px;font-weight: 400;}
.input-button:-ms-input-placeholder {color: #9197a3;font-size: 14px;font-weight: 400;}
.input-button::-webkit-input-placeholder::-ms-input-placeholder {color: #9197a3;font-size: 14px;font-weight: 400;}
.input-button::-moz-placeholder:-moz-placeholder {color: #9197a3;font-size: 14px;font-weight: 400;}

/* 업무메모 */
.work-table-wrap {border-top: 0.5px solid #9197a3;}
.work-table {/* border-bottom: 0.5px solid #9197a3; */position: relative;}
.work-table::after {/* border-bottom: 0.5px solid #9197a3; */display: block;content:'';position: absolute;top: 0;left: 0;right: 0;bottom: 0;/* border-bottom: 1px solid #9197a3; */opacity: 0.3;}
.work-table li {display: flex;align-items: flex-start;justify-content: flex-start;margin-top: 21px;}
.work-table .work-time {width: 82px;padding-top: 2px;}
.work-table .work-time span {color: #4b4f56;font-size: 15px;font-weight: bold;}
.work-table .work-list {width: calc(100% - 82px);color:  #4b4f56;font-size: 14px;line-height: 22px;}
.work-table i.icon-minus {position: absolute;left: 0;}
.work-table button.input-button {width: calc(30% - 7px);margin-right: 7px;}
.work-table input.input-button {width: 70%;}
.work-memo-list li .work-record {margin-top: 7px;}
.work-record li {margin: 7px 0;display: flex;}
.work-record li .tit {display: inline-block;width: 102px;color:#9197a3;font-size: 14px;border-right: 0.5px solid #c8cbd1;font-weight: 400;}
.work-record li .con {display: inline-block;padding-left: 32px;color:#9197a3;font-size: 14px;font-weight: 400;padding: 0 0 0 32px !important;height: auto;}
.detail-txt {color: #4b4f56;font-size: 12px; line-height: 17px;}
.time-set {color: #4b4f56;font-size: 13px;}

/* ==============================
 * 탭
 * ============================== */
.tab-content {display: none;}
.tab-content.active {display: block;}
.content-title .tab-list {margin: 20px 15px 0 15px;}
.pop-container .tab-list {margin: 15px 0;}
.pop-container .table-title {margin-left: 0;margin-right: 0;}
.pop-container .tit-noti {position: relative;padding-left: 10px;color: #4b4f56;font-size: 12px;}
.pop-container .tit-noti::before {display: inline-block;content: '';width: 8px;height: 8px;margin-right: 5px;background: #fb4357;border-radius: 50%;}
/* 200306 스타일 변경
.tab-list {display: flex;flex-wrap: wrap;margin: 0 15px;border-radius: 3px;}
.tab-list > li {display: flex;flex: 1;height: 41px;border-top: 1px solid #fb4357;border-right: 1px solid #fb4357;border-bottom: 1px solid #fb4357;background: #fff;color: #fb4357;font-size: 13px;font-weight: 500;align-items: center;justify-content: center;flex-direction: column;cursor: pointer;}
.tab-list > li.active {background: #fb4357;color: #fff;font-weight: 700;}
.tab-list > li:first-child {border-left: 1px solid #fb4357;border-radius: 3px 0 0 3px;}
.tab-list > li:last-child {border-radius: 0 3px 3px 0;}
*/
.tab-list {display: flex;flex-wrap: wrap;margin: 0 15px;background: #f5f6fa;border-radius: 3px;}
.tab-list > li {flex: 1;padding: 8px 0 7px;background: none;color: #9197a3;font-size: 14px;align-items: center;justify-content: center;flex-direction: column;cursor: pointer;text-align: center;}
.tab-list > li.active {background: #fff;color: #4b4f56;cursor: pointer;border-radius: 3px;border:1px solid #fb4357;font-weight: 600;}
.tab-list > li p {color: #fdc6ca;font-size: 9px;font-weight: 700;}
.tab-list .badge {width:auto;height:auto;padding:0px 7px 1px;font-size:13px;border-radius:9px;font-weight:400;}
.tab-content {width: 100%;}
.tab-list2 > li {width: 50%}
.tab-list3 > li {width: 33.33%;height:41px;display:flex;padding:0;}
.tab-list4 > li {width: 25%;font-size: 11px;}
.tab-list5 > li {width: 20%;}

.tab-list02 {display:flex;margin-top:20px;}
.tab-list02 li {flex:1;padding:12px 0 10px;background:#ededed;font-size:15px;font-weight:600;color:#9197a3;text-align:center;}
.tab-list02 li.active {border:1px solid #fb4357;border-radius:3px;background:#fff;color:#4b4f56;}
/* ==============================
 * 검색박스
 * ============================== */
.search-form {display: flex;align-items: center;justify-content: space-evenly;width: 100%;height: 40px;flex-direction: row;}
.search-form.disabled {background:#e9eaed;}
.search-form.disabled .search-group .input-search {color:#999;}
.content-title .search-form {width:auto;margin: 0 15px;}
.search-group {display: flex;align-items: center;justify-content: space-between;width: 80%;flex: 1 1 auto;}
.search-group .input-search {display: inline-block;min-width: 100px;width: 100%;height: 34px;padding: 6px 12px;font-size: 15px;color: #9197a3;vertical-align: middle;overflow: hidden;}
.search-group .btn-clear {position: relative;display: none;width: 22px;height: 22px;margin-right:10px;flex: 0 0 auto;background: #bdc1c8;border-radius: 50%;vertical-align: middle;cursor: pointer;}
.search-btn {margin-left:5px;width:55px;height:40px;background:#9197a3;font-size:13px;color:#fff;}
.submit-normal .search-group .input-search {width:calc(100% - 60px);height:40px;border:0.5px solid #ccc;}
.comment-list {margin-top:18px;}
.comment-list li {margin-bottom:20px;}
.comment-list li:last-of-type {margin-bottom:0;font-size:13px;color:#4b4f56;line-height:1.5;}
.comment-list li p {font-size:13px;color:#4b4f56;line-height:1.5;}
/* .search-group.active .btn-clear {display: inline-block;} */
.btn-clear i {display: inline-block;position: absolute;top: 10px;left: 3.5px;width: 14px;height: 2px;background: #ffffff;-webkit-transform-origin: 50% 50%;transform-origin: 50% 50%;}
.btn-clear i:first-child {transform: rotate(45deg) translateY(0px) translateX(0px);}
.btn-clear i:last-child {transform: rotate(-45deg) translateY(0px) translateX(0px);}
/* .search-form button {  margin-left: 7px;} */
.search-form-line {border-bottom: 0.5px solid #9197a3;}
.search-form-border {border: 0.5px solid #ccc;border-right: 0;}
.search-form-border button {width: 38px;height: 38px;background: #fb4357;}
.search-form-border .icn-search {width: 22px;}
.search-input-border {border: 0.5px solid #ccc;}
.input-search::placeholder {color: #9197a3;font-size: 14px;font-weight: 400;}
.input-search::-webkit-input-placeholder {color: #9197a3;font-size: 14px;font-weight: 400;}
.input-search::-moz-placeholder {color: #9197a3;font-size: 14px;font-weight: 400;}
.input-search:-ms-input-placeholder {color: #9197a3;font-size: 14px;font-weight: 400;}
.input-search::-webkit-input-placeholder::-ms-input-placeholder {color: #9197a3;font-size: 14px;font-weight: 400;}
.input-search::-moz-placeholder:-moz-placeholder {color: #9197a3;font-size: 14px;font-weight: 400;}

.search-form-line input::placeholder {color: #9197a3;font-size: 14px;font-weight: 400;}
.search-form-line input::-webkit-input-placeholder {color: #9197a3;font-size: 14px;font-weight: 400;}
.search-form-line input::-moz-placeholder {color: #9197a3;font-size: 14px;font-weight: 400;}
.search-form-line input:-ms-input-placeholder {color: #9197a3;font-size: 14px;font-weight: 400;}
.search-form-line input::-ms-input-placeholder {color: #9197a3;font-size: 14px;font-weight: 400;}
.search-form-line input:-moz-placeholder {color: #9197a3;font-size: 14px;font-weight: 400;}
.search-form-line input::placeholder {color: #9197a3;font-size: 14px;font-weight: 400;}
.search-form-border input::-webkit-input-placeholder {color: #999;font-size: 15px;font-weight: 400;}
.search-form-border input::-moz-placeholder {color: #999;font-size: 15px;font-weight: 400;}
.search-form-border input:-ms-input-placeholder {color: #999;font-size: 15px;font-weight: 400;}
.search-form-border input::-ms-input-placeholder {color: #999;font-size: 15px;font-weight: 400;}
.search-form-border input:-moz-placeholder {color: #999;font-size: 15px;font-weight: 400;}

/* 상단 검색박스 */
.search-order-box {display:flex;align-items:center;padding:20px 15px;}
.search-ob-select {display:flex;align-items:center;justify-content:space-between;width:100px;height:40px;padding:12px 13px;border:1px solid #ccc;font-size:15px;color:#9197a3;font-weight:600;}
.search-ob-input {display:flex;flex:1;}
.search-ob-input input {flex:1;height:40px;padding:0 15px;font-size:15px;border-top:1px solid #ccc;border-bottom:1px solid #ccc;}
.search-ob-input input::placeholder {color:#9197a3;font-size:15px;font-weight:400;}
.search-ob-input input::-webkit-placeholder {color:#9197a3;font-size:15px;font-weight:400;}
.search-ob-input input::-moz-placeholder {color:#9197a3;font-size:15px;font-weight:400;}
.search-ob-input input::-ms-placeholder {color:#9197a3;font-size:15px;font-weight:400;}
.search-ob-input .btn-red {width:40px;height:40px;background:#fb4357;}


/* ==============================
 * 커스텀셀렉트 그룹
 * ============================== */
.select-group {display: flex;flex-wrap: wrap;margin: 0 -4px;}
.select-group2 .select-custom {width: calc(50% - 8px);margin: 0 4px 5px;}
.select-group3 .select-custom:first-child {width: calc(75% - 8px);margin: 0 4px 5px;}
.select-group3 .select-custom:last-child {width: calc(25% - 8px);margin: 0 4px 5px;}
.select-custom {cursor: pointer;display: inline-block;position: relative;font-size: 16px;color: #fff;width: 220px;height: 40px;width: 100%;}
.select-hidden {display: none;visibility: hidden;padding-right: 10px;}
.select-border-none {height: 29px;}
.select-border-none .select-styled {border: none;padding: 8px 10px;}
.select-styled {display: flex;align-items: center;justify-content: space-between;position: absolute;top: 0;right: 0;bottom: 0;left: 0;padding: 8px 15px;border: 0.5px solid #bdc1c8;-moz-transition: all 0.2s ease-in;-o-transition: all 0.2s ease-in;-webkit-transition: all 0.2s ease-in;transition: all 0.2s ease-in;}
.select-styled span {color: #9197a3;font-size: 12px;font-weight: 700;}
.select-border-none .select-styled span {color: #373e36;font-weight: 500;}

/* 셀렉트 옵션 */
.select-options {display: none;position: absolute;top: 100%;right: 0;left: 0;z-index: 999;margin: 0;padding: 0;list-style: none;}
.select-options li {margin: 0;padding: 9px 0;background: #fff;/* border: 1px solid #bdc1c8; *//* border-bottom: none; */font-size: 12px;text-indent: 15px;text-align: left;-moz-transition: all 0.15s ease-in;-o-transition: all 0.15s ease-in;-webkit-transition: all 0.15s ease-in;transition: all 0.15s ease-in;}
.select-options li:hover {color: #c0392b;background: #fff;}
.select-options li[rel="hide"] {display: none;}

/* 셀렉트 스트콜 */
.select-custom.select-scroll .select-options {height: 135px;overflow: auto;border: 1px solid #bdc1c8;}

/* ==============================
 * 공통 - 드롭다운
 * ============================== */
 .search-form .drop-title.search-group .input-search {height:38px;}
 .drop-title.search-group .input-search {height:40px;border: 1px solid #9197a3;}
 .search-form.search-form-border .drop-title {border:none;}
.drop-title .drop-options {display: none;}
.drop-title.active .drop-options {display: block;}
.drop-title.active .btn-clear {position: absolute;right:0;}
.drop-options {position: absolute;max-height:180px;overflow-y:auto; border: 1px solid #9197a3;border-top:0;background:#fff; z-index: 999;margin: 0;padding: 0;list-style: none;box-sizing: content-box;-webkit-overflow-scrolling:touch;}
.drop-options li {position: relative;margin: 0;padding: 9px 0;background: #fff;border: 1px solid transparent;color: #9197a3;font-size: 15px;text-indent: 15px;font-weight: 700;text-align: left;-moz-transition: all 0.15s ease-in;-o-transition: all 0.15s ease-in;-webkit-transition: all 0.15s ease-in;transition: all 0.15s ease-in;}
/* .drop-options li.active  {position: relative;}
.drop-options li:hover:after,
.drop-options li.active:after  {display: block;content: '';position: absolute;top: 0;left: 0;right: 0;bottom: 0;border: 1px solid #c0392b;color: #4b4f56;} */
.drop-options li:hover,
.drop-options li.active  {background: #fff;border: 1px solid #c0392b;color: #4b4f56;}
.drop-title {position: relative;width: 100%;height: 40px;color: #9197a3;font-size: 15px;font-weight: 500;line-height: 40px;}
.drop-title input::placeholder {color: #9197a3;font-size: 15px;font-weight: 400;}
.btn-clear {position: relative;display: inline-block;width: 26px;height: 26px;flex: 0 0 auto;background: #bdc1c8;border-radius: 50%;vertical-align: middle;cursor: pointer;}
.select-header {height: 39px;margin-bottom: 3px;margin-top:5px;padding: 0;color: #373e46;font-size: 16px;font-weight: bold;line-height: 39px;}
.select-header span {font-size: 13px;font-weight: 500;}
.select-option {display: flex;flex-flow: wrap;border-bottom: none;border-right: none;/*margin-bottom: 10px;*/}
.select-option li {display: flex;justify-content: center;flex-direction: column;width: 50%;height: 40px;margin-top:-1px;margin-right:-1px;padding: 8px 5px 10px;border: 1px solid #9197a3;font-size: 15px;color: #9197a3;text-align: center;}
.select-option li.font-resize-s {font-size: 12px;vertical-align: top;}

.select-option li.active {border: none;color: #4b4f56;font-weight: 700;}
.select-option li .sub {margin-top: 3px;color: #9197a3;font-size: 9px;font-weight: 500;}
.select-option .active {position: relative;}
.input-button-set.select-option {align-items: center;border: 0;}
.select-option .input-button {display: flex;align-items: center;justify-content: flex-start;width: calc(50% - 14px);height: 39px;border: 0.5px solid #9197a3;color: #9197a3;font-size: 15px;line-height: 39px;text-align: center;}
.select-option .input-button + .input-button {padding-right: 0;margin-right: 0;}
.select-option .active::after {position: absolute;content: '';display: block;top: 0; left: 0;right: 0;bottom: 0;border: 1px solid #fb4357;color: #4b4f56;}
.select-option.sub-slt .active::after {border: 1px solid #4a90e2;}

/*   */
.select-header.theme-dark {padding: 0 15px;background: #9197a3;color: #fff;}
/* .select-option.theme-dark {border: 1px solid #9197a3;border-bottom: none;border-right: none;} */
/* .select-option.theme-dark li {flex: 0 0 50%;height: 39px;border-right: 1px solid #9197a3;border-bottom: 1px solid #9197a3;color: #9197a3;font-size: 15px;line-height: 39px;text-align: center;}
.select-option.theme-dark > .active {border: 1px solid #fb4357;color: #4b4f56;} */
.movie-grade {display: inline-block;width: 28px;height: 28px;border-radius: 50%;color: #fff;font-size: 10px;font-weight: 700;line-height: 28px;text-align: center;}
.movie-grade.all {background: #7da7d9;}
.movie-grade.fifteen {background: #82ca9c;}
.movie-grade.twenty {background: #ed3124;}

/* ==============================
* accordian
* ============================== */
.sale-list {position: relative;width: 100%;padding-bottom: 10px;text-align: center;border-bottom: 5px solid #efefef;}
.sale-list:first-child {border-top: 0.5px solid #666;}
.pop-layer .sale-list {border-bottom: 0;}

/* .sale-list.multi-list {border-top: 0;border-bottom: 8px solid #efefef;} */
.sale-list:last-child {border-bottom: 0;}
.sale-list.has-border {border-bottom: 0.5px solid #bdc1c8;}
.sale-list.has-border:last-child {border-bottom: 1px solid #ccc;}
.sale-list.border-none .accordion-arrow {border-top: 0;cursor: pointer;}
.accordion.sale-list {/* padding-top: 20px; */}
.sale-list .item {border-bottom: 1px solid rgba(204, 204, 204, 0.5);}
.sale-info .item:last-child {border-bottom: 0;}
/* .sale-list.multi-list .item {border-bottom: 1px solid #ccc;}
.sale-list.multi-list .item:last-child {border-bottom: 0;} */
.sale-list .accordion-title {cursor: pointer;/*margin-bottom: 10px;*/padding-bottom: 0;}
.sale-list .accordion-contents {/* margin-top: 5px; *//* padding-left: 15px; */overflow: hidden;font-size: 12px;line-height: 18px;text-align: left;font-size: 0;padding-bottom: 7px;}
.accordion .accordion-contents {display: none;}
.accordion.active .accordion-contents {display: block;}
/* .sale-list .accordion-arrow span {background: url(../../../resources/images/select_arrow_close.png);background-size: 100%;width: 24px;height: 24px;display: inline-block;margin-top: 8px;}
.sale-list.active .accordion-arrow span{background: url(../../../resources/images/select_arrow_open.png);background-size: 100%;width: 24px;height: 24px;}
 */

/* ==============================
 * 고객 - 판매내역
 * ============================== */
.sale-title {display: flex;border-bottom: 1px solid #b2b3b6;align-items: center;height: 33px;font-size: 13px;font-weight: bold;}
.sale-title div {color: #4b4f56;text-align: center;}
.table-ticket .sale-customer:first-child {border-top: 0;}
.sale-customer  {display: flex;align-items: center;height: 32px;background: #dee0e3;/* border-top: 1px solid #b2b3b6; */}
.sale-customer div,
.sale-customer span {color: #4b4f56;text-align: center;font-size:14px;}
.pop-container .sale-info {padding-left: 0;padding-right: 0;}
.sale-info {position: relative;padding: 10px 15px 0;font-size: 0;/*  background: #fff;*/ /* 조회 전 bg 안보이게 */cursor: none !important;}

/* 통합정보조회 */
.sale-info.sale-footer {padding: 4px 15px;border-top: 1px solid rgba(204, 204, 204, 0.5);}
.sale-info.sale-footer .title {font-size: 15px;}
.sale-info.sale-footer .cont {font-size: 15px;}
.content-list .sale-info {margin-bottom: 0;}
.sale-info .reprint {position: absolute;right: 0px;bottom: 0px;}
.sale-info .title,
.sale-info .cont {display: inline-block;color: #4b4f56;font-size:13px;line-height: 23px;font-weight: 500;text-align: left;vertical-align: middle;word-break: break-all;}
.sale-info .title {font-weight: bold;white-space: pre-line;vertical-align:top;}
.sale-info .cont {padding: 0 0 0 11px;}
.sale-info .cont.over-text {height: 20px;overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.sale-info .line {position: relative;margin:0;}
.sale-num {position: relative;margin: 7px 0;}
.sale-num .icn {position:absolute;top:0;right:0;padding-left: 15px;}
.sale-num .title,
.sale-num .cont {color: #4b4f56;font-size: 13px;font-weight: bold;}
.sale-num .icn span {color: #fb4357;font-size: 13px; font-weight: bold;}
.is-yes .cont {color: #fb4357;}
/* 상품권/쿠폰 탭 */
.sale-info .line-type-list li .tit:after {content:'';display:inline-block;width:1px;height:11px;margin:0 5px 0 8px;background:#bdc1c8;vertical-align:middle;}
.sale-info .line-type-list li .link {margin-left:8px;color:#4a90e2;}
.sale-info .line-type-list li .link:after {content:'';display:inline-block;width:10px;height:10px;margin-left:3px;background: url(../../../resources/images/icon_arrow_gray.png) no-repeat;background-size:cover;}

/* .accordion.sale-num .title,
.accordion.sale-num .cont {color: #4b4f56;font-size: 12px;font-weight: 500;} */

/* ==============================
 * 고객 - 날짜선택
 * ============================== */
.select-date-wrap {position: relative;height: 76px;}
.select-date {overflow-x: auto;overflow-y: hidden;width: 100%;height: 76px;padding: 10px 15px;display: flex;justify-content: flex-start;align-items: center;background-color: #fff;flex-wrap: nowrap;flex: 1 0 auto;}
.select-date .items {width: 14.28%;height: 100%;display: flex;flex-direction: column;justify-content: center;align-items: center;flex: 1 0 auto;cursor: pointer;}
.select-date .items > div {display: flex;align-items: center;flex-direction: column;justify-content: center;flex: 0 0 auto;width: 42px;height: 42px;}
.select-date .items.active div {background: #fb4357;border-radius: 50%;}
.select-date .items.items-sun .date,
.select-date .items.items-sun .day {color: #fb4357;}
.select-date .items.items-sun.active .date,
.select-date .items.items-sun.active .day {color: #fff;}
.select-date .items {text-align: center;background: #fff;/* Center slide text vertically */display: -webkit-box;display: -ms-flexbox;display: -webkit-flex;display: flex;-webkit-box-pack: center;-ms-flex-pack: center;-webkit-justify-content: center;justify-content: center;-webkit-box-align: center;-ms-flex-align: center;-webkit-align-items: center;align-items: center;}
.select-date .date {color: #9197a3;font-size: 12px;font-weight: 700;}
.select-date .day {color: #373e46;font-size: 15px;font-weight: bold;}
.select-date p + p {margin-top: 5px;}
.select-date .items.active p {color: #fff;}
.select-date-wrap .item-prev,
.select-date-wrap .item-next {position: absolute;top: 1%;width: 4%;height: 98%;margin-top: 0;background: #fff;background-size: 100% auto;background-repeat: no-repeat;}
.select-date-wrap .item-prev{left: 0;}
.select-date-wrap .item-next {right: 0;}
.select-date-wrap .item-prev .icn,
.select-date-wrap .item-next .icn {display: inline-block;position: absolute;top: 50%;width: 7.5px;height: 16px;margin-top: -8px;text-align: center;background-size: 100% auto;background-repeat: no-repeat;z-index: 111;}
.select-date-wrap .item-prev .icn {left: 4px;background-image: url(../../../resources/images/icon_date_prev.png);}
.select-date-wrap .item-next .icn {right: 4px;background-image: url(../../../resources/images/icon_date_next.png);}
.select-calendar {display: inline-block;width: 100px;text-align: center;}
.select-calendar .swiper-slide {font-size: 18px;color: #4b4f56;font-weight: 700;}
.select-calendar .swiper-button-prev {width: 14px;height: 14px;margin-top: -6px;left: 0;background-image: url(../../../resources/images/swiper_calendar_prev.png);background-size: 100% auto;background-repeat: no-repeat;}
.select-calendar .swiper-button-next {width: 14px;height: 14px;margin-top: -6px;right: 0;background-image: url(../../../resources/images/swiper_calendar_next.png);background-size: 100% auto;background-repeat: no-repeat;}
.select-calendar .swiper-button-prev,
.select-calendar .swiper-button-next {cursor:none;outline:none;}
.icn-right {display: inline-block;width: 20px;-webkit-transform: translate3d(0, 0, 0);transform: translate3d(0, 0, 0);}
.icn-right i {position: absolute;top: 50%;left: calc(50% - 10px);width: 9px;height: 1px;border-radius: 1px;background: #9197a3;-webkit-transform-origin: 100% 50%;transform-origin: 100% 50%;-webkit-transition: all 0.15s ease;transition: all 0.15s ease;}
.icn-right i:first-child {top: calc(50% - 1px);-webkit-transform: translate(0px, 0.5px) rotate(40deg);transform: translate(0px, 0.5px) rotate(40deg);}
.icn-right i:last-child {-webkit-transform: translate(0px, -0.5px) rotate(-40deg);transform: translate(0px, -0.5px) rotate(-40deg);}

/* ==============================
* 업무메모 - 타임라인
* ============================== */
.timeline-wrap {/* border-top: 0.5px solid #9197a3; */overflow: hidden;margin-bottom: 20px;}
.timeline-title .badge {width: 55px;height: 20px;margin-right: 4px;padding: 0;background: #4b4f56;border-radius: 10px;font-size: 12px;color: #fff;text-align: center;line-height: 20px;}
.timeline-title span {display: inline-block;vertical-align: middle;color: #4b4f56;font-size: 16px;font-weight: bold;}
.timeline-title span small {font-size: 13px;}
.timeline-cont {margin-left: 15px;} 
.timeline-box {align-items: flex-start;position: relative;padding-bottom: 15px;}
.timeline-box::before {content: '';width: 3px;height: 100%;position: absolute;top: 3px;left: 61px;background: #f2f3f4;z-index: 1;}
.timeline-box:last-of-type {padding-bottom: 0;}
.timeline-box:last-of-type:before {height: 0;}
.timeline-box.detail {height: auto;align-items: flex-start;padding: 20px 0 0 0;}
.timeline-time {position: relative;min-width: 90px;padding-right: 20px;color: #4a90e2;font-size: 18px;font-weight: bold;line-height: 18px;display: flex;justify-content: space-between;z-index: 2;}
.timeline-time .icon {position: relative;margin-left: 10px;vertical-align: top;background-color: #fff;width: 15px;height: 15px;}
.timeline-time .last-date {position: absolute;bottom: -16px;left: 0;display: block;font-size: 12px;color: #4b4f56;}
.today .timeline-time {color: #fb4357;}

/* .timeline-time .icon::after {position: absolute;content: '';top: 15px;left: 50%;width: 3px;height: 400px;margin-left: -1.5px;background: #f2f3f4;} */
.timeline-box.detail .timeline-time .icon.big::after {position: absolute;content: '';top: 20px;left: 50%;width: 3px;height: 250px;margin-left: -1.5px;background: #f2f3f4;}
.timeline-box.detail:last-child .timeline-time .icon.big::after {height: 150px;}
.timeline-box .created-by,
.timeline-box .created-by span {font-size: 9px;}
.timeline-box .btn-group button {width: 30px;height: 15px;border-radius: 10px;background: #bdc1c8;color: #fff;font-size: 9px;text-align: center;line-height: 15px;}
.timeline-box .btn-group.active button {background: #fb4357;}
.timeline-box .btn-group button + button {margin-left: 3px;background: #fb4357;color: #fff;}
.timeline-box .btn-group.active button + button {background: #bdc1c8;}
/* .timeline-box .btn-group button.active {background: #fb4357;color: #fff;} */
.timeline-list-wrap {width: 100%;}
.timeline-list-tit {margin-bottom: 8px;font-size: 14px;font-weight: bold;color: #4b4f56;line-height: 18px;}
.timeline-list {width: 100%;padding: 8px 10px;background: #ebebeb;border-radius: 8px;color: #4b4f56;font-size: 13px;font-weight: 500;line-height: 16px;/* display: inline-block; */white-space: nowrap;overflow: hidden;text-overflow: ellipsis;white-space: normal;line-height: 16px;}
.timeline-box.detail .timeline-list {position: relative;padding: 0 0 17px 0;border-radius: 0;border-bottom: 0.5px solid #bdc1c8;}
.timeline-box.detail .timeline-list:after {position: absolute;content:'';bottom: 0;left:-200px;}
.timeline-box.detail .timeline-time {justify-content: flex-start;}
.timeline-box.detail .timeline-time span {display: none;}
.timeline-box.detail.complete .timeline-time span {display: block;}
.timeline-box.detail .accordion-title {color: #4b4f56;font-size: 13px;font-weight: bold;}
.timeline-box.detail .accordion-title .con,
.timeline-box.detail .accordion-contents {color: #4b4f56;font-size: 11px;line-height: 16px;}
.complete.timeline-box.detail .accordion-title,
.complete.timeline-box.detail .accordion-title .con,
.complete.timeline-box.detail .accordion-contents,
.complete.timeline-box.detail p,
.complete.timeline-box.detail span {color: #bdc1c8;}
.timeline-list-wrap .timeline-list + .timeline-list {margin-top: 8px;}
.timeline-list .accordion-arrow {margin-left: 51px;cursor: pointer;}
.text-ellipsis2 {display: inline-block; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;white-space: normal; line-height: 16px;height: 32px;text-align: left;word-wrap: break-word; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;}
.complete .timeline-time,
.complete .timeline-list,
.complete .timeline-list-tit {color: #9197a3;background: none;padding-left: 0;padding-top: 0;}
.timeline-box.detail .timeline-time,
.timeline-box.detail .timeline-list {background: none;}
.complete i.icon-dot {background-image: url(../../../resources/images/icon_complete.png);}

/* ==============================
* 팝업 캘린더
* ============================== */
.pop-container h3.calendar-title {text-align: center;color: #9197a3;font-weight: 400;}
.calendar-title span {color: #373e46;font-size: 18px;}
.calendar-custom table {width: 100%;}
.calendar-header {position: relative;text-align: center;margin-left: 15px;margin-right: 15px;padding-top: 20px;padding-bottom: 22px;}
.calendar-header .btn-ok {position: absolute;top: 18px; right: 0;}
.calendar-custom th {/* height: 25px; */padding: 5px 0;}
.calendar-custom th span{text-transform: uppercase;color: #9197a3;font-size: 12px;font-weight: 700;}
.calendar-custom th.week-end span{color: #e87582;}
.calendar-custom td {width: 14.2%;padding-top: 10px;padding-bottom: 10px;color: #9197a3;font-size: 12px;font-weight: 700;text-align: center;}
.calendar-custom td a{display: inline-block;width: 24px;height: 24px;border-radius: 50%;text-align: center;line-height: 24px;}
.calendar-custom td.week-end.active a{color: #fff;}
.calendar-custom td.active a{background: #fb4357;color: #fff;}
.calendar-custom td.default a{position: relative;background: #d1d3d8;}
.calendar-custom td.default a:after {position: absolute;top: 18px;left: 0;right: 0;display: block;content: 'TODAY';color: #373e36;font-size: 9px;text-align: center;}
.calendar-custom td.week-end a {color: #e87582;font-size: 12px;font-weight: 700;}

/* ==============================
* 데이트 피커
* ============================== */
/* .pop-container h3.calendar-title {
  text-align: center;
  color: #9197a3;
} */
.calendar-title span {color: #373e46;font-size: 18px;}
.ui-datepicker-calendar {width: 100%;}
.calendar-header {position: relative;text-align: center;margin-left: 15px;margin-right: 15px;padding-top: 20px;padding-bottom: 22px;}
.calendar-header .btn-ok {position: absolute;top: 18px; right: 0;}
.ui-datepicker-calendar th {/* height: 25px; */padding: 5px 0;}
.ui-datepicker-calendar th span{text-transform: uppercase;color: #9197a3;font-size: 12px;font-weight: 700;}
.ui-datepicker-calendar th.week-end span{color: #e87582;}
.ui-datepicker-calendar td {width: 14.2%;padding-top: 10px;padding-bottom: 10px;text-align: center;}
.ui-datepicker-calendar td span {display: inline-block;width: 24px;height: 24px;border-radius: 50%;color: #bdc1c8;font-size: 12px;font-weight: 700;line-height: 24px;}
.ui-datepicker-calendar td a{display: inline-block;width: 24px;height: 24px;border-radius: 50%;color: #4b4f56;font-size: 12px;font-weight: 700;line-height: 24px;}
.ui-datepicker-calendar > tbody td.ui-datepicker-week-end:first-child a { color: #fa4357; }
.ui-datepicker-calendar > tbody td.ui-datepicker-week-end:last-child a { color: #4a90e2; }
/* // 데이트 피커 */

.ui-datepicker-calendar .ui-datepicker-week-end a {color: #e87582;font-size: 12px;font-weight: 700;}

.ui-datepicker-calendar .ui-datepicker-week-end .ui-state-active {color: #ffffff !important;}

/* // 데이트 피커 */
.ui-datepicker-calendar .ui-state-active {background: #fb4357;color: #fff;}

/* // 데이트 피커 */
.ui-datepicker-calendar .ui-datepicker-today a{position: relative;background: #d1d3d8;color: #4b4f56;}
.ui-datepicker-calendar .ui-datepicker-today a:after {position: absolute;top: 18px;left: 0;right: 0;display: block;content: 'TODAY';color: #373e36;font-size: 9px;text-align: center;}
.ui-datepicker-calendar td.week-end a {color: #e87582;font-size: 12px;font-weight: 700;}

/* // 데이트 피커 */
/* .ui-datepicker-calendar .ui-datepicker-today {position: relative;background: #d1d3d8;} */
/* // 데이트 피커 */
.ui-datepicker-prev span{display: inline-block;width: 14px;height: 30px;margin-top: 7px;right: 0;background-image: url(../../../resources/images/swiper_calendar_prev.png);background-size: 100% auto;background-repeat: no-repeat;}
/* // 데이트 피커 */
.ui-datepicker-next span{display: inline-block;width: 14px;height: 30px;margin-top: 7px;right: 0;background-image: url(../../../resources/images/swiper_calendar_next.png);background-size: 100% auto;background-repeat: no-repeat;}
.ui-datepicker-title {display: inline-block;}
.ui-datepicker-year {display: inline-block;/* width: 100px; */font-size: 18px;font-weight: bold;}
.ui-datepicker-month{display: inline-block;/* width: 80px; */margin-left: 5px;font-size: 18px;font-weight: bold;}
.ui-datepicker-header {position: relative;padding-top: 20px;padding-bottom: 22px;margin-left: 15px;margin-right: 15px;text-align: center;}
.ui-datepicker-prev {position: absolute;top: 16px;left: 0;width:30px;height:30px;}
.ui-datepicker-next {position: absolute;top: 16px;right: 0;width:30px;height:30px;}

/* ==============================
*  분실물 input title
* ============================== */
.input-title {display: flex;height: 35px;/* padding: 0 1.5rem; */align-items: center;font-size: 16px;font-weight: bold;margin-top: 12px;/*margin-bottom: 6px;*/}
.input-title .btn-calendar {font-size: 14px;}
.input-title h4 {color: #4b4f56;font-size: 16px;font-weight: bold;}
.input-title h5 {color: #373e46;font-size: 18px;font-weight: bold;}
.input-title .txt-limit {margin-top:5px;}
.input-title.input-tabs {justify-content: flex-start;}
.input-tabcontents textarea {height: 123px;padding: 13px 9px;border: 0.5px solid #ccc;resize: none;color: #9197a3;font-size: 14px;line-height: 22px;}
.input-timer {display: inline-block;height: 37px;margin-left: 8px;margin-right: 3px;padding: 0 7px;border: 0.5px solid #ccc;line-height: 40px;vertical-align: middle;}
.input-timer i.icon-hourglass {margin-top:-4px;}
.input-timer input {display:inline-block;width: 20px;color: #999999;font-size: 15px;margin-top:-13px;}
.input-timer input::placeholder {color: #999999;font-size: 15px;font-weight: 400;}
.input-timer input::-webkit-input-placeholder {color: #999999;font-size: 15px;font-weight: 400;}
.input-timer input::-moz-placeholder {color: #999999;font-size: 15px;font-weight: 400;}
.input-timer input:-ms-input-placeholder {color: #999999;font-size: 15px;font-weight: 400;}
.txt-limit {color: #9197a3;font-size: 12px;font-weight: 400;}
.txt-limit span {color: #9197a3;font-size: 12px;}

/* .time-board {display: flex;flex-wrap: wrap;border-top: 1px solid #9197a3;border-bottom: 1px solid #9197a3;}
.time-board li {width: 20%;height: 38px;float: left;text-align: center;border-bottom: 1px solid #9197a3;border-right: 1px solid #9197a3;line-height: 38px;}
.time-board li:nth-child(5n) {border-right: none;} */
/* .time-board li:nth-child() {border-bottom: none;} */
.time-input span {color: #9197a3;font-size: 38px;vertical-align: middle;}
.time-input input {display: inline-block;width: 47px;border-bottom: 1px solid #9197a3;color: #9197a3;font-size: 38px;text-align: center;font-weight: bold;vertical-align: middle;}
.time-input input::placeholder {color: #9197a3;font-size: 38px;font-weight: 400;}
.time-input input::-webkit-input-placeholder {color: #9197a3;font-size: 38px;font-weight: 400;}
.time-input input::-moz-placeholder {color: #9197a3;font-size: 38px;font-weight: 400;}
.time-input input:-ms-input-placeholder {color: #9197a3;font-size: 38px;font-weight: 400;}
.table-workschedule {border-top: 1px solid #666666;}
.table-workschedule .tit {background: #f7f7f7;border-bottom: 1px solid #ccc;}
.table-workschedule .tit li{width: 33.3%;background: #dddfe2;color: #4b4f56;font-size: 14px;font-weight: bold;}
.table-workschedule .tit .left {text-align: center;color: #4b4f56;font-size: 14px;font-weight: bold;}
.table-workschedule .tit .right div {border-bottom: 1px solid #ccc;color: #4b4f56;font-size: 14px;font-weight: bold;}
.table-workschedule .left {width: 98px;text-align: center;}
.table-workschedule .right {width: calc(100% - 98px);border-left: 1px solid #cccccc;}
.table-workschedule .right div,
.table-workschedule .right li {height: 33px;line-height: 33px;}
.table-workschedule .right li a {width: 33.3%;color: #4b4f56;font-size: 11px;font-weight: 500;}
.table-workschedule .line {border-bottom: 1px solid #ccc;}
.table-workschedule .line .left div {color: #4b4f56;font-size: 12px;font-weight: bold;}
.table-workschedule .line .left span {font-size: 11px;font-weight: 500;}
.table-workschedule .line .right li {border-bottom: 1px solid #ccc;}
.table-workschedule .line .right li:last-child {border-bottom: none;}

/* 진행바 */
.progress-area li {margin: 13px 0;display: flex;}
.progress-area li h4 {width: 63px;color: #4b4f56;font-size: 13px;font-weight: bold;}
.progressbar {width: calc(100% - 63px);position: relative;background-color: #fff;}
.proggress{position: relative;height: 8px;width: 10px;background-color: #fff;}
.percentCount{position: absolute;height: 100%;line-height: 18px;top: 0;right: 8px;color: #fff;font-size: 12px;font-weight: 500;}
.period-select {position: relative;height: 40px;border: 0.5px solid #9197a3;}
.period-select div {padding: 0 15px;}
.period-select:before {display: block;content: '';position: absolute;top: 0;left: 50%;width: 14px;height: 100%;margin-left: -7px;background: url(../../../resources/images/calendar_devide_line.png);background-size: 100% 100%;}
.period-select span {color: #4b4f56;font-size: 12px;}

/* 내용없음 */
.no-contents .contents-blank {display: flex !important;}
.no-contents .table-ticket {display: none;}
.contents-blank {display: none;display: flex;align-items: center;justify-content: center;width: 100%;height: 200px;border-top: 1px solid #b2b3b6;border-bottom: 1px solid #b2b3b6;}
.contents-blank p {color: #4b4f56;font-size: 15px;font-weight: bold;line-height: 22px;}
/* .contents-blank p {position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);width: 100%;height: auto;color: #4b4f56;font-size: 15px;font-weight: bold;}*/


/**/
.textarea-box textarea {width:100%;height: 60px;padding: 13px 9px;border: 0.5px solid #ccc;resize: none;color: #9197a3;font-size: 14px;line-height: 22px;}