@charset "utf-8";


/* 한글 폰트 적용 */
@font-face {
  font-family: "AppleSDGothicNeo";
  font-style: normal;
  font-weight: 200;
  src: url(../fonts/AppleSDGothicNeoL.ttf) format("truetype");
}
@font-face {
  font-family: "AppleSDGothicNeo";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/AppleSDGothicNeoM.ttf) format("truetype");
}
@font-face {
  font-family: "AppleSDGothicNeo";
  font-style: normal;
  font-weight: 500;
  src: url(../fonts/AppleSDGothicNeoR.ttf) format("truetype");
}
@font-face {
  font-family: "AppleSDGothicNeo";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/AppleSDGothicNeoSB.ttf) format("truetype");
}
@font-face {
  font-family: "AppleSDGothicNeo";
  font-style: normal;
  font-weight: bold;
  src: url(../fonts/AppleSDGothicNeoB.ttf) format("truetype");
}

/* 영문 폰트 적용 */
@font-face {
  font-family: "SFUIText";
  font-style: normal;
  font-weight: 200;
  src: url(../fonts/SFUIText-Light.ttf) format("truetype");
}
@font-face {
  font-family: "SFUIText";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/SFUIText-Medium.ttf) format("truetype");
}
@font-face {
  font-family: "SFUIText";
  font-style: normal;
  font-weight: 500;
  src: url(../fonts/SFUIText-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "SFUIText";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/SFUIText-Semibold.ttf) format("truetype");
}
@font-face {
  font-family: "SFUIText";
  font-style: normal;
  font-weight: bold;
  src: url(../fonts/SFUIText-Bold.ttf) format("truetype");
}

/* cj 폰트 적용 */
@font-face {
  font-family: "notosanskr";
  font-style: normal;
  font-weight: 400;
  src:  url(../fonts/CJ\ ONLYONE\ NEW\ body\ Light.ttf) format("truetype"),
        url(../fonts/CJ\ ONLYONE\ NEW\ body\ OTF\ Light.otf) format("opentype");
}
@font-face {
  font-family: "notosanskr";
  font-style: normal;
  font-weight: 500;
  src:  url(../fonts/CJ\ ONLYONE\ NEW\ body\ Regular.ttf) format("truetype"),
        url(../fonts/CJ\ ONLYONE\ NEW\ body\ OTF\ Regular.otf) format("opentype");
}
@font-face {
  font-family: "notosanskr";
  font-style: normal;
  font-weight: 900;
  src:  url(../fonts/CJ\ ONLYONE\ NEW\ title\ Bold.ttf) format("truetype"),
        url(../fonts/CJ\ ONLYONE\ NEW\ title\ OTF\ Bold.otf) format("opentype");
}


/* font weight */
.txt-light {
  font-weight: 200 !important;
}
.txt-regular {
  font-weight: 500 !important;
}
.txt-sbold {
  font-weight: 900 !important;
}
.txt-bold {
  font-weight: bold !important;
}

/* font color */
.txt-white {
  color: #fff !important;
}
.txt-dahong {
  color: #fa4356 !important;
}
.txt-red {
  color: #ed3124 !important;
}
.txt-blue {
  color: #4a90e2 !important;
}
.txt-default {
  color: #373e36 !important;
}
.txt-dgray {
  color: #9197a3 !important;
}
.txt-gray {
  color: #bdc1c8 !important;
}

/* font size */
.txt-9px {
  font-size: 9px !important;
}
.txt-11px {
  font-size: 11px !important;
}
.txt-12px {
  font-size: 12px !important;
}
.txt-13px {
  font-size: 13px !important;
}
.txt-15px {
  font-size: 15px !important;
}