

@charset "utf-8";

.icon {display: inline-flex;flex: 0 0 auto;vertical-align: bottom;text-indent: -9999px;border: 0;background-color: transparent;background-repeat: no-repeat;background-position: center center;background-size: contain;}
i.icon-user {width: 18px;height: 18px;background-image: url(../../../resources/images/icon_user.png);}
i.icon-graph {width: 18px;height: 18px;background-image: url(../../../resources/images/icon_graph.png);}
i.icon-view {width: 25px;height: 25px;background-image: url(../../../resources/images/icon_view.png);}
i.icon-man {width: 16px;height: 16px;background-image: url(../../../resources/images/icon_man.png);vertical-align: top;}
i.icon-woman {width: 16px;height: 16px;background-image: url(../../../resources/images/icon_woman.png);}
i.icon-search {width: 18px;height: 18px;background-image: url(../../../resources/images/icon_movie_search.png);vertical-align: middle;}
i.icon-search.gray {width: 22px;height: 22px;background-image: url(../../../resources/images/icon_search_gray.png);vertical-align: middle;}
i.icon-minus {width: 15px;height: 15px;background-image: url(../../../resources/images/icon_minus.png);}
i.icon-plus {width: 15px;height: 15px;background-image: url(../../../resources/images/icon_plus.png);}
i.icon-lost {width: 22px;height: 22px;background-image: url(../../../resources/images/lost.png);vertical-align: middle;}
i.icon-zoom {width: 17px;height: 17px;background-image: url(../../../resources/images/icon_zoom.png);}
i.icon-close.small {width: 17px;height: 17px;background-image: url(../../../resources/images/icon_close.png);}
.icon-close {width: 19px;height: 19px;background-image: url(../../../resources/images/icon_pop_close.png);vertical-align: middle;}
i.icon-bar {width: 1px;height: 10px;background-image: url(../../../resources/images/bar.png);vertical-align: middle;}
i.icon-bar.darkgray {width: 1px;height: 27px;background-image: url(../../../resources/images/bar_dark.png);vertical-align: middle;}
i.icon-arrow.red {width: 10px;height: 10px;background-image: url(../../../resources/images/icon_arrow_red.png);}
i.icon-arrow.gray {width: 10px;height: 10px;background-image: url(../../../resources/images/icon_arrow_gray.png);vertical-align: middle;margin-bottom: 2px;}
i.icon-arrow.darkgray {width: 14px;height: 14px;background-image: url(../../../resources/images/table_title_arrow.png);vertical-align: sub;}
i.icon-gps {width: 15px;height: 15px;background-image: url(../../../resources/images/gps.png);margin-bottom: 2px;margin-left: -3px;}
i.icon-cake1 {width: 20px;height: 20px;background-image: url(../../../resources/images/cake_01.png);margin-bottom: 3px;}
i.icon-cake {width: 22px;height: 22px;background-image: url(../../../resources/images/cake_02.png);}
i.icon-calendar {width: 20px;height: 20px;background-image: url(../../../resources/images/icon_calendar.png);}
i.icon-calendar-white {width: 15px;height: 15px;background-image: url(../../../resources/images/icon_calendar_white.png);vertical-align: middle;}
i.icon-input-money {width: 15px;height: 15px;background-image: url(../../../resources/images/icon_input_money.png);}
i.icon-input-money.big {width: 18px;height: 18px;background-image: url(../../../resources/images/icon_input_money.png);}
i.icon-input-calendar {width: 18px;height: 18px;background-image: url(../../../resources/images/calendar.png);}
i.icon-input-clock {width: 15px;height: 15px;background-image: url(../../../resources/images/icon_input_clock.png);vertical-align: top;}
i.icon-schedule {width: 15px;height: 15px;background-image: url(../../../resources/images/icon_input_clock.png);vertical-align: top;}
i.icon-setting {width: 18px;height: 18px;background-image: url(../../../resources/images/icon_settings.png);vertical-align: middle;}
i.icon-hourglass {width: 15px;height: 15px;background-image: url(../../../resources/images/icon_hourglass.png);vertical-align: middle;}
i.icon-mileage {width: 20px;height: 19px;background-image: url(../../../resources/images/icon_mileage.png);vertical-align: middle;}
i.icon-search-arrow {width: 14px;height: 7px;background-image: url(../../../resources/images/select_arrow_close01.png);vertical-align: middle;}
i.icon-search-white {width: 20px;height: 20px;background-image: url(../../../resources/images/icon_search.png);vertical-align: middle;}

/* 상영 */
.icon-scr-search {width: 17px;height: 17px;background-image: url(../../../resources/images/search_screen.png);vertical-align: top;margin-top: 2px;margin-left: 4px;}
/* 로그인 */
i.icon-fingerprint {width: 18px;height: 18px;background-image: url(../../../resources/images/login_touchID.png);vertical-align: sub;}
i.icon-faceid {width: 18px;height: 18px;background-image: url(../../../resources/images/icon_faceid.png);vertical-align: sub;}
i.icon-bell {width: 18px;height: 18px;background-image: url(../../../resources/images/icon_bell.png);vertical-align: sub;}
i.icon-shortcut {width: 18px;height: 18px;background-image: url(../../../resources/images/ic_m_edit.png);vertical-align: sub;}
i.icon-infomation {width: 18px;height: 18px;background-image: url(../../../resources/images/icon_noti.png);vertical-align: sub;}
i.icon-gopage {width: 15px;height: 15px;background-image: url(../../../resources/images/icon_go_setting.png);vertical-align: bottom;}

i.icon-dot {width: 15px;height: 15px;background-image: url(../../../resources/images/timeline_dot.png);}
i.icon-dotblue {width: 15px;height: 15px;background-image: url(../../../resources/images/timeline_dot_blue.png);}
i.icon-dot.big {width: 20px;height: 20px;background-image: url(../../../resources/images/timeline_dot.png);}

i.icon-push01 {width: 20px;height: 20px;background-image: url(../../../resources/images/icon_push01.png);}
i.icon-push02 {width: 20px;height: 20px;background-image: url(../../../resources/images/icon_push02.png);}
i.icon-push03 {width: 20px;height: 20px;background-image: url(../../../resources/images/icon_push03.png);}
i.icon-push04 {width: 20px;height: 20px;background-image: url(../../../resources/images/icon_push04.png);}
i.icon-pushmiso01 {width: 20px;height: 20px;background-image: url(../../../resources/images/icon_pushmiso01.png);}
i.icon-pushmiso02 {width: 20px;height: 20px;background-image: url(../../../resources/images/icon_pushmiso02.png);}
i.icon-pushmiso04 {width: 20px;height: 20px;background-image: url(../../../resources/images/icon_pushmiso04.png);}

i.icon-alarm01 {width: 22px;height: 22px;background-image: url(../../../resources/images/icon_alarm01.png);}
i.icon-alarm02 {width: 22px;height: 22px;background-image: url(../../../resources/images/icon_alarm02.png);}
i.icon-alarm03 {width: 22px;height: 22px;background-image: url(../../../resources/images/icon_alarm03.png);}
i.icon-alarm04 {width: 22px;height: 22px;background-image: url(../../../resources/images/icon_alarm04.png);}
i.icon-alarm05 {width: 22px;height: 22px;background-image: url(../../../resources/images/icon_alarm05.png);}
i.icon-alarm06 {width: 22px;height: 22px;background-image: url(../../../resources/images/icon_alarm06.png);}
i.icon-alarm07 {width: 22px;height: 22px;background-image: url(../../../resources/images/icon_alarm07.png);}

i.icon-alarmmiso01 {width: 22px;height: 22px;background-image: url(../../../resources/images/icon_alarmmiso01.png);}
i.icon-alarmmiso02 {width: 22px;height: 22px;background-image: url(../../../resources/images/icon_alarmmiso02.png);}
i.icon-alarmmiso03 {width: 22px;height: 22px;background-image: url(../../../resources/images/icon_alarmmiso03.png);}

i.icon-play {width: 20px;height: 20px;background-image: url(../../../resources/images/icon_play.png);}
i.icon-drop {width: 24px;height: 24px;background-image: url(../../../resources/images/select_arrow_close.png);}

.active > .accordion-arrow > i.icon-drop {width: 24px;height: 24px;background-image: url(../../../resources/images/select_arrow_open.png);}
i.icon-drop2 {width: 15px;height: 15px;background-image: url(../../../resources/images/icon_drop_close.png);}
.active > .accordion-arrow > i.icon-drop2 {width: 15px;height: 15px;background-image: url(../../../resources/images/icon_drop_open.png);}
i.icon-total {width: 13px;height: 13px;background-image: url(../../../resources/images/icon_total.png);}
i.icon-incomplete {width: 13px;height: 13px;background-image: url(../../../resources/images/icon_incomplete.png);  }
i.icon-incomplete.big {width: 20px;height: 20px;background-image: url(../../../resources/images/icon_incomplete.png);}
i.icon-complete {width: 13px;height: 13px;background-image: url(../../../resources/images/icon_complete.png);}
i.icon-check {content: "";display: inline-block;background-color: transparent;width: 12px;height: 5px;border-style: solid;border-color: #ffffff;border-width: 0 0 2px 2px;-moz-transform: rotate(-45deg) scale(1);-ms-transform: rotate(-45deg) scale(1);transform: rotate(-45deg) scale(1);-webkit-transform: rotate(-45deg) scale(1);vertical-align: middle;margin-bottom: 6px;margin-left: 3px;}
i.icon-tardy {width: 15px;height: 15px;background-image: url(../../../resources/images/icon_tardy.png);vertical-align: middle;}
i.icon-early {width: 15px;height: 15px;background-image: url(../../../resources/images/icon_early.png);vertical-align: middle;}
i.icon-absent {width: 15px;height: 15px;background-image: url(../../../resources/images/icon_absent.png);vertical-align: middle;}
i.icon-change {width: 15px;height: 15px;background-image: url(../../../resources/images/icon_change.png);vertical-align: middle;}
i.icon-store1 {width: 19px;height: 19px;background-image: url(../../../resources/images/icon_store1.png);vertical-align: middle;}
i.icon-store2 {width: 19px;height: 19px;background-image: url(../../../resources/images/icon_store2.png);vertical-align: middle;}
i.icon-ticketing1 {width: 19px;height: 19px;background-image: url(../../../resources/images/icon_ticketing1.png);vertical-align: middle;}
i.icon-ticketing2 {width: 19px;height: 19px;background-image: url(../../../resources/images/icon_ticketing2.png);vertical-align: middle;}
i.icon.icon-set {width: 19px;height: 19px;background-image: url(../../../resources/images/icon_set.png);vertical-align: middle;}
i.icon.icon-code {width: 20px;height: 20px;background-image: url(../../../resources/images/index/icon_code.png);vertical-align: middle;}
i.icon.icon-date {width: 13px;height: 13px;background-image: url(../../../resources/images/icon_date.png);vertical-align: top;}
i.icon.icon-time {width: 13px;height: 13px;background-image: url(../../../resources/images/icon_time.png);vertical-align: top;}

i.icon-select {width: 24px;height: 24px;background-image: url(../../../resources/images/select_arrow_close.png);}
.active > i.icon-select {width: 24px;height: 24px;background-image: url(../../../resources/images/select_arrow_open.png);}

.icn img {margin-right: 7px;}
.icn img,
.icn span,
.icn i {display: inline-block;vertical-align: middle;font-size: 12px;}
  
/* 삭제 */
.list-dot {position: relative;}
.list-dot::before {display: inline-block;content: 'Â·';width: 8px;}

/* */
i.work01 {width: 19px;height: 19px;background-image: url(../../../resources/images/work01.png);}
i.work02 {width: 19px;height: 19px;background-image: url(../../../resources/images/work02.png);}
i.icon-floor {width: 16px;height: 16px;background-image: url(../../../resources/images/floor.png);vertical-align: middle;}
i.icon-gps02 {width: 16px;height: 16px;background-image: url(../../../resources/images/gps.png);vertical-align: middle;}
i.icon-refresh {position: absolute;top:17px;right:15px;width: 22px;height: 22px;background-image: url(../../../resources/images/icon_refresh.png);vertical-align: middle;}

/* 미소지기 메인 */
i.menu-myschedule {background-image: url(../../../resources/images/miso_menu_myschedule.png);}
i.menu-scheduleapply {background-image: url(../../../resources/images/miso_menu_scheduleapply.png);}
i.menu-workcheck {background-image: url(../../../resources/images/miso_menu_workcheck.png);}
i.menu-siteschedule {background-image: url(../../../resources/images/miso_menu_siteschedule.png);}
i.menu-tip {background-image: url(../../../resources/images/miso_menu_tip.png);}
i.menu-mileage {background-image: url(../../../resources/images/miso_menu_mileage.png);}
i.menu-money {background-image: url(../../../resources/images/miso_menu_money.png);}
i.menu-siteboard {background-image: url(../../../resources/images/miso_menu_siteboard.png);}
i.menu-late {background-image: url(../../../resources/images/miso_menu_late.png);}
i.menu-lost {background-image: url(../../../resources/images/miso_menu_lost.png);}
i.menu-memo {background-image: url(../../../resources/images/miso_menu_memo.png);}
i.menu-miso {background-image: url(../../../resources/images/miso_menu_miso.png);}
i.menu-screening {background-image: url(../../../resources/images/miso_menu_screening.png);}
i.menu-seat {background-image: url(../../../resources/images/miso_menu_seat.png);}
i.menu-snackbar {background-image: url(../../../resources/images/miso_menu_snackbar.png);}
i.menu-ticket {background-image: url(../../../resources/images/miso_menu_ticket.png);}
i.menu-checklist {background-image: url(../../../resources/images/miso_menu_checklist.png);}

/* cms */
i.icon-detail-menu {width: 15px;height: 15px;background-image: url(../../../resources/images/icon_detail_menu.png);vertical-align: middle;margin-bottom: 3px;margin-right: 4px;}
i.icon-cms-file {width: 20px;height: 18px;background-image: url(../../../resources/images/icon_cms_file.png);vertical-align: middle;margin-bottom: 4px;margin-right: 5px;}

/* 고객정보 */
i.icon-detail {width: 20px;height: 20px;background-image: url(../../../resources/images/btn_go_detailpg.png);vertical-align: middle;}
i.check-red {width: 12px;height: 12px;background: url(../../../resources/images/bg_btncheck.png) no-repeat;background-size: cover;vertical-align: top;}

/* 메인 */
.icon-main-search {width: 14px;height: 14px;background-image: url(../../../resources/images/index/search_main.png);vertical-align: top;margin-left: 5px;}

/* 비상연락망 */
.icon-phone-call {width: 34px;height: 34px;background-image: url(../../../resources/images/icon_phone_call.png);vertical-align: top;}