@charset "UTF-8";
/* Common Set */
.hide {display:none !important;}

/* Header */
header .control-btns {min-width: 15%;max-width: 15%;display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-align: center;    -ms-flex-align: center;        align-items: center;}
header .control-btns.end {-webkit-box-pack: end;    -ms-flex-pack: end;        justify-content: flex-end;}
header .control-btns .btn-more, 
header .control-btns .btn-back, 
header .control-btns .btn-noti, 
header .control-btns .btn-code, 
header .control-btns .btn-search-main {width: 20px;height: 20px;margin-right: 10px;display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-pack: center;    -ms-flex-pack: center;        justify-content: center;-webkit-box-align: center;    -ms-flex-align: center;        align-items: center;}
header .control-btns .btn-more .icon-more, 
header .control-btns .btn-back .icon-more, 
header .control-btns .btn-noti .icon-more, 
header .control-btns .btn-search-main .icon-more {width: 20px;height: 15px;vertical-align: bottom;display: inline-block;text-indent: -9999px;background-image: url("../../../resources/images/index/icon_more.png");background-repeat: no-repeat;background-position: center center;background-size: contain;-webkit-transition: all 0.3s ease-in-out;transition: all 0.3s ease-in-out;}
header .control-btns .btn-back .icon-back {width: 20px;height: 20px;vertical-align: bottom;display: inline-block;text-indent: -9999px;background-image: url("../../../resources/images/index/icon_back.png");background-repeat: no-repeat;background-position: center center;background-size: contain;-webkit-transition: all 0.3s ease-in-out;transition: all 0.3s ease-in-out;}
header .control-btns .btn-code .icon-code {width: 20px;height: 20px;vertical-align: bottom;display: inline-block;text-indent: -9999px;background-image: url("../../../resources/images/index/icon_code.png");background-repeat: no-repeat;background-position: center center;background-size: contain;-webkit-transition: all 0.3s ease-in-out;transition: all 0.3s ease-in-out;}
header .control-btns .btn-noti {width:16px;height:19px;margin-left:8px;margin-right:5px;}
header .control-btns .btn-noti.on {position:relative;}
header .control-btns .btn-noti.on::before {content: '';width: 5px;height: 5px;position: absolute;top: 0;right: -5px;border-radius: 50%;background-color: #dc291e;}
header .control-btns .btn-noti .icon-noti {width: 16px;height: 19px;vertical-align: bottom;display: inline-block;text-indent: -9999px;background-image: url("../../../resources/images/index/icon_noti.png");background-repeat: no-repeat;background-position: center center;background-size: contain;-webkit-transition: all 0.3s ease-in-out;transition: all 0.3s ease-in-out;background-position-x: left;}
header .control-btns .btn-search-main .icon-search-main {width: 20px;height: 20px;vertical-align: bottom;display: inline-block;text-indent: -9999px;background-image: url("../../../resources/images/index/icon_search_main.png");background-repeat: no-repeat;background-position: center center;background-size: contain;-webkit-transition: all 0.3s ease-in-out;transition: all 0.3s ease-in-out;}
header .control-btns .btn-search-main .icon-setting-main {width: 20px;height: 20px;vertical-align: bottom;display: inline-block;text-indent: -9999px;background-image: url("../../../resources/images/index/icon_setting_main.png");background-repeat: no-repeat;background-position: center center;background-size: contain;-webkit-transition: all 0.3s ease-in-out;transition: all 0.3s ease-in-out;}
header .control-btns .btn-noti + .btn-search-main {margin-left:6px;}
header .header-contents {display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-align: center;    -ms-flex-align: center;        align-items: center;}
header .header-contents .btn-logo {width:60px;display:block;margin:0 auto;}

/* Main Contents */
.user-status-area {height: 75px; padding: 15px 0;border-bottom: 1px solid rgba(178, 182, 190, 0.7);}
.user-name-location {display: -webkit-box;display: -ms-flexbox;display: flex;justify-content: space-between;align-items: center;}
.user-name-location .name-box {display:flex;}
.user-name-location .name {font-weight:bold;font-size:13px;}
.user-name-location .position-location {display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-align: center;    -ms-flex-align: center;        align-items: center;margin-left: 10px;font-size: 13px;}
.user-name-location .position-location .position {display: none;-webkit-box-align: center;    -ms-flex-align: center;        align-items: center;margin-right: 5px;}
.user-name-location .position-location .position::after {content: '/';margin-left: 5px;}
.user-name-location .position-location.has-position .position {display:-webkit-box;display:-ms-flexbox;display:flex;}
.user-information .user-day-time {display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-align: center;    -ms-flex-align: center;        align-items: center;margin-top: 12px;}
/*.user-information */.user-day-time .icon-alarm {position: relative;top: -2px;width: 12px;height: 12px;vertical-align: bottom;display: inline-block;text-indent: -9999px;background-image: url("../../../resources/images/index/icon_alarm.png");background-repeat: no-repeat;background-position: center center;background-size: contain;-webkit-transition: all 0.3s ease-in-out;transition: all 0.3s ease-in-out;}
/*.user-information*/ .user-day-time span {margin-left:5px;}
/*.user-information*/ .user-day-time span.day {font-weight:bold;margin-left:3px;}
.user-information .user-checkup {display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;margin-top:11px;}
.user-information .user-checkup .text {margin-right:12px;font-weight:bold;}
.user-information .user-checkup .dday {color:#ed3124;}
.user-information .user-checkup .dday .b {color: #373e36;}
.status-badge-txt {display: inline-block;margin-right: 5px;vertical-align: bottom;line-height:19px;}
 .status-badge {display: inline-block;width: 60px;max-width: 60px;padding: 1px 5px 2px;position: relative;border-width: 2px;border-style: solid;border-color: transparent;border-radius: 15px;background-color: #fff;text-align: center;margin-top: 3px;}
.status-badge.request {border-color: #fb4357;background-color: #fff;color: #fb4357;font-weight: bold;}
/* 출근전 */
 .status-badge.before {background-color: #fb4357;}
 .status-badge.before span::before {content: '출근전';color: #fff;}
/* 출근 */
 .status-badge.start {color: #fb4357;padding-left: 20px;border-color: #fb4357;}
 .status-badge.start span::before,
 .status-badge.start span::after {content: '';width: 5px;height: 2px;position: absolute;top: 50%;left: 5px;margin-top: 2px;border-radius: 2px;background-color: #fb4357;-webkit-transform: rotate(45deg);        transform: rotate(45deg);}
 .status-badge.start span::after {width: 12px;margin-top: 0px;margin-left: 2px;-webkit-transform: rotate(-45deg);        transform: rotate(-45deg);}
/* 근무중 */
.status-badge.working {border-color: #4a90e2;}
.status-badge.working span::before {content: '근무중';color: #4a90e2;}

.status-badge.working::before {content: '';width: 8px;height: 11px;vertical-align: middle;display: inline-block;text-indent: -9999px;background-image: url("../../../resources/images/index/icon_ing.png");background-repeat: no-repeat;background-position: center center;background-size: contain;-webkit-transition: all 0.3s ease-in-out;transition: all 0.3s ease-in-out;margin-right: 2px;}
.status-badge.done {border-color: #4b4f56;}

.status-badge.done span::before {content: '업무종료';color: #4b4f56;}

/* 휴무 */
.status-badge.dayoff {border-color: #9197a3;}
.status-badge.dayoff span::before {content: '휴무';color: #9197a3;}
.status-badge.dayoff::before {content: '';width: 11px;height: 13px;vertical-align: bottom;display: inline-block;text-indent: -9999px;background-image: url("../../../resources/images/index/icon_dayoff.png");background-repeat: no-repeat;background-position: center center;background-size: contain;-webkit-transition: all 0.3s ease-in-out;transition: all 0.3s ease-in-out;margin-right: 2px;}
.menu-slide-area {width:100%;}
.menu-slide-area .menu-slide {height:100%;text-align:center;}
.menu-slide-area .menu-slide .slide-items {display:table;table-layout:fixed;height:166px;text-align:left;}
.menu-slide-area .menu-slide .slide-items .slide-item {display:inline-table;width:25%;padding:15px 0 20px;text-align:center;}
.menu-slide-area .menu-slide .slide-items .slide-item a {display:inline-block;color:#373e46;line-height:1;}
.menu-slide-area .menu-slide .slide-items .slide-item a i {width: 30px;height: 30px;margin: 0 auto 5px;vertical-align: bottom;display: block;text-indent: -9999px;background-repeat: no-repeat;background-position: center center;background-size: contain;-webkit-transition: all 0.3s ease-in-out;transition: all 0.3s ease-in-out;}

.menu-slide-area .menu-slide .slide-items .slide-item a .icon-scr1 {background-image: url("../../../resources/images/index/ic_m01_movie.png");}
.menu-slide-area .menu-slide .slide-items .slide-item a .icon-scr3 {background-image: url("../../../resources/images/index/ic_m02_ticket.png");}
.menu-slide-area .menu-slide .slide-items .slide-item a .icon-mis2 {background-image: url("../../../resources/images/index/ic_m03_time.png");}
.menu-slide-area .menu-slide .slide-items .slide-item a .icon-mtn1 {background-image: url("../../../resources/images/index/ic_m04_memo.png");}
.menu-slide-area .menu-slide .slide-items .slide-item a .icon-mis1 {background-image: url("../../../resources/images/index/ic_m05_miso.png");}
.menu-slide-area .menu-slide .slide-items .slide-item a .icon-cut2 {background-image: url("../../../resources/images/index/ic_m06_voc.png");}
.menu-slide-area .menu-slide .slide-items .slide-item a .icon-cut3 {background-image: url("../../../resources/images/index/ic_m07_lost.png");}
.menu-slide-area .menu-slide .slide-items .slide-item a .icon-mis5 {background-image: url("../../../resources/images/index/ic_m08_point.png");}
.menu-slide-area .menu-slide .slide-items .slide-item a .icon-scr2 {background-image: url("../../../resources/images/index/ic_m09_movie_info.png");}
.menu-slide-area .menu-slide .slide-items .slide-item a .icon-scr4 {background-image: url("../../../resources/images/index/ic_m10_vip.png");}
.menu-slide-area .menu-slide .slide-items .slide-item a .icon-scr5 {background-image: url("../../../resources/images/index/ic_m19_scr05.png");}
.menu-slide-area .menu-slide .slide-items .slide-item a .icon-mis3 {background-image: url("../../../resources/images/index/ic_m11_schedule.png");}
.menu-slide-area .menu-slide .slide-items .slide-item a .icon-mis4 {background-image: url("../../../resources/images/index/ic_m12_change.png");}
.menu-slide-area .menu-slide .slide-items .slide-item a .icon-mis6 {background-image: url("../../../resources/images/index/ic_m13_vacation.png");}
.menu-slide-area .menu-slide .slide-items .slide-item a .icon-mis8 {background-image: url("../../../resources/images/index/ic_m14_join.png");}
.menu-slide-area .menu-slide .slide-items .slide-item a .icon-mis7 {background-image: url("../../../resources/images/index/ic_m15_emergency.png");}
.menu-slide-area .menu-slide .slide-items .slide-item a .icon-mtn2 {background-image: url("../../../resources/images/index/ic_m16_my.png");}

.menu-slide-area .menu-slide .slide-items .slide-item a .icon-new02 {background-image: url("../../../resources/images/index/ic_m17_my.png");}
.menu-slide-area .menu-slide .slide-items .slide-item a .icon-new03 {background-image: url("../../../resources/images/index/ic_m18_my.png");}
.menu-slide-area .menu-slide .slide-items .slide-item a .icon-new04 {background-image: url("../../../resources/images/index/ic_m19_my.png");}
.menu-slide-area .menu-slide .slide-items .slide-item a .icon-new05 {background-image: url("../../../resources/images/index/ic_m20_my.png");}
.menu-slide-area .menu-slide .slide-items .slide-item a .icon-new06 {background-image: url("../../../resources/images/index/ic_m21_my.png");}
.menu-slide-area .menu-slide .slide-items .slide-item a .icon-new07 {background-image: url("../../../resources/images/index/ic_m22_order.png");}
.menu-slide-area .menu-slide .slide-items .slide-item a .icon-new08 {background-image: url("../../../resources/images/index/ic_m19_scr06.png");}

/*실적*/
.menu-slide-area .menu-slide .slide-items .slide-item a .icon-result1 {background-image: url("../../../resources/images/result/icon_result_main.png");}
/*.menu-slide-area .menu-slide .slide-items .slide-item a i.icon-search {background-image: url("../../../resources/images/index/ic_m17_search.png");}
.menu-slide-area .menu-slide .slide-items .slide-item a i.icon-alarm {background-image: url("../../../resources/images/index/ic_m18_alarm.png");} */
.menu-slide-area .menu-slide-btns {position:relative;z-index:2;margin:10px 0 15px;}
.menu-slide-area .menu-slide-btns .swiper-pagination {position:relative;}
.menu-slide-area .menu-slide-btns .swiper-pagination .swiper-pagination-bullet {opacity:1;margin:0 4px;background:#d7d7d7;-webkit-transition:all 0.2s ease-in-out;transition:all 0.2s ease-in-out;}
.menu-slide-area .menu-slide-btns .swiper-pagination .swiper-pagination-bullet-active {background:#fb4357;}
.menu-slide-area .menu-slide-btns .btn-menu-setting {position:absolute;bottom:0;right:0;z-index:15;color:#9197a3;}
.menu-slide-area .menu-slide-btns .btn-menu-setting .icon-filter {width: 13px;height: 12px;vertical-align: bottom;display: inline-block;text-indent: -9999px;background-image: url("../../../resources/images/index/icon_filter.png");background-repeat: no-repeat;background-position: center center;background-size: contain;-webkit-transition: all 0.3s ease-in-out;transition: all 0.3s ease-in-out;margin-right: 3px;}

.board-preview-area {margin:0 -15px 0;padding:10px 15px 2px;background-color:#e9eaed;}
.board-preview-area .board-preview-item {display:block;width:100%;height:30px;}
.board-preview-area .board-preview-item:after {content:'';clear:both;display:table;}
.board-preview-area .board-preview-item .type {display:block;float:left;width:60px;font-size:15px;font-weight:bold;line-height:24px;}

.board-preview-area.mis-type .board-preview-item .type {width:80px;}
.board-preview-area.mis-type .board-preview-item a.title, 
.board-preview-area.mis-type .board-preview-item .notice-items a {width:calc(100% - 80px)}
.board-preview-area.mis-type {padding:10px 15px 5px;}
.board-preview-area.mis-type .board-preview-item .title .shape-arrow {top:1px;}
/* 아이콘 new */
.new .type {position:relative;line-height:18px;white-space:nowrap;}
.new .type.on::before {content:'';width:4px;height:4px;position:absolute;top:-1px;right:3px;border-radius:50%;background-color:#dc291e;}

.board-preview-area .board-preview-item .title .time {display:inline-block;vertical-align:middle;margin-top:-1px;margin-right:5px;padding:1px 5px 1px;border-radius:10px;border:1px solid #fb4357;font-size:11px;color:#fb4357;line-height:14px !important;}
.board-preview-area .board-preview-item .title .shape-arrow {position:absolute;top:0;right:0;display:block;width:20px;height:20px;border-radius:50%;background-color:#bdc1c8;}
.board-preview-area .board-preview-item .title .shape-arrow::before {content:'';position:absolute;top:50%;left:50%;display:block;width:8px;height:8px;margin: -4px 0 0 -5px;border-width: 2px 2px 0 0;border-style: solid;border-color: #e9eaed #e9eaed transparent transparent;-webkit-transform: rotate(45deg);transform: rotate(45deg);}
.board-preview-area .board-preview-item a.title,
.board-preview-area .board-preview-item .notice-items a {overflow:hidden;position:relative;float:left;width:calc(100% - 60px);height:30px;display:block;padding:1.5px 20px 1.5px 2px;text-overflow:ellipsis;color: #373e46;font-size:12px;font-weight:700;line-height:20px;white-space:nowrap;}
.board-preview-area .board-preview-item .notice-items {overflow:hidden;float:left;display:block;width:calc(100% - 60px);height:30px;}
.board-preview-area .board-preview-item .notice-items .title {position:relative;display:block;width:100%;height:30px;line-height:18px;}
.board-preview-area .board-preview-item .notice-items .txt {width:calc(100% - 30px);padding-right:0;height:30px;line-height:21px;}
.board-preview-area .board-preview-item .notice-items .rol-notice {position:relative;width:100%;}
.board-preview-area .board-preview-item .notice-items .swiper-slide {float:none;width:100%;-webkit-transition:all 0.2s ease-in-out;transition:all 0.2s ease-in-out;opacity:0;}
.board-preview-area .board-preview-item .notice-items .swiper-slide.swiper-slide-active {opacity:1;}

.graph-wrap {position:absolute;flex:1;top:410px;left:15px;right:15px;bottom:5px;}
.graph-wrap.brdPrevRows {top:382px !important;}
.graph-wrap.brdPrevnone {top:332px !important;}
.result-wrap.brdPrevRows {top:382px !important;}
.result-wrap.brdPrevnone {top:332px !important;}

.ticketing-rate-wrap {position:absolute;top:24px;left:0;width:100%;bottom:0;}
.ticketing-rate-wrap .ticketing-rate-area {height:100%;}
.ticketing-rate-controls .swiper-prev,
.ticketing-rate-controls .swiper-next {position: absolute;top: 50%;left: -16px;width: 20px;height: 40px;margin-top: -20px;vertical-align: bottom;display: inline-block;text-indent: -9999px;background-image: url("../../../resources/images/index/icon_sliders_arrow.png");background-repeat: no-repeat;background-position: center center;background-size: contain;-webkit-transition: all 0.3s ease-in-out;transition: all 0.3s ease-in-out;z-index: 10;opacity: 0.8;}
.ticketing-rate-controls .swiper-next {left: auto;right: -16px;-webkit-transform: scaleX(-1);transform: scaleX(-1);}
.ticketing-rate-area .ticketing-rate-items {height:100%;pading:0 1px;}
.ticketing-rate-area .ticketing-rate-items.swiper-slide-active {z-index: 2;}
.ticketing-rate-area .ticketing-title {display:table;width:100%;table-layout:fixed;}
.ticketing-rate-area .ticketing-title .theater-name {display:table-cell;color:#373e46;font-size:14px;font-weight: bold; padding-left:2px;}
.ticketing-rate-area .ticketing-title .theater-name span {color:#fb4357;}
.ticketing-rate-area .ticketing-title .theater-status {display:table-cell;width:130px;text-align:right;}
.ticketing-rate-area .ticketing-title .theater-status .today {color:#4b4f56;font-size:15px;font-weight:700;}
.ticketing-rate-area .ticketing-title .theater-status .today span {font-size: 12px;}

.ticketing-rate-area .ticketing-title .theater-status .day {display:inline-block;padding:2px 6px 2px 6px;border-radius:15px;background-color:#4b4f46;color:#fff;font-size:12px;}

.ticketing-rate-area .ticketing-title .theater-status .total-audience,
.ticketing-rate-area .ticketing-title .theater-status .total-percentage {display:inline-block;color:#fb4357;font-size:14px;font-weight:bold;}
.ticketing-rate-area .ticketing-title .theater-status .total-audience .icon-user,
.ticketing-rate-area .ticketing-title .theater-status .total-percentage .icon-user {position: relative;top: -3px;display: inline-block;width: 10px;height: 12px;vertical-align: bottom;text-indent: -9999px;background-image: url("../../../resources/images/index/icon_user_s.png");background-repeat: no-repeat;background-position: center center;background-size: contain;-webkit-transition: all 0.3s ease-in-out;transition: all 0.3s ease-in-out;}

.ticketing-rate-area .ticketing-title .theater-status .total-audience .icon-diagram,
.ticketing-rate-area .ticketing-title .theater-status .total-percentage .icon-diagram {position: relative;top: -3px;display: inline-block;width: 12px;height: 12px;vertical-align: bottom;text-indent: -9999px;background-image: url("../../../resources/images/index/icon_diagram_s.png");background-repeat: no-repeat;background-position: center center;background-size: contain;-webkit-transition: all 0.3s ease-in-out;transition: all 0.3s ease-in-out;}

.ticketing-rate-area .ticketing-title .theater-status .total-percentage {margin-left: 5px;}
.ticketing-rate-area .ticketing-rate-chart {position:absolute;top:25px;left:0;bottom:0;overflow-y:auto;width:100%;-webkit-overflow-scrolling:touch;}
.ticketing-rate-area .ticketing-rate-chart .chart-item {width:100%;}
.ticketing-rate-area .ticketing-rate-chart .chart-item:after {content:'';display:block;clear:both;}
.ticketing-rate-area .ticketing-rate-chart .chart-item + .chart-item {margin-top: 13px;}
.ticketing-rate-area .ticketing-rate-chart .chart-item .movie-rate-information {display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-align: end;    -ms-flex-align: end;        align-items: flex-end;padding-bottom: 3px;}

.ticketing-rate-area .ticketing-rate-chart .chart-item .movie-rate-information .theater-type {font-size: 10px;text-align: center;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;width: 35px;max-width: 50px;margin-right: 6px;}

.ticketing-rate-area .ticketing-rate-chart .chart-item .movie-rate-information .movie-name {font-size:13px;font-weight:bold;}
.ticketing-rate-area .ticketing-rate-chart .chart-item .movie-rate-chart {width: 100%;height: 18px;max-height: 18px;display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-align: center;    -ms-flex-align: center;        align-items: center;}

 .ticketing-rate-area .ticketing-rate-chart .chart-item .movie-rate-chart .showing-time {min-width: 35px;max-width: 50px;height: 100%;display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-pack: center;-ms-flex-pack: center;justify-content: center;-webkit-box-align: center;-ms-flex-align: center;align-items: center;margin-right: 6px;font-size: 11px;border-radius: 3px;border: 1px solid #c2c2c2;background-color: #ebebeb;}

 .ticketing-rate-area .ticketing-rate-chart .chart-item .movie-rate-chart .chart-box {height: 100%;display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-align: center;    -ms-flex-align: center;        align-items: center;position: relative;}

.ticketing-rate-area .ticketing-rate-chart .chart-item .movie-rate-chart .chart-box.max {width:100% !important;}
.ticketing-rate-area .ticketing-rate-chart .chart-item .movie-rate-chart .chart-box .chart-track {width: 100%;font-size: 10px;height: 100%;display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-pack: justify;    -ms-flex-pack: justify;        justify-content: space-between;-webkit-box-align: center;    -ms-flex-align: center;        align-items: center;position: relative;/* padding-right: 10px; */background-color: #bdc1c8;}
.ticketing-rate-area .ticketing-rate-chart .chart-item .movie-rate-chart .chart-box .chart-track * {color:#fff;}
.ticketing-rate-area .ticketing-rate-chart .chart-item .movie-rate-chart .chart-box .chart-track > span {height: 100%;display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-align: center;    -ms-flex-align: center;        align-items: center;position: absolute;right: 5px;}
.ticketing-rate-area .ticketing-rate-chart .chart-item .movie-rate-chart .chart-box .chart-track .chart-bar {font-size: 12px;height: 100%;display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-pack: end;-ms-flex-pack: end;justify-content: flex-end;-webkit-box-align: center;-ms-flex-align: center;align-items: center;background-color: #fb4357;z-index: 1;}
.ticketing-rate-area .ticketing-rate-chart .chart-item .movie-rate-chart .chart-box .chart-track .chart-bar.position-change {position:relative;justify-content:end;}
.ticketing-rate-area .ticketing-rate-chart .chart-item .movie-rate-chart .chart-box .chart-track .chart-bar > span {margin-right: 5px;}
.ticketing-rate-area .ticketing-rate-chart .chart-item .movie-rate-chart .chart-box .chart-track .chart-bar.position-change > span {position:absolute;right:-35px;margin-right:0;}
.ticketing-rate-area .ticketing-rate-chart .chart-item .movie-rate-chart .chart-box .total-rate {font-size: 13px;font-weight: bold;min-width: 50px;max-width: 50px;height: 100%;display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-pack: center;    -ms-flex-pack: center;        justify-content: center;-webkit-box-align: center;    -ms-flex-align: center;        align-items: center;}

/* 정직원 스케쥴 */
.timeline-scroll {overflow-y:auto;position:absolute;top:64px;width:100%;bottom:0;-webkit-overflow-scrolling:touch;}
.schedule-box .timeline-box {/* height: 63.6px; */align-items:center;position:relative;padding-bottom:0;}
.schedule-box .timeline-list {display:inline-block;width:auto;border-radius:20px;font-size:12px;color:#ffffff;font-weight:400;word-break:keep-all;}
/* 지난시간 */
.schedule-box .past-time .timeline-time,
.schedule-box .past-time .timeline-time span {color:#c8cbd1}
/* 임박한 시간 */
.schedule-box .before-time .timeline-time,
.schedule-box .before-time .timeline-time span {color:#fb4357;}
/* 미래시간 */
.schedule-box .future-time .timeline-time,
.schedule-box .future-time .timeline-time span {color:#4a90e2;}
.schedule-box .past-time .timeline-list {background:#c8cbd1;word-break:keep-all;}
.schedule-box .before-time .timeline-list {background:#fb4357;}
.schedule-box .future-time .timeline-list {background:#4a90e2;}
.schedule-box .timeline-box::before {content: '';width: 2px;/* height: calc(100% + 13px); */height: calc(100% + 6px);position: absolute;top: -50%;left: 79px;background: transparent;z-index: 1;}
/* 
.schedule-box .timeline-box.past-time::before {background: #c8cbd1;}
.schedule-box .timeline-box.before-time::before {background: #fb4357;}
.schedule-box .timeline-box.future-time::before {background: #4a90e2;} 
*/
.schedule-box .timeline-box.past-time + .timeline-box.past-time::before,
.schedule-box .timeline-box.past-time + .timeline-box.before-time::before,
.schedule-box .timeline-box.past-time + .timeline-box.future-time::before {background:#c8cbd1;}
.schedule-box .timeline-box.before-time + .timeline-box.past-time::before ,
.schedule-box .timeline-box.before-time + .timeline-box.before-time::before ,
.schedule-box .timeline-box.before-time + .timeline-box.future-time::before {background:#fb4357;}
.schedule-box .timeline-box.future-time + .timeline-box.past-time::before ,
.schedule-box .timeline-box.future-time + .timeline-box.before-time::before ,
.schedule-box .timeline-box.future-time + .timeline-box.future-time::before {background:#4a90e2;}
.schedule-box .timeline-box + .timeline-box {padding-top:13px;}
.schedule-box .timeline-box + .timeline-box:last-child::before {max-height:unset;}
.schedule-box .timeline-box:first-child::before {height:0;}
.schedule-box .timeline-box.detail {height:auto;align-items:flex-start;padding:20px 0 0 0;}
.schedule-box .timeline-time {position:relative;z-index:2;display:flex;min-width:112px;padding-right:24px;justify-content:space-between;align-items:center;color:#fb4357;font-size:15px;font-weight:bold;}
.schedule-box .timeline-time span {color:#fb4357;font-size:12px;font-weight:400;}
.schedule-box .timeline-time .icon {position:relative;margin-left:14px;vertical-align:top;background-color: #fff;}
.schedule-box .timeline-time .icon {width:15px;height:15px;}
.schedule-box .past-time .timeline-time .icon-dot {background-image: url(../../../resources/images/timeline_dot_gray.png);}
.schedule-box .before-time .timeline-time .icon-dot {background-image: url(../../../resources/images/timeline_dot.png);}
.schedule-box .future-time .timeline-time .icon-dot {background-image: url(../../../resources/images/timeline_dot_blue.png);}

/* 정직원 / 미소지기 스케줄 */
.schedule-box .ticket-status button {padding:0 7px;font-size: 12px;}
.today-work-schedule .schedule-box {position:absolute;top:0;bottom:0;left:0;width:100%;}
.today-work-schedule .schedule-box .main-title {display:flex;margin-bottom:20px;align-items:center;justify-content:space-between;}
.today-work-schedule .schedule-box .main-title span{color: #4b4f56;font-size: 14px;font-weight: bold;}
.today-work-schedule .schedule-box .main-title .screen,
.ticketing-rate-area .ticketing-title .theater-name .screen {color:#4b4f56;font-size:12px;font-weight:400;}
.today-work-schedule .schedule-box .main-title .btn-goto {padding:2px 0;}
.today-work-schedule .schedule-box .main-title .btn-goto > img{width:8px;height:15px;}
.today-work-schedule .chart-item-scroll {overflow-y:auto;position:absolute;top:64px;width:100%;bottom:0;-webkit-overflow-scrolling:touch;}
.today-work-schedule .chart-item {position:relative;width:100%;min-height:35px;}
.today-work-schedule .chart-item::before {position: absolute;content: '';left: 44px;top: 0;width: 1px;height: 100%;background: #9197a3;}
.today-work-schedule .chart-item:last-child::before {height:15px;}
.today-work-schedule .chart-item .movie-rate-information {display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-align: end;-ms-flex-align: end;align-items: flex-start;padding-top: 4px;padding-bottom: 4px;padding-left: 51px;padding-right: 6px;font-weight: bold;flex-wrap: wrap;min-width: 22px;}
.today-work-schedule .chart-item .movie-rate-information:after {content:'';clear:both;display:block;}
.today-work-schedule .chart-item .movie-rate-information .theater-type {font-size: 10px;text-align: center;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;width: 40px;min-width: 40px;margin-right: 5px;}
.today-work-schedule .movie-rate-information .movie-name {display:flex;align-items:center;justify-content:flex-start;}
.today-work-schedule .movie-rate-information .name {color:#4b4f56;font-size:10px;font-weight:700;}
.today-work-schedule .movie-rate-information .store {margin-bottom:1px;color:#4b4f56;font-size:10px;font-weight:400;}
.today-work-schedule .movie-rate-information .movie-name {position:relative;padding:1px 3px 2px 0;margin-right:3px;}
.today-work-schedule .movie-rate-information .movie-name::after {content: '';display: block;position: absolute;top: 6px;right: 0;width: 1px;height: 7px;background: #bdc1c8;}
.today-work-schedule .movie-rate-information .movie-name i {display: inline-flex;margin-left: 2px;flex: 0 0 auto;vertical-align: text-top;text-indent: -9999px;border: 0;background-color: transparent;background-repeat: no-repeat;background-position: center center;background-size: contain;width: 15px;height: 15px;vertical-align: sub;margin-bottom: 1px;}
.today-work-schedule .movie-rate-information .movie-name:nth-of-type(3n) {padding-right:0;margin-right:0;}
.today-work-schedule .movie-rate-information .movie-name:nth-of-type(3n)::after {display:none;}

.today-work-schedule .movie-rate-information .movie-name.sort-store1 i {background-image: url("../../../resources/images/position_st01.png");}/* 미소지기 아이콘 - 매점1 */
.today-work-schedule .movie-rate-information .movie-name.sort-store2 i  {background-image: url("../../../resources/images/position_st02.png");}/* 미소지기 아이콘 - 매점2 */
.today-work-schedule .movie-rate-information .movie-name.sort-ticket1 i  {background-image: url("../../../resources/images/position_tc01.png");}/* 미소지기 아이콘 - 티켓1 */
.today-work-schedule .movie-rate-information .movie-name.sort-ticket2 i  {background-image: url("../../../resources/images/position_tc02.png");}/* 미소지기 아이콘 - 티켓2 */
.today-work-schedule .movie-rate-information .movie-name.sort-floor i  {background-image: url("../../../resources/images/position_fl01.png");}/* 미소지기 아이콘 - 플로어 */
.today-work-schedule .movie-rate-information .movie-name.sort-etc i  {background-image: url("../../../resources/images/position_etc.png");}/* 미소지기 아이콘 - 기타 */
.today-work-schedule .chart-item .movie-rate-chart {display:-webkit-box;display:-ms-flexbox;display:flex;width:100%;height:18px;max-height:18px;-webkit-box-align:center;-ms-flex-align: center;align-items: center;}
.today-work-schedule .chart-item .showing-time {display:flex;min-width:40px;max-width:40px;height:100%;margin-right:5px;padding-top: 2px;justify-content:flex-end;align-items:center;border-radius:3px;font-size: 12px;font-weight:700;}
.today-work-schedule .chart-item .chart-box {height: 100%;display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-align: center;    -ms-flex-align: center;        align-items: center;position: relative;}
.today-work-schedule .chart-item .chart-box.max {width: 100% !important;}
.today-work-schedule .chart-item .chart-track {width: 100%;font-size: 10px;height: 100%;display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-pack: justify;-ms-flex-pack: justify;justify-content: space-between;-webkit-box-align: center;-ms-flex-align: center;align-items: center;position: relative;padding-right: 10px;}
.today-work-schedule .chart-item .chart-track * {color:#fff;}
.today-work-schedule .chart-item .chart-track > span {height: 100%;display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-align: center;    -ms-flex-align: center;        align-items: center;position: absolute;right: 5px;}
.today-work-schedule .chart-item .chart-track .chart-bar {font-size: 12px;height: 100%;display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-pack: end;    -ms-flex-pack: end;        justify-content: flex-end;-webkit-box-align: center;    -ms-flex-align: center;        align-items: center;padding-right: 5px;background-color: #fb4357;}
.today-work-schedule .chart-item.past-time .showing-time {color:#c8cbd1;}/* 지난 시간 */
.today-work-schedule .chart-item.before-time .showing-time {color:#fb4357;}/* 임박한 시간 */
.today-work-schedule .chart-item.future-time .showing-time {color:#4a90e2;}/* 미래시간 */
.today-work-schedule .chart-item.past-time .chart-track .chart-bar {background-color: #c8cbd1;}/* 지난 시간 */
.today-work-schedule .chart-item.before-time .chart-track .chart-bar {background-color: #fb4357;}/* 임박한 시간 */
.today-work-schedule .chart-item.future-time .chart-track .chart-bar {background-color: #4a90e2;}/* 미래시간 */
.today-work-schedule .chart-item .total-rate {font-weight: bold;min-width: 50px;max-width: 50px;height: 100%;display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-pack: center;    -ms-flex-pack: center;        justify-content: center;-webkit-box-align: center;    -ms-flex-align: center;        align-items: center;}
/* 
 .schedule-title {display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-pack: justify;    -ms-flex-pack: justify;        justify-content: space-between;-webkit-box-align: center;    -ms-flex-align: center;        align-items: center;}
 .schedule-title .employee-total {font-size: 15px;font-weight: bold;}
 */
.ticketing-rate-area .ticketing-title.type01 .theater-name {width:110px;}
.ticketing-rate-area .ticketing-title.type01 .ticket-status {display:table-cell;height:auto;margin:0;text-align:right;} 
.ticketing-rate-area .ticketing-title.type02 .theater-status {display:table-cell;height:auto;margin:0;text-align:right;}
.ticketing-rate-area .ticket-status button {position:relative;padding:0 7px;color:#4b4f56;font-size:12px;font-weight:400;text-align:center;}
.ticketing-rate-area .ticket-status .active {color:#fb4357;font-weight:bold;}
.ticketing-rate-area .ticket-status button::before {position:absolute;top:2px;right:0;width:1px;height:11px;content:'';font-weight:normal;background-color:#acacac;}
.ticketing-rate-area .ticket-status button:last-child::before {display:none;}

.page-devide-border {width:calc(100% + 30px);height:6px;margin-left:-15px;margin-right:-15px;background: #f2f2f2;}

/* 791 */
.icon-fulltime {position:relative;top:-1px;width:15px;height:15px;margin-right:3px;background-image: url("../../../resources/images/index/ic_m_office.png");}
.icon-parttime {position:relative;top:-1px;width:15px;height:15px;margin-right:3px;background-image:url("../../../resources/images/index/ic_m_smile.png");}

/* 전일실적 */
.work-summary {overflow:hidden;min-width: 90px;font-size: 13px;}
.work-summary .icon {width:18px;height:18px;margin-right:2px;}
.work-summary01 {background-image: url(../../../resources/images/ic_m3_01.png);}
.work-summary02 {background-image: url(../../../resources/images/ic_m3_02.png);}
.work-summary03 {background-image: url(../../../resources/images/ic_m3_03.png);}
.work-summary .arrow {display:block;float:right;width:7px;height:13px;margin-top:2px;margin-right:10px;background:url("../../../resources/images/icon_arrow_black.png") no-repeat center center;background-size:100% 100%;}
.chart-bar-info {display:inline-block;float:right;width:calc(100% - 92px);margin-top:5px;}
.chart-bar-info .info {display:inline-block;position:relative;}
.chart-bar-info .info:first-child {padding-right:5px;}
.chart-bar-info .info:first-child:after {content:'';display:block;position:absolute;top:3px;right:0;width:1px;height:10px;background:#9197a3;}
.chart-bar-info .icon {width:16px;height:16px;}
.chart-bar01 {background-image: url(../../../resources/images/ic_m3_04.png);}
.chart-bar02 {background-image: url(../../../resources/images/ic_m3_05.png);}
.chart-bar03 {background-image: url(../../../resources/images/ic_m3_06.png);}
.chart-bar04 {background-image: url(../../../resources/images/ic_m3_07.png);}
.chart-bar05 {background-image: url(../../../resources/images/ic_m3_08.png);}
.chart-bar06 {background-image: url(../../../resources/images/ic_m3_09.png);}
.chart-bar07 {background-image: url(../../../resources/images/icon_store2.png);}

/* 실적데이터(본사) */
.result-wrap {position:absolute;top:410px;left:0;right:0;bottom:5px;flex:1;}
.result-wrap .result-view {position:absolute;top:24px;left:0;width:100%;bottom:0;}
.result-wrap .search-area {margin:0 15px;}
.result-wrap .search-area p {color:#373e46;font-size:14px;font-weight:bold;padding-left:2px;}
.result-wrap .total-area {margin:5px 15px 0;}
.result-wrap .total-area strong {margin-right:3px;font-size:13px;color:#fb4357;}
.result-wrap .scroll-area {position:absolute;top:45px;bottom:0;width:100%;overflow-y:scroll;-webkit-overflow-scrolling:touch;}
.table-info.country-icon-style {margin:0;border-bottom:1px solid #ccc;}
.table-info.country-icon-style .point-bg01 {background:#f7f7f7;}
.table-info.country-icon-style .total td {font-size:13px;font-weight:bold;border-top:1px solid #ccc;border-bottom:1px solid #ccc;}
.table-info.country-icon-style thead th {padding:8px 0 7px;font-size:13px;}
.table-info.country-icon-style tbody td {padding:8px 0 7px;font-size:13px;border:0;}
.table-info.country-icon-style thead th:first-child{border-right: 1px solid #bdc1c8;}
.table-info.country-icon-style tbody td:first-child {border-right:1px solid #bdc1c8;}
.table-info.country-icon-style .c-icon {padding-left:40px;border-right:1px solid #bdc1c8;background-repeat:no-repeat;background-position:left 17px center;background-size:15px;text-align:left;}
.table-info.country-icon-style .c-icon.ctry-01 {background-image:url(../../../resources/result/images/icon_c_kor.png);}
.table-info.country-icon-style .c-icon.ctry-08 {background-image:url(../../../resources/result/images/icon_c_chn.png);}
.table-info.country-icon-style .c-icon.ctry-03 {background-image:url(../../../resources/result/images/icon_c_vnm.png);}
.table-info.country-icon-style .c-icon.ctry-04 {background-image:url(../../../resources/result/images/icon_c_idn.png);}
.table-info.country-icon-style .c-icon.ctry-06 {background-image:url(../../../resources/result/images/icon_c_tur.png);}
.table-info.country-icon-style .c-icon.ctry-05 {background-image:url(../../../resources/result/images/icon_c_mmr.png);}
.table-info.country-icon-style .c-icon.ctry-02 {background-image:url(../../../resources/result/images/icon_c_usa.png);}
.table-info.country-icon-style .c-icon.ctry-07 {background-image:url(../../../resources/result/images/icon_c_rus.png);}
.table-info.country-icon-style .c-icon.ctry-80,
.table-info.country-icon-style .c-icon.ctry-90 {padding-left:0;background-repeat:no-repeat;background-position:center;background-size:auto 15px; text-align:center;font-size:0;}
.table-info.country-icon-style .c-icon.ctry-80 {background-image:url(../../../resources/result/images/icon_c_four_dx.png);}
.table-info.country-icon-style .c-icon.ctry-90 {background-image:url(../../../resources/result/images/icon_c_screen_x.png);}


/* 미소지기 메인 내정보 */
.user-status-area:after {content:'';display:block;clear:both;}
.user-status-area .user-status {text-align:right;display:inline-block;float:right;margin-top:3px;}
.user-status-area .user-info {display:flex;align-items:center;justify-content:flex-start;padding:4px 0 3px 0;}
.user-status-area .user-logo {width:28px;}
.user-status-area .user-name {color:#373e46;font-size:18px;font-weight:bold;}
.user-status-area .user-name span {color:#373e46;font-size:12px;}
.user-status-area .user-information {/* width:60%;display: flex;align-items: flex-start;flex-direction: column; */display: inline-block;}
.user-status-area .user-information.end {/* align-items: flex-end;*/float:right;}
.user-status-area .user-information.end:after {content:'';display:block;clear:both;}
.user-status-area .user-information.end .user-checkup {float:right;}
.user-status-area .user-name-location > span {position:relative;padding:0 10px;font-size:13px;}
.user-status-area .user-information .user-day-time {margin-top:6px;}
.user-status-area span:last-child {padding-right:0;}
.user-status-area .name {position:relative;}
.user-status-area .name.line::after {content:'';position:absolute;top:50%;right:0;width:1px;height:10px;margin-top:-5px;background:#4b4f56;}

/* 미소지기 메인 서류요청 */
.user-request {display: none;-webkit-box-pack: justify;-ms-flex-pack: justify;justify-content: space-between;-webkit-box-align: center;-ms-flex-align: center;align-items: center;padding: 16px 15px;border-bottom: 1px solid rgba(178, 182, 190, 0.7);} 
.user-request > .noti {display:flex;align-items:center;}
.user-request > .noti p {margin-left:10px;color:#4b4f56;font-size:13px;font-weight:700;}
.user-request.has-request {display:flex;margin:0 -15px;}
.user-request .icon-file {width:25px;height:35px;margin-right:10px;background-image: url(../../../resources/images/index/icon_file.png);}
.user-request .status-badge {margin-top:0;}
.user-request .btn-goto {width: 7px;}

/* 미소지기 메인 페이지 바로가기 */
.board-preview-area + .user-site-page {border-top:0;}
.user-status-area + .user-site-page {border-top:3px solid #dfe0e4;}
.user-site-page {margin:0 -15px;}
.user-site-page .menu-slide-area .menu-slide .slide-items {height:auto;margin-left:1px;}
.user-site-page .menu-slide-area .menu-slide .slide-items .slide-item {display:inline-flex;flex-direction:column;width:33.333%;height:127px;padding-bottom:15px;border-bottom:1px solid rgba(178, 182, 190, 0.7);border-right:1px solid rgba(178, 182, 190, 0.7);}
.user-site-page .menu-slide-area .menu-slide .slide-items .slide-item:nth-child(1) {border-top:0;}
.user-site-page .menu-slide-area .menu-slide .slide-items .slide-item:nth-child(2) {border-top:0;}
.user-site-page .menu-slide-area .menu-slide .slide-items .slide-item:nth-child(3) {border-top:0;}
.user-site-page .menu-slide-area .menu-slide .slide-items .slide-item:nth-child(3n) {border-right:0;}
.user-site-page .menu-slide-area .menu-slide .slide-items .slide-item h5 {margin-top:10px;color:#373e46;font-size:14px;font-weight:600;}
.user-site-page .menu-slide-area .menu-slide .slide-items .slide-item p {margin:5px 0;color:#4b4f56;font-size:10px;white-space:pre-line;}
.user-site-page .menu-slide-area .menu-slide .slide-items .slide-item p.mileage {color:#9197a3;font-size:15px;font-weight:600;}
.user-site-page .menu-slide-area .menu-slide .slide-items .slide-item .icon {width:35px;height:35px;margin:0 auto;}
.user-site-page .menu-slide-area .menu-slide .slide-items .slide-item .icon-mileage {width:16px;height:16px;background-image:url(../../../resources/images/index/icon_money.png);vertical-align:middle;margin:0 3px 3px 0;}
.user-site-page .menu-slide-area .menu-slide-btns {position:fixed;bottom:20px;left:50%;margin:0;-webkit-transform:translateX(-50%);transform:translateX(-50%);}