@charset "utf-8";

@import url("./fonts.css");
@import url("./buttons.css");
@import url("./icons.css");
@import url("./space.css");
/* @import url("./common.css"); */
@import url("./tables.css");
@import url("./popup.css");
@import url("./animation.css");
@import url("./seats.css");
@import url("./detail.css");
@import url("./index.css");

html {font-size: 12px;}
/* common */
.cgv-mobile {position:relative;height:100%;overflow:auto;overflow-x: hidden;/* overflow-x: hidden;overflow-y: auto; */}

body img {max-width: 100%;}

.cgv-mobile img {position: relative;/* display: inline-block;max-width: 100%; */max-width: 100%;height: auto;display: inline-block;}
.cgv-mobile img.w19p {margin-right:12px;margin-left:6px;}

.container {padding: 0 5%;}

/* header */
header {
	/* width: 100%;display: flex;justify-content: space-between;align-items: center;height: 64px;padding: 0 15px;background: #fff;border-bottom: 1px solid #9197a3;z-index: 100;position: fixed;top: 0;left: 0; */
	/*position: relative;min-width: 360px;padding: 0 15px;border-bottom: 1px solid #9197a3;*/
position:fixed;z-index:100;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-ms-flex-pack: justify;justify-content: space-between;width:100%;height:64px;padding:0 15px;-webkit-box-align:center;-ms-flex-align:center;align-items:center;border-bottom: 1px solid rgba(145, 151, 163, 0.5);background: #ffffff;
}

header::after {content: '';width: 100%;height: 1px;background: #fff;position: absolute;bottom: 0;left: 0;opacity: 0.3;}
.content-list {-webkit-overflow-scrolling:touch;}
/* 서브네비 */
.nav-sub {display: flex;align-items: center;justify-content: space-between;}
.nav-sub h3.title {margin-left: 12px;color: #373e46;font-size: 17px;font-weight: 700;}
.nav-sub h3.title .edit-navi {margin-left: 18px;color: #fb4357;font-size: 18px;font-weight: 700;}
.nav-sub h3.title .total-num {color: #9197a3;font-weight: 400;}
header .nav-refresh {display:inline-block;width:23px;height:23px;background:url(../../../resources/images/btn-refresh.png) no-repeat;background-size:cover;font-size:0;}

.icn-page-prev {width: 23px;height: 23px;}
.overflow-hidden {overflow: hidden !important;}
.overflow-auto {overflow: auto !important;}

/* 서브 컨텐츠 */
/* .content-sub {height:100%;display: flex;flex-direction: column;padding: 64px 15px 0 15px;overflow: auto;overflow-x: hidden;} */
.content-sub {height:100%;padding:64px 15px 0 15px;overflow-y:auto;}
.content-sub.with-iframe {padding-left: 0;padding-right: 0;}
.content-sub.with-iframe iframe {display: block;width: 100%; height: 100%;border: none;overflow: auto;}

.content-sub > .content-title {margin: 0 -15px;position: fixed;width:100%;top:64px;background:#fff;z-index: 10;}
.content-sub > .content-list-box {margin: 0 -15px;}
.content-sub > .content-list-box > .content-list {padding: 0 15px 0 15px;}
/* .has-bottom-btn .content-sub > .content-list-box > .content-list {padding-bottom:0;} */
.content-tab-box > .content-list-box,
.content-tab-box > .content-list {margin: 0 -15px;}
/* .content-sub.has-bottom-btn {padding-bottom: 50px;} */
.content-full {flex: 1;}
.content-list-box {display: flex;flex-direction: column;}

/* 컨텐츠 스크롤 영역 */
.content-list {position: relative;flex: 1;overflow-x: hidden;overflow-y: auto;height: 100%;}
.has-bottom-btn .content-sub {padding-bottom: 60px;}
/* .has-bottom-btn .content-list {padding-bottom: 64px !important;}
.has-bottom-btn .content-list .content-list {padding-bottom: 0 !important;} */

/* .has-bottom-btn .notice-detail-navi {bottom:63px;} */
.has-bottom-btn .notice-detail-navi {bottom:63px !important;}
/* 하단 고정버튼영역 */
footer {position: absolute;bottom: 0;left: 0;width: 100%;height: 50px;}

/*********** 컨텐츠 패딩 **********/
.inner-container {padding-left: 15px;padding-right: 15px;}
.subinner-container {padding-left: 15px;padding-right: 15px;}
.content-title .subinner-container:after {content:'';display:block;clear: both;}
/*********** intro **********/
.intro-box {height: 100%;align-items: center;justify-content: center;}
.intro-box img {width: 120px;height: 63px;}

/*********** 통합정보조회 ***********/
.content-tab-box {display: none;flex-direction: column;}
.content-tab-box.tab-content.active {display: flex;}
.content-tab {flex: 1;overflow-x: hidden;overflow-y: auto;}

/*********** 로그인 ***********/
.logo-login {width: 120px;height: 120px;margin: 84px auto 66px auto;}
.form-login .checkbox-nemo {display: flex;margin-top: 17px;padding: 0 0 0 15px;justify-content: space-between;}
.oauth-way {display: inline-block;font-size: 0;}
.oauth-way button {display: inline-block;font-size: 12px;color: #373e36;}
.oauth-way button img {width: 15px;height: 15px;vertical-align: middle;}
.oauth-way button span {padding: 0 7px 0 4px;vertical-align: middle;}
.oauth-way button:last-child span {padding-right: 0;}
.oauth-way button {margin-right: 14px;}
.oauth-way button:last-child {margin-right: 0;border-right: 0;}

.ceti-num {width: 100%;margin-top: 24px;}
.ceti-num input {width: 14px;height: 20px;margin: 0 4px;border-bottom: 1px solid #fa4356;text-align: center;}
.input-time {padding: 7px 0;color: #fb4357;font-size: 16px;font-weight: 700;}
.authentic-num {display: flex;align-items: flex-start;justify-content: space-between;}
.authentic-num .input-area {display: flex;justify-content: space-between;align-items: flex-start;width: calc(100% - 100px);height: 40px;padding-left: 4px;padding-right: 7px;border-bottom: 0.5px solid #9197a3;}
.authentic-num .input-area input {padding: 7px 0;font-size: 15px; }
.authentic-num input::placeholder {color: #bdc1c8;font-size: 15px;font-weight: 700;font-family: "AppleSDGothicNeo";}
.authentic-num input::-webkit-input-placeholder {color: #bdc1c8;font-size: 15px;font-weight: 700;font-family: "AppleSDGothicNeo";}
.authentic-num input::-moz-placeholder {color: #bdc1c8;font-size: 15px;font-weight: 700;font-family: "AppleSDGothicNeo";}
.authentic-num input:-ms-input-placeholder {color: #bdc1c8;font-size: 15px;font-weight: 700;font-family: "AppleSDGothicNeo";}
.authentic-num input::-ms-input-placeholder {color: #bdc1c8;font-size: 15px;font-weight: 700;font-family: "AppleSDGothicNeo";}
.authentic-num input:-moz-placeholder {color: #bdc1c8;font-size: 15px;font-weight: 700;font-family: "AppleSDGothicNeo";}

.center-info {margin-top: 142px;padding-left: 35px;padding-right: 35px;color: #373e46;font-size: 15px;font-weight: 500;letter-spacing: -0.2px;line-height: 22px;word-break: keep-all;}
.certifyid-img {display: block !important;margin-top: 32px;width: 99px;height: 99px;margin-left: auto;margin-right: auto;}

/* ==============================
* 상태배너
* ============================== */
.banner-status {position: relative;display: flex;height: 48px;}
.banner-status::after {display: block;position: absolute;content: '';top: 0;left: 15px;right: 0;bottom: 0;width: calc(100% - 30px);border-bottom: 1px solid #9197a3;z-index: -5;}
.banner-status li {position: relative;display: flex;align-items: center;flex: 1;justify-content: center;}
.banner-status li:after {display: block;position: absolute;content: '';top: 9px;right: 0;width: 1px;height: calc(100% - 18px);background: #c8cbd1;}
.banner-status li:last-child {background: none;}
.banner-status li .badge {display: inline-block;width: auto;min-width: 22px;height: 15px;margin-left: 5px;padding: 0 7px;color: #fff;font-size: 14px;font-weight: 400;background: #bdc1c8;text-align: center;line-height: 15px;}
.banner-status li .badge.all {background: #fb4357;}
.banner-status li .badge.ncomplt {background: #4a90e2;}
.banner-status li .badge.complt {background: #bdc1c8;}
.banner-status li p {color: #4b4f56;font-size: 15px;}

/* ==============================
* 배너
* ============================== */
.banner-schedule {position: relative;/* height: 75px; */padding: 19px 15px 13px;background: #4b4f56;text-align: center;}
.banner-schedule .title {color: #fff;font-size: 18px;font-weight: bold;}
.banner-schedule .title .info {display: block;margin-top:5px; font-size:13px;font-weight:500;}
.banner-schedule .date {margin-top: 7px;color: #fff;font-size: 15px;font-weight: 500;display: inline-block;}
.banner-schedule .btn-detail {position: absolute;top: 17px;right: 15px;cursor: pointer;}
.banner-schedule .banner-noti {display:inline-block;position:absolute;top:18px;left:13px;width:21px;height:21px;background:url(../../../resources/images/icon_noti_w.png) no-repeat;background-size:contain;font-size:0;}
.banner-schedule .txt01 {font-size:16px;color:#fff;font-weight:700;}
.banner-schedule .txt02 {margin-top:5px;margin-bottom:4px;font-size:13px;color:#fff;}

.banner-myinfo {position: relative;padding: 15px 16px 15px 18px;background: #4b4f56;text-align: left;}
.banner-myinfo.hide-banner {display: none;}
.banner-myinfo .tit {width: auto;color: #fff;font-size: 15px;font-weight: bold;}
.banner-myinfo .tit.wide {width: auto;overflow: hidden;}
.banner-myinfo strong {font-size: 18px;color: #fff;font-weight: bold;letter-spacing: 1.4px;}
.banner-myinfo strong i {margin-left: 5px;margin-bottom: 2px;vertical-align: middle;}
.banner-myinfo .tit .sub {display: block;color: #9197a3;font-size: 13px;font-weight: bold;letter-spacing: -1.1px;}
.banner-myinfo .info-account .tit {margin-right: 20px;}
.banner-myinfo .info-account i.icon-man,
.banner-myinfo .info-account i.icon-woman {vertical-align: middle;}
.info-point li.active strong,
.info-point li.active .sub {color: #4a90e2}
.banner-myinfo a.icn {display: block;padding: 5px 0;}

.banner-noti {height: 100px;background: #dee0e3;padding-bottom: 16px;text-align: left;padding: 0 15px;}
.banner-noti p {padding-top: 16px;line-height: 22px;font-size: 14px;}

.info-account {display: flex;align-items: center;justify-content: flex-start;}
.info-point {display: flex;margin-top: 15px;justify-content: space-between;align-items: center;}

.info-point li {position: relative;display: flex;justify-content: flex-start;flex-direction: column;padding-left: 18px;padding-right: 18px;}
.info-point li::after {display: block;position: absolute;content: '';top: calc(50% - 15px);left: 0px;width: 1px;height: 30px;background: #9b9da1;}
.info-point.list-2 li::after {display: block;position: absolute;content: '';top: 0;left: 0px;width: 1px;height: 100%;background: #9b9da1;}
.info-point li:first-child::after {display: none;}
.info-point li:first-child {position: relative;padding-left: 0;}
.info-point li:last-child {padding-right: 0;}
/* .info-point li:first-child:after {display: block;content: '';position: absolute; right: 0;width: 1px;height: 100%;} */
.info-point .icn span {color: #fff;font-size: 18px;}
.info-list {font-size: 0;}
.info-list ul + ul {margin-top: 4px;}
.info-list li {display: inline-block;position: relative;padding: 0 10px;color: #fff;font-size: 12px;font-weight: 400;}
.info-list li::after {display: block;content: '';position: absolute;top: 1px;right: 0;width: 1px;height: 11px;background: #9b9da1;}
.info-list li:first-child {padding-left: 0;}
.info-list li:last-child::after {display: none;}

.info-list li.btn-grade {position: relative;margin-left: -3px;}
.info-list li.btn-grade::before {display: inline-block;content: '';width: 12px;height: 12px;background: url(../../../resources/images/icon_grade2.png);background-size: 100% 100%;vertical-align: text-top;margin-bottom: 2px;margin-right: 2px;}
.info-list li.btn-club {position: relative;margin-left: -3px;}
.info-list li.btn-club::before {display: inline-block;content: '';width: 15px;height: 13px;background: url(../../../resources/images/icon_club.png);background-size: 100% 100%;vertical-align: text-top;margin-bottom: 2px;margin-right: 2px;}
.info-list li .club-num {display: inline-block;width: 15px;height:15px;margin-left: 5px;border-radius: 50%;background: #fb4357;font-size: 13px;color: #fff;text-align: center;}
.info-list p {margin-top: 2px;color: #fff;font-size: 12px;}

@media (min-width: 768px) and (max-width: 1024px) {
   .inner-container {padding: 0 50px;}
}
@media screen and (min-width: 1024px) {
   .inner-container {padding: 0 100px;}
}

/*********** 알림내역 ***********/
.alarm-list {border-top: 1px solid #9197a3;}
.alarm-list li {display: flex;justify-content: space-between;padding: 16px 0 15px;border-bottom: 0.5px solid #ccc;}
.alarm-list li div {width: calc(100% - 35px);}
.alarm-list .noti-tit {color: #4b4f56;font-size: 15px;font-weight: 700;line-height: 20px;}
.alarm-list .noti-msg {margin-top: 7px;color: #4b4f56;font-size: 12px;font-weight: 500;line-height: 15px;}
.alarm-list .noti-date {display: inline-block;margin-top: 7px;color: #9197a3;font-size: 12px;font-weight: 500;}
.alarm-list li.no-list {justify-content: center;font-size: 14px;}
.alarm-list li i {display: inline-flex;flex: 0 0 auto;vertical-align: bottom;text-indent: -9999px;border: 0;background-color: transparent;background-repeat: no-repeat;background-position: center center;background-size: contain;}
.alarm-list li i.SA00000001 {width: 22px;height: 22px;background-image: url(../../../resources/images/icon_alarm03.png);}
.alarm-list li i.SA00000002 {width: 22px;height: 22px;background-image: url(../../../resources/images/icon_alarm05.png);}
.alarm-list li i.SA00000003 {width: 22px;height: 22px;background-image: url(../../../resources/images/icon_alarm01.png);}
.alarm-list li i.SA00000004 {width: 22px;height: 22px;background-image: url(../../../resources/images/icon_alarm04.png);}
.alarm-list li i.SA00000005 {width: 22px;height: 22px;background-image: url(../../../resources/images/icon_alarm04.png);}
.alarm-list li i.SA00000006 {width: 22px;height: 22px;background-image: url(../../../resources/images/icon_alarmmiso02.png);}
.alarm-list li i.SA00000007 {width: 22px;height: 22px;background-image: url(../../../resources/images/icon_alarmmiso03.png);}
.alarm-list li i.SA00000008 {width: 22px;height: 22px;background-image: url(../../../resources/images/icon_alarmmiso01.png);}
.alarm-list li i.SA00000009 {width: 22px;height: 22px;background-image: url(../../../resources/images/icon_alarm04.png);}
.alarm-list li i.SA00000010 {width: 22px;height: 22px;background-image: url(../../../resources/images/icon_alarm04.png);}
.alarm-list li i.SA00000011 {width: 22px;height: 22px;background-image: url(../../../resources/images/icon_alarm02.png);}
.alarm-list li i.SA00000012 {width: 22px;height: 22px;background-image: url(../../../resources/images/icon_alarmmiso01.png);}
.alarm-list li i.SA00000013 {width: 22px;height: 22px;background-image: url(../../../resources/images/icon_alarm04.png);}
.alarm-list li i.SA00000014 {width: 22px;height: 22px;background-image: url(../../../resources/images/icon_alarm06.png);}
.alarm-list li i.SA00000015 {width: 22px;height: 22px;background-image: url(../../../resources/images/icon_alarm07.png);}


h5.al-type {display:inline-block;margin-top:10px;margin-bottom:10px;font-size: 18px;}
h5.al-type span {vertical-align: middle;line-height:16px;}
h5.al-type span.badge{margin-top:2px;}
h5.al-type span.memo {margin-left: 10px;font-size: 12px;font-weight:400;color: #4b4f56;}
h5.al-type + p {float:right;margin-top:15px;}
.badge {display: inline-block;width: 30px;height: 18px;background: #fb4357;border-radius: 10px;color: #fff;font-size: 15px;font-weight: 700;text-align: center;}

/*********** 설정 내역 ***********/
.setting-list {margin: 0 -15px;}
.setting-list li div {width: 80%;height:100%;}
.setting-list li div .setting-tit {margin-top:25px;}
.setting-list.style02 li div .setting-tit {margin-top:15px;}
.setting-list li {display: flex;height: 67px;padding: 0 15px;justify-content: space-between;align-items: center;border-bottom: 0.5px solid #bdc1c8;}
.setting-list li a {display: flex;width: 100%;display: flex;justify-content: space-between;padding: 22px 0 20px;}
.setting-list .setting-tit {color: #4b4f56;font-size: 15px;font-weight: 700;line-height: 18px;}
.setting-list .setting-tit span {color: #9197a3;font-size: 12px;}
.setting-list .setting-msg {margin-top: 7px;color: #9197a3;font-size: 12px;font-weight: 500;line-height: 15px;}
/*********** 에러메세지 ***********/
.error-box {width: 72%;max-width: 520px;margin: 0 auto;text-align: center;}
.error-img {margin-top: 84px;}
.error-msg {color: #4b4f56;font-size: 18px;font-weight: 700;}

/*********** 로그아웃 ***********/
.logout-box {max-width: 520px;margin: 170px auto 0;text-align: center;}
.logout-img {width: 88px;height: 88px;}
.logout-msg {margin-top: 38px;color: #4b4f56;font-size: 18px;font-weight: 500;}

/*********** 휴가신청관리 ***********/
.person-list-box {display: flex;flex-direction: column;}
.person-list {flex: 1;overflow-x: hidden;overflow-y: auto;}

/*********** 분실물 ***********/
.skip {position: absolute;overflow: hidden;clip: rect(0 0 0 0);margin: -1px;width: 1px;height: 1px;}
.ico-color {display: inline-block;width: 18px;height: 18px;border-radius: 50%;}
.ico-color.co-black {background: #000;}
.ico-warning {display: inline-block;width: 15px;height: 15px;border-radius: 2px;background: #fb4357;vertical-align: sub;}

.color-list li {text-align: center;}
.color-list li p { margin-top: 8px;color: #9197a3;font-size: 15px;font-weight: 500;}
.color-list li.active p {color: #4b4f56;font-weight: 700;}
.lost-color {width: 40px;height: 40px;border-radius: 50%;}
.active .lost-color {border: 1px solid #ff0000;}
.lost-color1 {background: #000004;}
.lost-color2 {background: #ffffff;border: 1px solid #d4d4d4;}
.lost-color3 {background: #a1a1a1;}
.lost-color4 {background: #2e3192;}
.lost-color5 {background: #c69c6d;}
.lost-color6 { background: url('../../../resources/images/bg_transparent.png');background-size: 100%;}
.lost-color7 { background: url('../../../resources/images/bg_etc.png');background-size: 100%;}

.has-picture div {position: relative;overflow: hidden;}

/* AcquisitionRegist1 */
.lost-picture .active .lab-img,
.lost-picture .active input {display: none;}
.lost-picture .active .img-box,
.lost-picture .active .btn-delete {display: block;}
.lost-picture ul {margin-left: -1%;margin-right: -1%;}
.lost-picture li {width: 31.3%;margin: 0 1%;}
.lost-picture li .attach_img {position: relative;width: 100%;}
.lost-picture li .attach_img .img {position: relative;width: 100%;height: 75px;border: 0.5px solid #9197a3;border-radius: 4px;overflow: hidden;}
.attach_img .lab-img {display: block;height: 100%;}
.attach_img .img-box {display: none;font-size: 0;text-align: center;overflow: hidden;}
.attach_img .img-box:before {display: inline-block;width: 0;height: 100%;vertical-align: middle;content: '';}
.attach_img .img-box img{display: inline-block;vertical-align: middle;}
.attach_img .btn-delete {position: absolute;top: -15px;right: -15px;display: none;width: 30px;height: 30px;}
.lost-picture li .icon-zoom {position: absolute;top: 50%;left: 50%;margin-top: -8px;margin-left: -8px;}
.attach_img .btn-delete .icon-close {position: relative;top: 0;left: -3px;display: inline-block;}

@media (min-width: 768px) and (max-width: 1024px) {
   .lost-picture li .attach_img .img {height: 150px;}
}
@media screen and (min-width: 1024px) {
   .lost-picture li .attach_img .img {height: 150px;}
}

/* AcquisitionRegist2 */
.lost-detail-list {padding-top: 10px;}
.lost-detail-list dt {float: left;width: 135px;font-weight: bold;line-height: 40px;}
.lost-detail-list dd {overflow: hidden;line-height: 40px;}
.lost-detail-list .info-detail {line-height: 1.3;}
.lost-detail-list .input-image-wrap {margin: 12px 0;}
.lost-detail-list .img-list {display: flex;align-self: center;margin-left: -1%;margin-right: -1%;}
.lost-detail-list .img-list li {overflow: hidden;width: 31.3%;margin: 0 1%;min-height: 73px;max-height: 148px;border: 0.5px solid #9197a3;border-radius: 4px;box-sizing: border-box;}

.lost-detail-list .rdo-area {height: 40px;}
.lost-detail-list .rdo-box {position: relative;float: left;width: 25%;}
.lost-detail-list .lab-rdo {display: block;height: 40px;border: 1px solid blue;line-height: 40px;text-align: center;}

/* ==============================
 * 상영종류
 * ============================== */
.movie-sort li {display: inline-block;margin-right: 20px;}
.movie-sort li span {display: inline-block;vertical-align: middle;}
.movie-sort li .icn {width: 13px;height: 13px;margin-right: 2px;}
.movie-sort .red {color: #fb4357;}
.movie-sort .blue {color: #4a90e2;}
.movie-sort .purple {color: #8781bd;}
.movie-sort .red .icn {background: #fb4357;}
.movie-sort .blue .icn {background: #4a90e2;}
.movie-sort .purple .icn {background: #8781bd;}

/* ==============================
 * 분실물 종류
 * ============================== */
.lost-sort li {display: inline-block;margin-right: 25px;}
.lost-sort li span {display: inline-block;vertical-align: middle;font-size: 14px;}
.lost-sort .icn {display: inline-block;width: 13px;height: 13px;margin-right: 6px;border-radius: 50%;background: #448ccb;}
.lost-sort .status-warning .icn {display: inline-block;background: #fb4357;}
.lost-sort span {display: inline-block;vertical-align: middle;}

.ticket-status {height: 25px;margin: 0 -8px;display: flex;align-items: center;}
.ticket-status button {padding: 0 12px;color: #9197a3;font-size: 16px;font-weight: 400;position: relative;}
.ticket-status .active {color: #fb4357;font-weight: bold;}
.ticket-status button::before {content: '';width: 1px;height: 11px;font-weight: normal;position: absolute;top: 4px;right: 0;background-color: #acacac;}
.ticket-status button:last-child::before {display: none;}

/* ==============================
 * 서브타이틀
 * ============================== */
.sub-title {margin-top: 30px;color: #373e46;font-size: 18px;font-weight: bold;}
.sub-title-define {margin-top: 24px;font-size: 15px;font-weight: 700;}
.sub-info {margin-top: 21px;font-size: 15px;font-weight: 500;line-height: 18px;}
.sub-text {color: #4b4f56;font-size: 13px;font-weight: 500;line-height: 20px;}
.sub-noti p {font-size: 15px;font-weight: 700;}
.sub-noti ul {margin-top: 21px;}
.sub-noti li {margin-bottom: 10px;font-size: 12px;line-height: 18px;}

/* ==============================
 *
 * ============================== */
.search-mall-wrap {position: relative;margin-top: 15px;padding-bottom: 15px;}
.search-mall-wrap:after {display: block;content: '';position: absolute;left: 0;bottom: 0;height: 1px;width: 100%;background: #9197a3;opacity: 0.5;}
.search-mall {color: #9197a3;font-size: 16px;}
.search-select {color: #9197a3;font-size: 14px;}
.result-top-wrap {position: relative;margin-top: 15px;padding-bottom: 16px;}
.result-top-wrap:after {display: block;content: '';position: absolute;left: 0;bottom: 0;height: 3px;width: 100%;background: #bdc1c8;opacity: 0.2;}
.result-txt {font-size: 15px;color: #4b4f56;}

.select-pop {display: flex;align-items: center;justify-content: space-between;padding: 4px 8px;border: 1px solid #bdc1c8;-moz-transition: all 0.2s ease-in;-o-transition: all 0.2s ease-in;-webkit-transition: all 0.2s ease-in;transition: all 0.2s ease-in;}
.select-pop span {color: #9197a3;font-size: 12px;font-weight: 700;}

.push-contents p {font-size: 14px;line-height: 22px;letter-spacing: -0.75px;}

/* 고객정보 */
.select-calendar-layout {display: flex;flex-wrap: wrap;padding: 20px 15px 18px 15px;justify-content: flex-end;}
.content-tab-box .select-calendar-layout {margin: 0 -15px;padding: 20px 15px 10px 15px;}
.select-calendar-layout + .table-ticket {border-top: none;}
.select-calendar-layout .btn-birthday {width: 100%;margin-top: 10px;}
.select-calendar-layout .btn-birthday .icn span {font-size:15px;}
.select-calendar-box {display: flex;align-items: center;height: 25px;}
.select-calendar-box .select-calendar [class*="swiper-button"] {background-color: #fff;}

 /* 푸시 */
 .push-area p {font-size: 14px;color: #373e46;font-weight: 400;line-height: 22px;}

 /* 툴팁 */
/* .movie-title {width: 100%;display: block;position: relative;}
.movie-title .title {display: inline-block;width: 70px;height: 14px;margin: 0 auto;overflow: hidden;font-weight: bold;}
.movie-title .desc {display: none;}
td.active > .movie-title .desc,
td:hover > .movie-title .desc {display: block;min-width: 180px;white-space: nowrap;padding: 11px 10px;position: absolute;top: -100%;left:calc(50% - 60px);margin-top: -50px;margin-left: -24px;border-radius: 40px;background-color: #fff;z-index: 2;filter: drop-shadow(0px 0px 10px rgba(0,0,0,.2));color: #fb4357;font-weight: 700;font-size: 13px;}
td.active > .movie-title .desc::before,
td:hover > .movie-title .desc::before {content: '';width: 0;height: 0;position: absolute;bottom: -11px;left:calc(50% - 8px);border-width: 13px 8px 0 8px;border-style: solid;border-color: #fff transparent transparent transparent;}
.movie-title .desc span {display: block;color: #4b4f56;font-size: 11px;font-weight: 400;margin-top: 3px;} */
.ui-tooltip {display: block;/*width: 160px;*/white-space: nowrap;padding: 11px 17px 9px;position: absolute;margin-top: -50px;margin-left: -24px;border-radius: 40px;background-color: #fff;z-index: 100;filter: drop-shadow(0px 0px 10px rgba(0,0,0,.2));text-align: center;}
.ui-tooltip:before {content: '';width: 0;height: 0;position: absolute;bottom: -11px;left: calc(50% - 8px);border-width: 13px 8px 0 8px;border-style: solid;border-color: #fff transparent transparent transparent;}
.ui-tooltip .auditorium {color: #4b4f56;font-size: 11px;font-weight: 400;margin-top: 3px;}
.ui-tooltip .movie {color: #fb4357;font-weight: 700;font-size: 13px;}
.ui-tooltip-content {font-size: 14px;font-weight: bold;}
.ui-tooltip.positionleft:before {left:12%;}
.tooldim {position: fixed; top:0;right:0;bottom:0;left:0;background:rgba(0,0,0,.2);z-index: 100;}
/* ==============================
 * 사이드 메뉴
 * ============================== */
.cgv-mobile .sidebar-wrapper,
.sidebar-wrapper .sidebar-brand .user-name,
.sidebar-wrapper ul li a .icon,
.cgv-mobile .page-content,
.sidebar-wrapper .sidebar-menu ul li a,
.show-sidebar,
.close-sidebar {-webkit-transition: all 0.3s ease;transition: all 0.3s ease;}
.cgv-mobile.toggled .sidebar-wrapper {left: 0px;}
.show-sidebar { /* position: fixed; left: 10px; top: 10px; width: 30px; */ -webkit-transition-delay: 0.3s;         transition-delay: 0.3s;}
.toggled .show-sidebar { right: -40px;}
/* .show-sidebar i { display: block; width: 100%; height: 3px; background-color: #bdbdbd; border-radius: 3px; margin: 6px 0; } */
.sidebar-wrapper { width: 100%; height: 100%; max-height: 100%; position: fixed; top: 0; left: -100%; z-index: 999; overflow: hidden; background: #fff;}
.sidebar-wrapper ul {padding: 0;margin: 0;}
.sidebar-wrapper a {text-decoration: none;}
.sidebar-content {display: flex;flex-direction: column;max-height: 100%;height: 100%;}
.sidebar-content.desktop {overflow-y: hidden;}
.sidebar-wrapper .sidebar-brand {display: flex;align-items: center;justify-content: space-between;height: 68px;padding: 9px 15px;border-bottom: 4px solid #e9eaed;}
.sidebar-wrapper .sidebar-brand .user-name {display: flex;align-items: center;color: #4b4f56;font-size: 18px;text-transform: uppercase;font-weight: 700;-webkit-box-flex: 1;-ms-flex-positive: 1;flex-grow: 1;}
.sidebar-wrapper .sidebar-brand .user-name .btn-set { margin-left: 18px; margin-top: -3px;}
.sidebar-wrapper .sidebar-brand .user-name .btn-code { margin-left: 9px; margin-top: -2px;}
.sidebar-wrapper .sidebar-brand .user-name .btn-log-inout { margin-left: 8px;}
.sidebar-wrapper .sidebar-brand .btn-log-inout,
.btn-log-inout { min-width: 60px; min-height: 20px; padding: 2px 4px 2px 4px; border: 1px solid #4b4f56; border-radius: 12px; color: #373e46; font-size: 11px; font-weight: 700;}
.control-btns .btn-log-inout { margin-right: 8px;}
.btn-set { width: 21px; height: 23px;}
.close-sidebar {position: relative;width: 23px;height: 23px;cursor: pointer;}
.close-sidebar i {display: inline-block;position: absolute;top: 9px;right: -2px;width: 26px;height: 1px;border-radius: 3px;background: #9197a3;-webkit-transform-origin: 50% 50%;transform-origin: 50% 50%;}
.close-sidebar i:first-child {-webkit-transform: rotate(45deg) translateY(0px) translateX(0px);transform: rotate(45deg) translateY(0px) translateX(0px);}
.close-sidebar i:last-child {-webkit-transform: rotate(-45deg) translateY(0px) translateX(0px);transform: rotate(-45deg) translateY(0px) translateX(0px);}

/* 전체메뉴 페이지 */
.showed .sidebar-wrapper {display: block;left: 0;}
.hide .sidebar-wrapper {display: none;left: 0;}

/* 전체메뉴 팝업 */
.pop-layer.sidebar-wrapper {position: relative;left: 0;z-index: 0;}
.pop-layer.sidebar-wrapper .sidebar-brand {padding: 23px 15px;}
.pop-layer.sidebar-wrapper .sidebar-menu {border-top: 0;}
.pop-layer.sidebar-wrapper .con {padding: 0;flex: 1;display: flex;flex-direction: column;overflow: hidden;}
.pop-house-full .pop-container .family-sites {margin: 0 15px;}
.pop-house-full .pop-container .family-sites h3 {margin: 0; padding: 0; border-bottom: 0;}
.pop-house-full .pop-container .family-sites ul {padding: 0 10px; margin: 0;}

/* 네비게이션 - 유저정보 */
.icon-account {width: 15px;height: 15px;background-image: url("../../../resources/images/index/nav_ic_profile.png");margin-bottom: 4px;margin-right: 4px;}
/* 네비게이션 - 상영 - 스케쥴 */
.icon-scr1 {background-image: url("../../../resources/images/index/nav_ic_01.png");}
/* 네비게이션 - 상영 - 영화정보 */
.icon-scr2 {background-image: url("../../../resources/images/index/nav_ic_02.png");}
/* 네비게이션 - 상영 - 좌석판매현황 */
.icon-scr3 {background-image: url("../../../resources/images/index/nav_ic_03.png");}
/* 네비게이션 - 상영 - vip좌석설정 */
.icon-scr4 {background-image: url("../../../resources/images/index/nav_ic_04.png");}
/* 네비게이션 - 고객 - 통합정보조회 */
.icon-cut1 { background-image: url("../../../resources/images/index/nav_ic_05.png");}
/* 네비게이션 - 고객 - voc조회 */
.icon-cut2 {background-image: url("../../../resources/images/index/nav_ic_06.png");}
/* 네비게이션 - 고객 - 분실물관리 */
.icon-cut3 {background-image: url("../../../resources/images/index/nav_ic_07.png");}
/* 네비게이션 - 미소 - 미소지기 조회*/
.icon-mis1 {background-image: url("../../../resources/images/index/nav_ic_08.png");}
/* 네비게이션 - 미소 - 근태 조회*/
.icon-mis2 {background-image: url("../../../resources/images/index/nav_ic_09.png");}
/* 네비게이션 - 미소 - 근무스케쥴*/
.icon-mis3 {background-image: url("../../../resources/images/index/nav_ic_10.png");}
/* 네비게이션 - 미소 - 스케줄변경 */
.icon-mis4 {background-image: url("../../../resources/images/index/nav_ic_11.png");}
/* 네비게이션 - 미소 - 마일리지*/
.icon-mis5 {background-image: url("../../../resources/images/index/nav_ic_12.png");}
/* 네비게이션 - 미소 - 휴가승인*/
.icon-mis6 {background-image: url("../../../resources/images/index/nav_ic_13.png");}
/* 네비게이션 - 미소 - 긴급문자*/
.icon-mis7 {background-image: url("../../../resources/images/index/nav_ic_14.png");}
/* 네비게이션 - 미소 - 입사서류*/
.icon-mis8 {background-image: url("../../../resources/images/index/nav_ic_15.png");}
/* 네비게이션 - 운영 - 업무메모*/
.icon-mtn1 {background-image: url("../../../resources/images/index/nav_ic_16.png");}
/* 네비게이션 - 운영 - 나의스케줄*/
.icon-mtn2 {background-image: url("../../../resources/images/index/nav_ic_17.png");}
/* 네비게이션 - 운영 - 알림내역*/
.icon-mtn3 {background-image: url("../../../resources/images/index/nav_ic_18.png");}
/* 네비게이션 - 환경설정 - 간편로그인 설정*/
.icon-set1 {background-image: url("../../../resources/images/index/nav_ic_19.png");}
/* 네비게이션 - 환경설정 - 바로가기 편집 */
.icon-set2 {background-image: url("../../../resources/images/index/nav_ic_20.png");}
/* 네비게이션 - 환경설정 - 알림수신설정*/
.icon-set3 {background-image: url("../../../resources/images/index/nav_ic_21.png");}
/* 네비게이션 - 실적 - 알림수신설정*/
.icon-result1 {background-image: url("../../../resources/images/result/icon_result_set.png");}
/*네비게이션 - 발매통제*/
.icon-scr5 {background-image: url("../../../resources/images/index/nav_ic_22.png");}

.icon-new02 {background-image: url("../../../resources/images/index/nav_ic_23.png");}
.icon-new03 {background-image: url("../../../resources/images/index/nav_ic_24.png");}
.icon-new04 {background-image: url("../../../resources/images/index/nav_ic_25.png");}
.icon-new05 {background-image: url("../../../resources/images/index/nav_ic_26.png");}
.icon-new06 {background-image: url("../../../resources/images/index/nav_ic_27.png");}
.icon-new07 {background-image: url("../../../resources/images/index/nav_ic_28.png");}
.icon-new08 {background-image: url("../../../resources/images/index/nav_ic_29.png");}

.sidebar-menu ul li a .icon.icon-new03,
.quick-menu li i.icon-new03 {width:22px;}
.sidebar-menu ul li a .icon.icon-new06,
.quick-menu li i.icon-new06 {width:24px;}
/* 바로가기 편집 */
/* 바로가기 - 상영 - 스케쥴 */
.icon-scr1 {background-image: url("../../../resources/images/index/edit_ic_01.png");}
/* 바로가기 - 상영 - 영화정보 */
.icon-scr2 {background-image: url("../../../resources/images/index/edit_ic_02.png");}
/* 바로가기 - 상영 - 좌석판매현황 */
.icon-scr3 {background-image: url("../../../resources/images/index/edit_ic_03.png");}
/* 바로가기 - 상영 - vip좌석설정 */
.icon-scr4 {background-image: url("../../../resources/images/index/edit_ic_04.png");}
/* 바로가기 - 고객 - 통합정보조회 */
.icon-cut1 {background-image: url("../../../resources/images/index/edit_ic_05.png");}
/* 바로가기 - 고객 - voc조회 */
.icon-cut2 {background-image: url("../../../resources/images/index/edit_ic_06.png");}
/* 바로가기 - 고객 - 분실물관리 */
.icon-cut3 {background-image: url("../../../resources/images/index/edit_ic_07.png");}
/* 바로가기 - 미소 - 미소지기 조회*/
.icon-mis1 {background-image: url("../../../resources/images/index/edit_ic_08.png");}
/* 바로가기 - 미소 - 근태 조회*/
.icon-mis2 {background-image: url("../../../resources/images/index/edit_ic_09.png");}
/* 바로가기 - 미소 - 근무스케쥴*/
.icon-mis3 {background-image: url("../../../resources/images/index/edit_ic_10.png");}
/* 바로가기 - 미소 - 스케줄변경 */
.icon-mis4 {background-image: url("../../../resources/images/index/edit_ic_11.png");}
/* 바로가기 - 미소 - 마일리지*/
.icon-mis5 {background-image: url("../../../resources/images/index/edit_ic_12.png");}
/* 바로가기 - 미소 - 휴가승인*/
.icon-mis6 {background-image: url("../../../resources/images/index/edit_ic_13.png");}
/* 바로가기 - 미소 - 긴급문자*/
.icon-mis7 {background-image: url("../../../resources/images/index/edit_ic_14.png");}
/* 바로가기 - 미소 - 입사서류*/
.icon-mis8 {background-image: url("../../../resources/images/index/edit_ic_15.png");}
/* 바로가기 - 운영 - 업무메모*/
.icon-mtn1 {background-image: url("../../../resources/images/index/edit_ic_16.png");}
/* 바로가기 - 운영 - 나의스케줄*/
.icon-mtn2 {background-image: url("../../../resources/images/index/edit_ic_17.png");}
/* 바로가기 - 운영 - 알림내역*/
.icon-mtn3 {background-image: url("../../../resources/images/index/edit_ic_18.png");}
/* 바로가기 - 환경설정 - 간편로그인 설정*/
.icon-set1 {background-image: url("../../../resources/images/index/edit_ic_19.png");}
/* 바로가기 - 환경설정 - 바로가기 편집 */
.icon-set2 {background-image: url("../../../resources/images/index/edit_ic_20.png");}
/* 바로가기 - 환경설정 - 알림수신설정*/
.icon-set3 {background-image: url("../../../resources/images/index/edit_ic_21.png");}

/* 활성화 상태 */
/* 바로가기 - 상영 - 스케쥴 */
.active .icon-scr1,
.sidebar-submenu .icon-scr1 {background-image: url("../../../resources/images/index/navi_ic_01.png");}
/* 바로가기 - 상영 - 영화정보 */
.active .icon-scr2,
.sidebar-submenu .icon-scr2 {background-image: url("../../../resources/images/index/navi_ic_02.png");}

/* 바로가기 - 상영 - 좌석판매현황 */
.active .icon-scr3,
.sidebar-submenu .icon-scr3 {background-image: url("../../../resources/images/index/navi_ic_03.png");}

/* 바로가기 - 상영 - vip좌석설정 */
.active .icon-scr4,
.sidebar-submenu .icon-scr4 {background-image: url("../../../resources/images/index/navi_ic_04.png");}
/* 바로가기 - 고객 - 통합정보조회 */
.active .icon-cut1,
.sidebar-submenu .icon-cut1 {background-image: url("../../../resources/images/index/navi_ic_05.png");}
/* 바로가기 - 고객 - voc조회 */
.active .icon-cut2,
.sidebar-submenu .icon-cut2 {background-image: url("../../../resources/images/index/navi_ic_06.png");}
/* 바로가기 - 고객 - 분실물관리 */
.active .icon-cut3,
.sidebar-submenu .icon-cut3 {background-image: url("../../../resources/images/index/navi_ic_07.png");}
/* 바로가기 - 미소 - 미소지기 조회*/
.active .icon-mis1 ,
.sidebar-submenu .icon-mis1 {background-image: url("../../../resources/images/index/navi_ic_08.png");}
/* 바로가기 - 미소 - 근태 조회*/
.active .icon-mis2 ,
.sidebar-submenu .icon-mis2 {background-image: url("../../../resources/images/index/navi_ic_09.png");}
/* 바로가기 - 미소 - 근무스케쥴*/
.active .icon-mis3 ,
.sidebar-submenu .icon-mis3 {background-image: url("../../../resources/images/index/navi_ic_10.png");}
/* 바로가기 - 미소 - 스케줄변경 */
.active .icon-mis4 ,
.sidebar-submenu .icon-mis4 {background-image: url("../../../resources/images/index/navi_ic_11.png");}
/* 바로가기 - 미소 - 마일리지*/
.active .icon-mis5 ,
.sidebar-submenu .icon-mis5 {background-image: url("../../../resources/images/index/navi_ic_12.png");}
/* 바로가기 - 미소 - 휴가승인*/
.active .icon-mis6 ,
.sidebar-submenu .icon-mis6 {background-image: url("../../../resources/images/index/navi_ic_13.png");}
/* 바로가기 - 미소 - 긴급문자*/
.active .icon-mis7 ,
.sidebar-submenu .icon-mis7 {background-image: url("../../../resources/images/index/navi_ic_14.png");}
/* 바로가기 - 미소 - 입사서류*/
.active .icon-mis8 ,
.sidebar-submenu .icon-mis8 {background-image: url("../../../resources/images/index/navi_ic_15.png");}
/* 바로가기 - 운영 - 업무메모*/
.active .icon-mtn1 ,
.sidebar-submenu .icon-mtn1 {background-image: url("../../../resources/images/index/navi_ic_16.png");}
/* 바로가기 - 운영 - 나의스케줄*/
.active .icon-mtn2 ,
.sidebar-submenu .icon-mtn2 {background-image: url("../../../resources/images/index/navi_ic_17.png");}
/* 바로가기 - 운영 - 알림내역*/
.active .icon-mtn3 ,
.sidebar-submenu .icon-mtn3 {background-image: url("../../../resources/images/index/navi_ic_18.png");}
/* 바로가기 - 환경설정 - 간편로그인 설정*/
.active .icon-set1 ,
.sidebar-submenu .icon-set1 {background-image: url("../../../resources/images/index/navi_ic_19.png");}
/* 바로가기 - 환경설정 - 바로가기 편집 */
.active .icon-set2 ,
.sidebar-submenu .icon-set2 {background-image: url("../../../resources/images/index/navi_ic_20.png");}
/* 바로가기 - 환경설정 - 알림수신설정*/
.active .icon-set3 ,
.sidebar-submenu .icon-set3 {background-image: url("../../../resources/images/index/navi_ic_21.png");}
/*바로가기 - 발매통제*/
.active .icon-scr5 ,
.sidebar-submenu .icon-scr5 {background-image: url("../../../resources/images/index/navi_ic_22.png");}

.active .icon-new02 ,
.sidebar-submenu .icon-new02 {background-image: url("../../../resources/images/index/navi_ic_23.png");}
.active .icon-new03 ,
.sidebar-submenu .icon-new03 {background-size:cover;background-image: url("../../../resources/images/index/navi_ic_24.png");}
.active .icon-new04 ,
.sidebar-submenu .icon-new04 {background-image: url("../../../resources/images/index/navi_ic_25.png");}
.active .icon-new05 ,
.sidebar-submenu .icon-new05 {background-image: url("../../../resources/images/index/navi_ic_26.png");}
.active .icon-new06 ,
.sidebar-submenu .icon-new06 {background-size:cover;background-image: url("../../../resources/images/index/navi_ic_27.png");}
.active .icon-new07 ,
.sidebar-submenu .icon-new07 {background-size:cover;background-image: url("../../../resources/images/index/navi_ic_28.png");}
.active .icon-new08 ,
.sidebar-submenu .icon-new08 {background-size:cover;background-image: url("../../../resources/images/index/navi_ic_29.png");}

.sidebar-wrapper span.badge {margin-top: 8px;margin-left: 5px;}
.sidebar-wrapper a .badge {margin-top: 0px;}
.btn-refresh { width: 20px; height: 20px;}

/* 바로가기 - 운영 실적*/
.active .icon-result1 ,
.sidebar-submenu .icon-result1 {background-image: url("../../../resources/images/result/icon_result_menu.png");}


/* 전체 메뉴 최신  */
.log-wrap {display: flex;align-items: center;justify-content: flex-start;}
.log-wrap .btn-log-inout {margin-right: 14px;}
.sidebar-menu {flex: 1;margin: 0 -15px;/* padding-bottom: 10px; *//* border-top: 4px solid #e9eaed; */overflow-y: auto;}
.sidebar-wrapper .sidebar-menu ul {margin: 0 15px;}
.sidebar-menu ul li a {width: 100%;text-decoration: none;position: relative;color: #4b4f56;font-size: 15px;display: flex;align-items: center;}
.sidebar-menu ul li.active a { color: #fb4357;}
.sidebar-menu .header-menu {height: 50px;padding: 0 15px;border-bottom: 1px solid rgba(189, 193, 200, 0.5);color:  #4b4f56;font-size: 15px;font-weight: bold;line-height: 50px;}
.sidebar-menu .header-menu span {font-weight: bold;font-size: 17px;display: inline-block;}
.sidebar-menu ul li a .icon {margin-right: 10px;width: 20px;height: 20px;text-align: center;border-radius: 4px;}

 /* 서브메뉴 */
.sidebar-submenu {padding: 0 15px;border-bottom: 1px solid rgba(189, 193, 200, 0.5);}
.sidebar-wrapper .sidebar-submenu { padding: 0;}
.sidebar-submenu:last-child {border-bottom: 0;}
.sidebar-submenu ul {display: flex;align-items: center;justify-content: space-between;flex-wrap: wrap;}
.sidebar-submenu li {width: 50%;height: 45px;padding: 0 11px;font-size: 15px;line-height: 45px;}

.family-sites { padding: 0 15px 40px 15px; background: #e9eaed}
.family-sites h3 {height: 54px;padding: 0 15px;color: #4b4f56;font-size: 17px;font-weight: bold;line-height: 54px;}
.family-sites ul {display: flex;justify-content: space-between;padding: 0 11px;}
.family-sites li {display: inline-block;width: 65px;}

/* 바로가기 */
.quick-menu {flex: 1;overflow-x: hidden;overflow-y: auto;padding-top: 20px;-webkit-overflow-scrolling:touch;}
.quick-menu ul {display: flex;flex-wrap: wrap;overflow-x: hidden;}
.quick-menu li {display: flex;align-items: center;justify-content: center;width: calc(25% - 6px);height: 78px;margin: 3px;border: 1px dotted #bdc1c8;}
.quick-menu li.active {border: 1px solid #fb4357;}
.quick-menu li a {display: flex;align-items: center;justify-content: center;flex-direction: column;font-size: 12px;color: #4b4f56;font-weight: 400;}
.quick-menu li i {width: 20px;height: 20px;margin-bottom: 6px;background-size:cover;}
.quick-menu + .btn-single.btn-red {position: fixed;bottom:0;}
/* 고객 - 쿠폰정보 */
.sale-detail {padding: 15px 0;}
.sale-detail .tit {color: #4b4f56;font-size: 14px;line-height: 23px;font-weight: bold;text-align: left;}
.sale-detail ul {margin-top: 5px;}
.sale-detail li {color: #4b4f56;font-size: 14px;line-height: 23px;font-weight: 500;text-align: left;}
.sale-detail li p {padding-left: 10px;}

/* 고객 - 상품권 정보 */
.table-extra-info {padding: 20px 5px;}
.table-extra-info h5 {color: #373e46;font-size: 18px;font-weight: bold;}
.table-extra-info p {margin-top: 5px;color: #4b4f56;font-size: 14px;font-weight: 500;}

/* cms 게시판 상세 */
.notice-detail-title {display: flex;justify-content: space-between;align-items: center;height: 50px;padding: 0 15px;background: #373e46;}
.notice-detail-title .tit {width: calc(100% - 70px);white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.notice-detail-title .name {width: 60px;padding-left: 10px;border-left: 1px solid #48515b;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.notice-detail-title p {color: #fff;font-size: 14px;font-weight: 400;}
.notice-detail-navi {display: flex;align-items: center;justify-content: space-between;position: fixed;left: 0;bottom: 0;width: 100%;height: 50px;}
.notice-detail-navi::before {content: '';position: absolute;top: 0;left: 0;right: 0;bottom: 0;background: rgba(0,0,0,0.75);}
.notice-detail-navi .btn-prev,
.notice-detail-navi .btn-next {display: block;width: 18px;}
.notice-detail-navi .btn-prev {margin-left: 15px;}
.notice-detail-navi .btn-close {display: block;width: 25px;margin-top: 0;}
.notice-detail-navi .btn-next {margin-right: 15px;}
.content-sub .content-list.notice-contents {padding-bottom:55px;}

/* 업무메모 푸시 */
.push-area {position: relative;}
.push-area::before,
.push-area::after {display: block;content: '';width: calc(100% + 30px);height: 8px;margin: 0 -15px;background: #eee;}
.push-area::after {margin-top:20px;}
.push-area.sms-push {margin-top:40px;}
.push-area.sms-push::before,
.push-area.sms-push::after {display: none;}
.btn-calendar {color: #4b4f56;font-size: 13px;}
.push-tit p {display: inline-block;margin-right:15px;vertical-align: middle;}
.push-tit .switch-button {vertical-align: middle;}

/* 고객 voc 조회 */
.accordion-ver2-wrap.active.show .accordion-arrow i {background-image: url(../../../resources/images/select_arrow_open.png) !important;}
.accordion-ver2-wrap.active .accordion-arrow i {background-image: url(../../../resources/images/select_arrow_close.png) !important;}
.accordion-ver2-wrap.active .accordion-ver2 {max-height: 46px;overflow: hidden;}
.accordion-ver2-wrap.active.show .accordion-ver2 {max-height: none;}
.accordion-ver2-wrap .accordion-arrow {display: none;}
.accordion-ver2-wrap.active .accordion-arrow {display: block;cursor: pointer;}
.accordion-ver2 {display: block;color: #4b4f56;font-size: 14px;line-height: 23px;font-weight: bold;text-align: left;vertical-align: middle;white-space: pre-line;}

/* 비상연락망 */
.noec-txt {display: inline-block;vertical-align: middle;width: calc(100% - 44px);}
.noec-txt dl dt {font-size: 16px;color: #4b4f56;font-weight: bold;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.noec-txt dl dt .item {position:relative;margin-right:5px;padding-right:12px;}
.noec-txt dl dt .item:after {content: '';display: inline-block;width: 1px;height:82%;position: absolute;top: 2px;right: 0;background: #4b4f56;}
.noec-txt dl dt .item:last-of-type {margin-right: 0;padding-right: 0;}
.noec-txt dl dt .item:last-of-type:after {display:none;}
.noec-txt dl dt .phone-num {margin-left: 20px;display: inline-block;vertical-align: middle;}
.noec-txt dl dt .phone-num:before {content: '';display: inline-block;width: 12px;height: 13px;background: url(../../../resources/images/icon_phone_num.png) no-repeat left center;background-size: 8.5px 13px;}
.noec-txt dl dt .new {display:inline-block;vertical-align:middle;width:18px;height:18px;line-height:19px;margin-right:5px;font-size:12px;color:#fff;font-style:normal;background:#ed3124;border-radius:50%;text-align:center;}
.noec-txt dl dd {margin-top: 9px;font-size: 12px;color: #4b4f56;}
.noec-txt dl dd.division {overflow: hidden;margin-bottom: 3px;color: #4b4f56;}
.noec-txt dl dd.division .item {position: relative;float: left;margin-right: 6px;padding-right: 6px;color:#9197a3;}
.noec-txt dl dd.division .item:after {content: '';display: inline-block;width: 1px;height: 82%;position: absolute;top: 2px;right: 0;background: #bdc1c8;}
.noec-txt dl dd.division .item:last-of-type {margin-right: 0;padding-right: 0;}
.noec-txt dl dd.division .item:last-of-type:after {display: none;}
.phone-call {display: inline-block;vertical-align: middle;margin-left: 5px;}
.comment-right {display: inline-block;vertical-align: middle;width: 34px;margin-left: 5px;padding:10px 0;text-align: center;background: #e8eaea;border-radius: 6px;}
.comment-right span {display: block;}
.comment-right span.f-color04 {font-size: 12px;font-weight: bold;}
.comment-right span.f-color03 {font-size: 9px;}

/* 사이트 게시판 */
.noti-section {margin-top: 20px;padding-bottom: 20px;border-bottom: 1px solid #9197a3;}
.noti-section.modi-page {padding-bottom: 0;border-bottom: 0;}
.noti-section:last-of-type {padding-bottom: 0;border-bottom: 0;}
.noti-section .ns-title {display: flex;justify-content: space-between;}
.noti-section .ns-title h4 {font-size: 16px;color: #373e46;font-weight: bold;}
.noti-section .ns-cont {}
.noti-section .cate-txt {margin-top: 5px;font-size: 15px;color: #4b4f56;}
.noti-section .sub-txt {margin-top: 15px;font-size: 12px;color: #9197a3;overflow: hidden;}
.noti-section .sub-txt .item {position: relative;float: left;margin-right: 6px;padding-right: 6px;}
.noti-section .sub-txt .item:after {content: '';display: inline-block;width: 1px;height: 82%;position: absolute;top: 0;right: 0;background: #bdc1c8;}
.noti-section .sub-txt .item:last-of-type {margin-right: 0;padding-right: 0;}
.noti-section .sub-txt .item:last-of-type:after {display: none;}
.noti-section .list-txt {margin-top: 20px;font-size: 12px;color: #4b4f56;line-height: 1.3;}
.noti-section .write-box {display: flex;justify-content: space-between;margin-top: 10px;padding-bottom: 8px;border-bottom: 1px solid #bdc1c8;}
.noti-section .write-box .wb-inp {height: 30px;padding: 9px 5px 0;flex: 1;resize: none;}
.noti-section .comment-box li {position: relative;}
.noti-section .delete-icon {position: absolute;top: 11px;right: 10px;display: flex;flex-direction: column;padding: 5px;}
.noti-section .delete-icon .circle {display: inline-block;width: 3px;height: 3px;margin-bottom: 4px;background: #bdc1c8;border-radius: 50%;}
.noti-section .delete-icon .di-btn {position: absolute;bottom: -25px;right: 5px;display: none;}
.noti-section .delete-icon .di-btn.active {display:block;}
.noti-section .delete-icon .btn-round {width: 40px;height: 30px;padding: 5px 0;background: #fff;font-size: 11px;color: #4b4f56;border:1px solid #bdc1c8;border-radius: 0;}
.noti-section .drop-wrap {position: relative;}
.noti-section .drop-btn {width: 100%;height: 35px;padding: 0 10px;border: 1px solid #bdc1c8;border-radius: 4px;font-size: 15px;color: #9197a3;text-align: left;background: #fff url(../../../resources/images/select_arrow_close01.png) no-repeat calc(100% - 10px) center;background-size: 15px 8.5px;}
.noti-section .drop-list {display: none;position: absolute;top: 30px;right: 0;width: 100%;background: #fff;z-index: 5;border-bottom: 1px solid #bdc1c8;border-radius: 0 0 4px 4px;}
.noti-section .drop-list li {border-left: 1px solid #bdc1c8;border-right: 1px solid #bdc1c8;color: #9197a3;font-size: 15px;text-indent: 10px;line-height:35px;}
.noti-section .input-tit {margin-bottom: 20px;}
.noti-section .input-tit .desc {margin-bottom: 6px;text-align: right;font-size: 12px;color: #9197a3;font-weight: normal;}
.noti-section .input-tit .desc span {font-weight: bold;}
.noti-section .input-tit .it-inp {width: 100%;height: 40px;padding: 0 10px;border: 1px solid #bdc1c8;border-radius: 4px;font-size: 15px;color: #9197a3;text-align: left;}
.noti-section .input-txt {margin-top: 20px;}
.noti-section .input-txt textarea {width: 100%;height: 175px;padding: 10px;border: 1px solid #bdc1c8;border-radius: 4px;font-size: 12px;color: #9197a3;resize: none;}
.noti-section .comment-check .checkbox-wrap {margin-right: 10px;}
.noti-section .comment-check .checkbox-wrap input[type="checkbox"] + label .customInput {margin-left: 0;margin-right: 3px;}
.noti-section .comment-check .checkbox-wrap input[type="checkbox"] + label strong {display: inline-block;vertical-align: middle;font-size: 14px;color: #4b4f56;}