@charset "utf-8";
  
* {margin: 0;padding: 0;/* letter-spacing: -0.5px; */box-sizing: border-box;}
*::before,
*::after {box-sizing: border-box;}
body {margin: 0;padding: 0;color: #373e36;line-height: 1.2;font-size: 14px;-webkit-text-size-adjust: none;}
input,select,textarea {-webkit-appearance: none;margin: 0;padding: 0;color: #383838;vertical-align: middle;}
ul,li {list-style: none;}
img,fieldset {border: none;}
a {color: #2f363f;text-decoration: none;cursor: pointer;}
a.disabled {pointer-events: none;cursor: default;}
input[type="text"],
input[type="file"],
input[type="password"],
textarea {font-size: 14px;outline-style: none;}
input[type="checkbox"],
input[type="radio"] {margin: 0;padding: 0;}
input[type="checkbox"],
input[type="radio"] {width: 7px;height: 7px;}
img {vertical-align: middle;border: 0;}
header,nav,section {margin: 0;padding: 0;}
table {border-spacing: 0;padding: 0;border: 0;border-collapse: collapse;}
th,td {padding: 0;margin: 0;}
caption,legend {overflow: hidden;visibility: hidden;width: 0;height: 0;line-height: 0;font-size: 0;}
button,input,select,textarea {display: inline-block;font-family: inherit;font-size: 1em;margin: 0;padding: 0;border: 0;background: transparent;outline: none;line-height: 1.2;}
input::placeholder {color: #bdc1c8;font-size: 12px;font-weight: 700;}
input::-webkit-input-placeholder {color: #bdc1c8;font-size: 12px;font-weight: 700;}
input::-moz-placeholder {color: #bdc1c8;font-size: 12px;font-weight: 700;}
input:-ms-input-placeholder {color: #bdc1c8;font-size: 12px;font-weight: 700;}
input::-ms-input-placeholder {color: #bdc1c8;font-size: 12px;font-weight: 700;}
input:-moz-placeholder {color: #bdc1c8;font-size: 12px;font-weight: 700;}

