@font-face {
	font-family: 'NotoSanskr';
	font-style: normal;
	font-weight: 200;
	src: local('NotoSansCJKkr'), local('NotoSansCJKkr-Thin'), url(../font/noto/NotoSans-Thin.woff2) format('woff2'),
	url(../font/noto/NotoSans-Thin.woff) format('woff');
	unicode-range: U+0020-U+007E,U+1100-U+11F9,U+3000-U+303F,U+3131-U+318E,U+327F-U+327F,U+AC00-U+D7A3,U+FF01-U+FF60;
}
@font-face {
	font-family: 'NotoSanskr';
	font-style: normal;
	font-weight: 300;
	src: local('NotoSansCJKkr'), local('NotoSansCJKkr-Light'), url(../font/noto/NotoSans-Light.woff2) format('woff2'),
	url(../font/noto/NotoSans-Light.woff) format('woff');
	unicode-range: U+0020-U+007E,U+1100-U+11F9,U+3000-U+303F,U+3131-U+318E,U+327F-U+327F,U+AC00-U+D7A3,U+FF01-U+FF60;
}
@font-face {
	font-family: 'NotoSanskr';
	font-style: normal;
	font-weight: 400;
	src: local('NotoSansCJKkr'), local('NotoSansCJKkr-DemiLight'), url(../font/noto/NotoSans-DemiLight.woff2) format('woff2'),
	url(../font/noto/NotoSans-DemiLight.woff) format('woff');
	unicode-range: U+0020-U+007E,U+1100-U+11F9,U+3000-U+303F,U+3131-U+318E,U+327F-U+327F,U+AC00-U+D7A3,U+FF01-U+FF60;
}

@font-face {
	font-family: 'NotoSanskr';
	font-style: normal;
	font-weight: 500;
	src: local('NotoSansCJKkr'), local('NotoSansCJKkr-Regular'), url(../font/noto/NotoSans-Regular.woff2) format('woff2'),
	url(../font/noto/NotoSans-Regular.woff) format('woff');
	unicode-range: U+0020-U+007E,U+1100-U+11F9,U+3000-U+303F,U+3131-U+318E,U+327F-U+327F,U+AC00-U+D7A3,U+FF01-U+FF60;
}

@font-face {
	font-family: 'NotoSanskr';
	font-style: normal;
	font-weight: 700;
	src: local('NotoSansCJKkr'), local('NotoSansCJKkr-Medium'), url(../font/noto/NotoSans-Medium.woff2) format('woff2'),
	url(../font/noto/NotoSans-Medium.woff) format('woff');
	unicode-range: U+0020-U+007E,U+1100-U+11F9,U+3000-U+303F,U+3131-U+318E,U+327F-U+327F,U+AC00-U+D7A3,U+FF01-U+FF60;
}

@font-face {
	font-family: 'NotoSanskr';
	font-style: normal;
	font-weight: 800;
	src: local('NotoSansCJKkr'), local('NotoSansCJKkr-Bold'), url(../font/noto/NotoSans-Bold.woff2) format('woff2'),
	url(../font/noto/NotoSans-Bold.woff) format('woff');
	unicode-range: U+0020-U+007E,U+1100-U+11F9,U+3000-U+303F,U+3131-U+318E,U+327F-U+327F,U+AC00-U+D7A3,U+FF01-U+FF60;
}

@font-face {
	font-family: 'NotoSanskr';
	font-style: normal;
	font-weight: 900;
	src: local('NotoSansCJKkr'), local('NotoSansCJKkr-Black'), url(../font/noto/NotoSans-Black.woff2) format('woff2'),
	url(../font/noto/NotoSans-Black.woff) format('woff');
	unicode-range: U+0020-U+007E,U+1100-U+11F9,U+3000-U+303F,U+3131-U+318E,U+327F-U+327F,U+AC00-U+D7A3,U+FF01-U+FF60;
}
