/*기본테이블*/
.table-info {position:relative;margin:0 -15px;border-bottom:1px solid #ccc;text-align:center;}
.table-info th,
.table-info td {table-layout: fixed; padding:10px 4px 9px;background:#fff;font-size:13px;line-height:15px;color:#4b4f56;word-break:break-all;}
.table-info th {border-top:1px solid #666666;border-bottom:1px solid #666666;background:#f7f7f7;}

.table-info .b-line {border-bottom:1px solid #ccc;}
.table-info .r-line {border-right:1px solid #ccc;}
.table-info .l-line {border-left:1px solid #ccc;}
.table-info .t-bold {font-weight:700;}
.table-info .total {border-bottom:1px solid #ccc;}
.table-info .total td,
.table-info .total th {text-align:center !important;font-weight:700 !important;}
.table-info .total.type02 td,
.table-info .total.type02 th {text-align:right !important;}
.table-info .total.type02 td:first-child {text-align:center !important;}
.table-info .unit {font-size:10px;}
.table-info .point-bg td,
.table-info .point-bg th {background:#dbe9f9;}
.table-info tr.f-color03 td {color:#9197a3 !important;}
.table-info tbody td.movie-name {max-width:0;height: 34px;font-weight:600;overflow:hidden;text-align:left;text-overflow:ellipsis;white-space: nowrap;}
.table-info tbody td:first-child.movie-name {padding-left:15px;}
.table-info tbody td.indent {padding-left:27px !important;font-weight:400;text-align:left;}
.table-info .s-font {display:block;font-size:10px;}
.table-info .s-font.gain,
.table-info .s-font.fall {display:inline-block;}
.table-info.more-type {border-bottom:none;}
.table-info .point-bg02 td,
.table-info .point-bg02 th {background:#ebebeb;}
.table-info thead th.sort-active {position:relative;color:#fb4357;border-bottom:2px solid #fb4357;}
.table-info thead th.sort-active.asc::after,
.table-info thead th.sort-active.desc::after {content:'';display:inline-block;position: absolute;right:4px;top:calc(50% - 5px);width:10px;height:10px;background:url(../../images/icon_gain.png);background-size:cover;}
.table-info thead th.sort-active.desc::after {transform:rotate(180deg);}
.table-info .bdiv {border-top:1px solid #bdc1c8;}
.table-info .bdiv:first-of-type {border-top:0;}
.table-info .align-r {padding-right:15px !important;}
.table-info .align-l {padding-left:15px !important;}
/*라인테이블01*/
.table-info.line-style01 td {border-top:1px solid #bdc1c8;border-right:1px solid #bdc1c8;}
.table-info.line-style01:last-child tr td:last-child {border-right:none;}
/* .table-info.line-style01 tr:first-child td {border-top:none;} */

/*라인테이블02*/
.table-info.line-style02 th {padding:5px 2px 4px;border-bottom:1px solid #ccc;}
.table-info.line-style02 tr td:first-child {border-right:1px solid #ccc;}
.table-info.line-style02 thead tr:first-child th:first-child {border-right:1px solid #ccc;}

/*라인테이블03*/
.table-info.line-style03 th {padding:5px 2px 4px;border-bottom:1px solid #ccc;}
.table-info.line-style03 tr td {padding:7px 4px 5px;}
.table-info.line-style03 tr td:first-child {border-right:1px solid #ccc;}
.table-info.line-style03 thead tr:first-child th:first-child {border-right:1px solid #ccc;}
.table-info.line-style03 thead tr th + th {border-left:1px solid #ccc;}
.table-info.line-style03 tbody tr td + td {border-left:1px solid #ccc;}

/*라인테이블04*/
.table-info.line-style04 thead tr th {padding:5px 2px 4px;border-bottom:1px solid #bdc1c8;background:#f7f7f7;font-weight:700;}
.table-info.line-style04 thead tr th:first-child {border-right:1px solid #bdc1c8;}
.table-info.line-style04 tbody tr td:first-child {border-right:1px solid #bdc1c8;padding-left:15px;text-align:left;}
.table-info.line-style04 tbody tr.th-style td {padding:5px 2px 4px;border-bottom:1px solid #bdc1c8;background:#f7f7f7;}
.table-info.line-style04 tbody tr.th-style td:first-child {padding-left:2px;text-align:center;font-weight:700;}
.table-info.line-style04 tbody tr.th-style:last-of-type td {border-bottom:1px solid #666;}

/*라인테이블05*/
.table-info.line-style05 thead th,
.table-info.line-style05 thead td {padding:4px 2px 2px;border-bottom:1px solid #bdc1c8;border-right:1px solid #bdc1c8;background:#f7f7f7;}
.table-info.line-style05 tbody th,
.table-info.line-style05 tbody td {border-right:1px solid #bdc1c8;}
.table-info.line-style05 .movie-name {padding-left:15px;font-weight:400;}
/* 테이블 스트롤 영역 */
.tbl-scroll-area {overflow-x:auto;margin:0 -15px;}
.tbl-scroll-area .table-info {width:calc(100vw * 1.7);margin:0;}


/*inner테이블01*/
.table-info.indent-type .point-bg02 td:first-child {font-weight:700;}
.table-info.indent-type tr th,
.table-info.indent-type tr td {padding:7px 4px 5px;}
.table-info.indent-type tr td:first-child,
.table-info.indent-type tr th:first-child {padding-left:15px;text-align:left;}
.table-info.indent-type .inner td:first-child {padding-left:25px;}

/*테이블 상단 버튼 밒 텍스트*/
.tbl-top-style:after {content:'';display:block;clear:both;}
.tbl-top-style .btn-round {float:left;}
.tbl-top-style .info {float:right;margin-top:11px;font-size:13px;}
.tbl-top-style + .row {margin-top:5px;}
.tbl-top-style + .table-info {margin-top:5px;}

/*아코디언 타입 테이블 */
.btn-accordion {width:40px;height:40px;}
.btn-accordion::after {content:'';display:inline-block;width:15px;height:15px;border-radius:3px;background:url(../../images/btn_accordion.png) no-repeat center / 10px 6px #bdc1c8;vertical-align:middle;}
.accordion-type tbody tr td {padding:6px 4px 5px;border-top:1px solid #bdc1c8;}
.accordion-type tbody tr td.align-r {padding-right:10px;} /* 2019.11.27 추가 */
.accordion-type tbody tr {border:none;}
.accordion-type tbody tr td:first-child {padding-left:15px;text-align:left;}
.accordion-type tbody tr td:first-child:after {content:'';display:block;clear:both;}
.accordion-type .btn-accordion {float:right;margin:-14px 0;}
.accordion-type .btn-accordion.open::after {transform:rotate(180deg);background-position: center left 2px;}
.accordion-type .group-top td {font-weight:700;}
.accordion-type .group-bottom {display:none;}
.accordion-type .group-bottom .indent01 {padding-left:25px;}
.accordion-type .group-bottom .indent02 {padding-left:35px;}
.accordion-type .group-bottom + .group-bottom td {border-top:none;}

/*테이블 상단고정*/
/* .tbl-topfix-style {position:relative;border-top-color:transparent;margin-top:0;} */
/* .tbl-topfix-thead {position:absolute;top:0;left:0;right:0;} */
/* .tbl-topfix-thead.fixed {position: fixed;z-index:10;top:100px;} */
/* .tbl-topfix-thead.fixed:before {content:'';position: absolute;top:-16px;left:0;right:0;height:16px;background:#fff;} */

/* 페이지 고정영역 */
/* .fixed-area {margin-top:15px;} */
/* .fixed-area.fixed {position: fixed;z-index:10;top:0;left:0;right:0;margin-top:0;padding:0;background:#fff;}
.tab-ui2 > .fixed-area.fixed ul {border:0;}
.tab-ui2 > .fixed-area.fixed ul li.active {border:0;}
.tab-ui3 > .fixed-area.radio-type {margin-top:0;}
.tab-ui3 > .fixed-area.radio-type > ul {height:45px;padding-top:15px;}
.tab-ui3 > .fixed-area.radio-type.fixed {left:15px;right:15px;}
.tab-ui3 > .fixed-area.radio-type.fixed ul{padding:15px 15px 0;}
.fixed-area02 {position:sticky;top:0;} */

/*팝업 테이블 상단고정*/
/* .tbl-popfix-style {position: relative;}
.tbl-popfix-style .tbl-popfix-thead {position: fixed;z-index: 10;} */
.point-row th {background: #fed7de;}
.pop-house .tbl-popfix-thead thead th {border-top:none;}

/*테이블 좌측,상단 고정 플러그인*/
.freezer,
#freezer-example {position:relative;width:100vw;overflow:hidden;}
.freezer table col,
#freezer-example table col {width:calc(100vw / 6.4);}
.freezer.type2 table col,
#freezer-example.type2 table col {width:calc(100vw / 4.4);}

.freezer.type2 table .col-rank {width:40px;}/* 고정테이블 첫 column 넓이 지정 */
.freezer.type2 table .col-mov {width:calc(100vw / 3.35);}/* 고정테이블 첫 column 넓이 지정 */

.freezer .freeze-multi-scroll-left-head,
#freezer-example .freeze-multi-scroll-left-head,
.freezer .freeze-multi-scroll-left-body,
#freezer-example .freeze-multi-scroll-left-body {z-index:5;}
.freezer table thead th,
#freezer-example table thead th {position:relative;height:46px;border-bottom:1px solid #666;border-top:1px solid #666;border-right:1px solid #bdc1c8;padding:5px 5px 4px;}
.freezer.type2 table thead th,
#freezer-example.type2 table thead th {height:20px;}
.freezer table thead th .tbl-arrow,
#freezer-example table thead th .tbl-arrow {position:absolute;top:0;right:0;width:12px;height:100%;background:#bdc1c8;border:0;}
.freezer table thead th .tbl-arrow:after,
#freezer-example table thead th .tbl-arrow:after {content:'';display:inline-block;width:8px;height:8px;background:url(../../images/btn_tbl_plus.png) no-repeat center center;background-size:cover;}
.freezer table tbody th,
#freezer-example table tbody th {border:none;border-right:1px solid #bdc1c8;font-weight:400;background:#fff;}
.freezer table tbody th.chain,
#freezer-example table tbody th.chain {background:#f7f7f7;border-right:0;}
.freezer table tbody td,
#freezer-example table tbody td {border-right:1px solid #bdc1c8;padding:7px 4px 5px;}
.freezer table tbody th,
#freezer-example table tbody th {padding:7px 4px 5px;}
.accod-view td {padding:7px 4px 5px;}
.freeze-multi-scroll-left-body-inner {left:-0.5px;}
.freezer .icon-x-scroll,
#freezer-example .icon-x-scroll {display:inline-block;position:absolute;right:5px;top:10px;width:30px;height:30px;background:url(../../images/icon_x_scroll.png) no-repeat;background-size:cover;z-index:5;font-size:0;-webkit-transition:transform 0.3s;transition:transform 0.3s;}

/*.freezer,
#freezer-example02 {position:relative;width:100vw;overflow:hidden;}
.freezer table col,
#freezer-example02 table col {width:calc(100vw / 4.8);}
#freezer-example02 table col.s-width {width:50px;}
.freezer .freeze-multi-scroll-left-head,
#freezer-example02 .freeze-multi-scroll-left-head,
.freezer .freeze-multi-scroll-left-body,
#freezer-example02 .freeze-multi-scroll-left-body {z-index:5;}
.freezer table thead th,
#freezer-example02 table thead th {position:relative;height:24px;border-bottom:1px solid #ccc;border-top:1px solid #666;border-right:1px solid #bdc1c8;padding:0 5px;}

.freezer table tbody th,
#freezer-example02 table tbody th {border:none;border-right:1px solid #bdc1c8;font-weight:400;background:#fff;}
.freezer table tbody th.chain,
#freezer-example02 table tbody th.chain {background:#f7f7f7;border-right:0;}
.freezer table tbody td,
#freezer-example02 table tbody td {border-right:1px solid #bdc1c8;padding:7px 4px 5px;}
.freezer table tbody th,
#freezer-example02 table tbody th {padding:7px 4px 5px;}*/









/* iphone 바운스 */
.freezer .freeze-multi-scroll-table .freeze-multi-scroll-table-head th:first-of-type,
#freezer-example .freeze-multi-scroll-table .freeze-multi-scroll-table-head th:first-of-type {background:#fff;border:0;font-size:0;visibility:hidden;opacity:0;}
.freezer .freeze-multi-scroll-table .freeze-multi-scroll-table-body th,
#freezer-example .freeze-multi-scroll-table .freeze-multi-scroll-table-body th,
.freezer .freeze-multi-scroll-table .freeze-multi-scroll-table-body tr:not(.bdiv),
#freezer-example .freeze-multi-scroll-table .freeze-multi-scroll-table-body tr:not(.bdiv) {background:#fff;border:0;font-size:0;}


.accod-view {display:none;position:absolute;top:0;left:calc(100vw / 3.2);z-index:5;}
.accod-view .evt-tbl {width:calc(100vw / 2.5);border-bottom:1px solid #bdc1c8;}
.accod-view .evt-tbl thead {border-top:1px solid #666;border-bottom:1px solid #666;border-right:1px solid #bdc1c8;}
.accod-view .evt-tbl tbody {border-right:1px solid #bdc1c8;}
.accod-view .evt-tbl th {height:46px;border-bottom:0;border-top:0;padding:0 5px 0;border-right:1px solid #fff;background:#bdc1c8;color:#fff;}
.accod-view .evt-tbl th.total {border-left:1px solid #bdc1c8;border-right:0;}

.freezer .icon-x-scroll.rotate,
#freezer-example .icon-x-scroll.rotate {-webkit-transform:rotate(180deg);transform:rotate(180deg);}
/* .iscroll .freeze-multi-scroll-wrapper {overflow: hidden;width:100%;}
.iscroll .freeze-multi-scroll-table {overflow: visible;-webkit-overflow-scrolling:touch;transition: all .5s cubic-bezier(0.1, 0.57, 0.1, 1) 0s !important;}
.iscroll .freeze-multi-scroll-table-head {overflow: visible;}
.iscroll .freeze-multi-scroll-table-body {overflow: visible;} */


/*툴팁*/
.ui-tooltip {display:block;white-space:nowrap;padding:11px 17px;position:absolute;margin-top:-50px;margin-left:-24px;border-radius:40px;background-color:#fff;z-index:1000;filter:drop-shadow(0px 0px 10px rgba(0,0,0,.2));text-align:center;}
.ui-tooltip:before {content:'';width:0;height:0;position:absolute;bottom:-11px;left:calc(50% - 8px);border-width:13px 8px 0 8px;border-style: solid;border-color: #fff transparent transparent transparent;}
.ui-tooltip .auditorium {color:#4b4f56;font-size:11px;font-weight:400;margin-top:3px;}
.ui-tooltip .movie {color:#fb4357;font-weight:700;font-size:13px;white-space:normal;}
.ui-tooltip-content {font-size:14px;font-weight:bold;}
.ui-tooltip.positionleft:before {left:12%;}
.ui-tooltip.last {margin-left:-10px;}
.ui-tooltip.last:before {left:auto;right:15%;}
.tooldim {position:fixed;top:0;right:0;bottom:0;left:0;background:rgba(0,0,0,.2);z-index:100;}
.movie:after {display:inline-block;width:18px;height:18px;margin-left:5px;border-radius:50%;font-weight:400;line-height:18px;color:#fff;vertical-align:middle;}
.movie.spectators-15:after {content:'15';background:#f26522;}
.movie.spectators-12:after {content:'12';background:#22b0f2;}

/*테이블 버튼*/
.btn-tbltoggle {margin:-5px 0;padding:1px 15px 0px 6px;border:1px solid #9197a3;border-radius:3px;font-size:13px;background:url(../../images/btn_tbl_togle.png) no-repeat right 6px center / 5px 9px #fff; }
.btn-tbltoggle.style02 {display:inline-block;width:51px;padding-right:6px;border-radius:5px;background:transparent;background-color:#fff;}
.btn-tbltoggle.style02 .s-font {margin-top:-4px;}
/*첫번째 td left 정렬*/
.align-form01 tr td:first-child,
.align-form01 tr:first-child th:first-child {padding-left:15px;text-align:left;}



/* 국가 아이콘 스타일 */
.country-icon-style tr th:first-child {border-right:1px solid #bdc1c8;}
.country-icon-style .total {border-top:1px solid #ccc;}
.country-icon-style .total td:first-child {border-right:1px solid #bdc1c8;}

.country-icon-style .c-icon {padding-left:40px;border-right:1px solid #bdc1c8;background-repeat:no-repeat;background-position:left 17px center;background-size:15px;text-align:left;}
.country-icon-style .c-icon.ctry-01 {background-image:url(../../images/icon_c_kor.png);}
.country-icon-style .c-icon.ctry-08 {background-image:url(../../images/icon_c_chn.png);}
.country-icon-style .c-icon.ctry-03 {background-image:url(../../images/icon_c_vnm.png);}
.country-icon-style .c-icon.ctry-04 {background-image:url(../../images/icon_c_idn.png);}
.country-icon-style .c-icon.ctry-06 {background-image:url(../../images/icon_c_tur.png);}
.country-icon-style .c-icon.ctry-05 {background-image:url(../../images/icon_c_mmr.png);}
.country-icon-style .c-icon.ctry-02 {background-image:url(../../images/icon_c_usa.png);}
.country-icon-style .c-icon.ctry-07 {background-image:url(../../images/icon_c_rus.png);}

.country-icon-style .c-icon.ctry-80,
.country-icon-style .c-icon.ctry-90 {padding-left:0;background-repeat:no-repeat;background-position:center;background-size:auto 15px; text-align:center;font-size:0;}
.country-icon-style .c-icon.ctry-80 {background-image:url(../../images/icon_c_four_dx.png);}
.country-icon-style .c-icon.ctry-90 {background-image:url(../../images/icon_c_screen_x.png);}
