@charset "UTF-8";
/* Designed by Rock */
/* Common Set */
body.main-index {
  color: #373e46;
  font-size: 12px;
  min-width: 360px;
}

body.main-index .cgv-mobile {
  padding-top: 50px;
  overflow-x: hidden;
  overflow-y: auto;
}

body.main-index img {
  max-width: 100%;
  height: auto;
  display: block;
}

body.main-index button {
  cursor: pointer;
}

body.main-index [class*="btn-"] {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-color: transparent;
  background-color: transparent;
}

body.main-index .hide {
  display: none !important;
}

/* Header */
.main-index header {
  width: 100%;
  min-width: 360px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 15px;
  border-bottom: 1px solid #9197a3;
}

.main-index header .control-btns {
  min-width: 15%;
  max-width: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-index header .control-btns.end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.main-index header .control-btns .btn-more, .main-index header .control-btns .btn-back, .main-index header .control-btns .btn-noti, .main-index header .control-btns .btn-search-main {
  width: 20px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-index header .control-btns .btn-more .icon-more, .main-index header .control-btns .btn-back .icon-more, .main-index header .control-btns .btn-noti .icon-more, .main-index header .control-btns .btn-search-main .icon-more {
  width: 20px;
  height: 15px;
  vertical-align: bottom;
  display: inline-block;
  text-indent: -9999px;
  background-image: url("../../images/index/icon_more.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.main-index header .control-btns .btn-back .icon-back {
  width: 20px;
  height: 20px;
  vertical-align: bottom;
  display: inline-block;
  text-indent: -9999px;
  background-image: url("../../images/index/icon_back.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.main-index header .control-btns .btn-noti {
  width: 16px;
  height: 19px;
  margin-right: 5px;
}

.main-index header .control-btns .btn-noti.on {
  position: relative;
}

.main-index header .control-btns .btn-noti.on::before {
  content: '';
  width: 5px;
  height: 5px;
  position: absolute;
  top: 0;
  right: -5px;
  border-radius: 50%;
  background-color: #dc291e;
}

.main-index header .control-btns .btn-noti .icon-noti {
  width: 16px;
  height: 19px;
  vertical-align: bottom;
  display: inline-block;
  text-indent: -9999px;
  background-image: url("../../images/index/icon_noti.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-position-x: left;
}

.main-index header .control-btns .btn-search-main .icon-search-main {
  width: 20px;
  height: 20px;
  vertical-align: bottom;
  display: inline-block;
  text-indent: -9999px;
  background-image: url("../../images/index/icon_search_main.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.main-index header .control-btns .btn-noti + .btn-search-main {
  margin-left: 6px;
}

.main-index header .header-contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-index header .header-contents .btn-logo {
  width: 60px;
  display: block;
  margin: 0 auto;
}

/* Main Contents */
main.index-contents {
  padding: 0 15px;
}

main.index-contents .user-status-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 15px 10px;
  border-bottom: 1px solid rgba(178, 182, 190, 0.7);
}

main.index-contents .user-information .user-name-location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main.index-contents .user-information .user-name-location .name {
  font-weight: bold;
}

main.index-contents .user-information .user-name-location .position-location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 15px;
}

main.index-contents .user-information .user-name-location .position-location .position {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 5px;
}

main.index-contents .user-information .user-name-location .position-location .position::after {
  content: '/';
  margin-left: 5px;
}

main.index-contents .user-information .user-name-location .position-location.has-position .position {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main.index-contents .user-information .user-day-time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 12px;
}

main.index-contents .user-information .user-day-time .icon-alarm {
  width: 12px;
  height: 12px;
  vertical-align: bottom;
  display: inline-block;
  text-indent: -9999px;
  background-image: url("../../images/index/icon_alarm.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

main.index-contents .user-information .user-day-time span {
  margin-left: 5px;
}

main.index-contents .user-information .user-day-time span.day {
  font-weight: bold;
  margin-left: 3px;
}

main.index-contents .status-badge {
  color: transparent;
  width: 60px;
  max-width: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3px 5px;
  position: relative;
  border-width: 2px;
  border-style: solid;
  border-color: transparent;
  border-radius: 15px;
  background-color: #fff;
}

main.index-contents .status-badge.before {
  background-color: #fb4357;
}

main.index-contents .status-badge.before span::before {
  content: '출근전';
  color: #fff;
}

main.index-contents .status-badge.before::after {
  content: '*출근체크를 해주세요';
  color: #373e46;
  font-size: 10px;
  white-space: nowrap;
  position: absolute;
  right: 0;
  top: 100%;
  margin-top: 5px;
}

main.index-contents .status-badge.start {
  color: #fb4357;
  padding-left: 20px;
  border-color: #fb4357;
}

main.index-contents .status-badge.start span::before,
main.index-contents .status-badge.start span::after {
  content: '';
  width: 5px;
  height: 2px;
  position: absolute;
  top: 50%;
  left: 5px;
  margin-top: 2px;
  border-radius: 2px;
  background-color: #fb4357;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

main.index-contents .status-badge.start span::after {
  width: 12px;
  margin-top: 0px;
  margin-left: 2px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

main.index-contents .status-badge.working {
  border-color: #4a90e2;
}

main.index-contents .status-badge.working span::before {
  content: '근무중';
  color: #4a90e2;
}

main.index-contents .status-badge.working::before {
  content: '';
  width: 8px;
  height: 11px;
  vertical-align: bottom;
  display: inline-block;
  text-indent: -9999px;
  background-image: url("../../images/index/icon_ing.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  margin-right: 2px;
}

main.index-contents .status-badge.working::after {
  content: '*퇴근체크를 해주세요';
  color: #373e46;
  font-size: 10px;
  white-space: nowrap;
  position: absolute;
  right: 0;
  top: 100%;
  margin-top: 5px;
}

main.index-contents .status-badge.done {
  border-color: #4b4f56;
}

main.index-contents .status-badge.done span::before {
  content: '업무종료';
  color: #4b4f56;
}

main.index-contents .status-badge.dayoff {
  border-color: #9197a3;
}

main.index-contents .status-badge.dayoff span::before {
  content: '휴무';
  color: #9197a3;
}

main.index-contents .status-badge.dayoff::before {
  content: '';
  width: 11px;
  height: 11px;
  vertical-align: bottom;
  display: inline-block;
  text-indent: -9999px;
  background-image: url("../../images/index/icon_dayoff.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  margin-right: 2px;
}

main.index-contents .menu-slide-area {
  position: relative;
}

main.index-contents .menu-slide-area .menu-slide .slide-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main.index-contents .menu-slide-area .menu-slide .slide-items .slide-item {
  width: 25%;
  min-height: 85px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-bottom: 22px;
}

main.index-contents .menu-slide-area .menu-slide .slide-items .slide-item a {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main.index-contents .menu-slide-area .menu-slide .slide-items .slide-item a i {
  margin-bottom: 5px;
}

main.index-contents .menu-slide-area .menu-slide .slide-items .slide-item a i.icon-projector {
  width: 30px;
  height: 22px;
  vertical-align: bottom;
  display: inline-block;
  text-indent: -9999px;
  background-image: url("../../images/index/icon_projector.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

main.index-contents .menu-slide-area .menu-slide .slide-items .slide-item a i.icon-ticket {
  width: 30px;
  height: 26px;
  vertical-align: bottom;
  display: inline-block;
  text-indent: -9999px;
  background-image: url("../../images/index/icon_ticket.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

main.index-contents .menu-slide-area .menu-slide .slide-items .slide-item a i.icon-start-clock {
  width: 24px;
  height: 24px;
  vertical-align: bottom;
  display: inline-block;
  text-indent: -9999px;
  background-image: url("../../images/index/icon_start_clock.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

main.index-contents .menu-slide-area .menu-slide .slide-items .slide-item a i.icon-memo {
  width: 27px;
  height: 21px;
  vertical-align: bottom;
  display: inline-block;
  text-indent: -9999px;
  background-image: url("../../images/index/icon_memo.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

main.index-contents .menu-slide-area .menu-slide .slide-items .slide-item a i.icon-smile {
  width: 28px;
  height: 25px;
  vertical-align: bottom;
  display: inline-block;
  text-indent: -9999px;
  background-image: url("../../images/index/icon_smile.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

main.index-contents .menu-slide-area .menu-slide .slide-items .slide-item a i.icon-voc {
  width: 24px;
  height: 23px;
  vertical-align: bottom;
  display: inline-block;
  text-indent: -9999px;
  background-image: url("../../images/index/icon_voc.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

main.index-contents .menu-slide-area .menu-slide .slide-items .slide-item a i.icon-lost {
  width: 18px;
  height: 22px;
  vertical-align: bottom;
  display: inline-block;
  text-indent: -9999px;
  background-image: url("../../images/index/icon_lost.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

main.index-contents .menu-slide-area .menu-slide .slide-items .slide-item a i.icon-mileage {
  width: 26px;
  height: 28px;
  vertical-align: bottom;
  display: inline-block;
  text-indent: -9999px;
  background-image: url("../../images/index/icon_mileage.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

main.index-contents .menu-slide-area .menu-slide-btns {
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  z-index: 2;
}

main.index-contents .menu-slide-area .menu-slide-btns .swiper-pagination {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px 0;
}

main.index-contents .menu-slide-area .menu-slide-btns .swiper-pagination .swiper-pagination-bullet {
  opacity: 1;
  margin: 0 3px;
  background: #d7d7d7;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

main.index-contents .menu-slide-area .menu-slide-btns .swiper-pagination .swiper-pagination-bullet-active {
  background: #fb4357;
}

main.index-contents .menu-slide-area .menu-slide-btns .btn-menu-setting {
  color: #9197a3;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 0;
  position: absolute;
  right: 0;
}

main.index-contents .menu-slide-area .menu-slide-btns .btn-menu-setting .icon-filter {
  width: 13px;
  height: 12px;
  vertical-align: bottom;
  display: inline-block;
  text-indent: -9999px;
  background-image: url("../../images/index/icon_filter.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  margin-right: 3px;
}

main.index-contents .board-preview-area {
  padding: 15px 15px;
  margin: 15px -15px 0;
  background-color: #e9eaed;
}

main.index-contents .board-preview-area .board-preview-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 0 5px 10px;
  position: relative;
}

main.index-contents .board-preview-area .board-preview-item .type {
  font-size: 15px;
  font-weight: bold;
  margin-right: 15px;
}

main.index-contents .board-preview-area .board-preview-item.new .type {
  line-height: 18px;
  white-space: nowrap;
  height: 20px;
  vertical-align: middle;
  position: relative;
}

main.index-contents .board-preview-area .board-preview-item.new .type::before {
  content: '';
  width: 13px;
  height: 13px;
  vertical-align: bottom;
  display: inline-block;
  text-indent: -9999px;
  background-image: url("../../images/index/icon_new.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  position: absolute;
  top: -5px;
  right: -13px;
}

main.index-contents .board-preview-area .board-preview-item .title {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

main.index-contents .board-preview-area .board-preview-item .title .time {
  color: #fb4357;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1px 5px;
  margin-right: 5px;
  border-radius: 10px;
  border: 1px solid #fb4357;
}

main.index-contents .board-preview-area .board-preview-item .title .shape-arrow {
  overflow: hidden;
  width: 13px;
  height: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -6px;
  border-radius: 50%;
  background-color: #bdc1c8;
}

main.index-contents .board-preview-area .board-preview-item .title .shape-arrow::before {
  content: '';
  width: 4px;
  height: 4px;
  margin-left: -2px;
  border-width: 1px 1px 0 0;
  border-style: solid;
  border-color: #e9eaed #e9eaed transparent transparent;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

main.index-contents .board-preview-area .board-preview-item a.title, main.index-contents .board-preview-area .board-preview-item .notice-items a {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  padding: 3px 20px 3px 0;
  position: relative;
}

main.index-contents .board-preview-area .board-preview-item .notice-items {
  max-height: 20px;
}

main.index-contents .board-preview-area .board-preview-item .notice-items .swiper-slide {
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

main.index-contents .board-preview-area .board-preview-item .notice-items .swiper-slide.swiper-slide-active {
  opacity: 1;
}

main.index-contents .ticketing-rate-wrap {
  margin-top: 25px;
  padding-bottom: 30px;
  position: relative;
}

main.index-contents .ticketing-rate-wrap .ticketing-rate-controls .swiper-prev,
main.index-contents .ticketing-rate-wrap .ticketing-rate-controls .swiper-next {
  position: absolute;
  top: 50%;
  left: 0;
  width: 9px;
  height: 18px;
  vertical-align: bottom;
  display: inline-block;
  text-indent: -9999px;
  background-image: url("../../images/index/icon_slider_arrow.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  z-index: 10;
}

main.index-contents .ticketing-rate-wrap .ticketing-rate-controls .swiper-next {
  left: auto;
  right: 0;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

main.index-contents .ticketing-rate-area .ticketing-rate-items {
  padding-left: 10px;
}

main.index-contents .ticketing-rate-area .ticketing-rate-items.swiper-slide-active {
  z-index: 2;
}

main.index-contents .ticketing-rate-area .ticketing-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main.index-contents .ticketing-rate-area .ticketing-title .theater-name {
  font-size: 15px;
  font-weight: bold;
}

main.index-contents .ticketing-rate-area .ticketing-title .theater-status {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main.index-contents .ticketing-rate-area .ticketing-title .theater-status .day {
  color: #fff;
  font-size: 10px;
  padding: 2px 10px;
  margin-right: 5px;
  border-radius: 15px;
  background-color: #4b4f46;
}

main.index-contents .ticketing-rate-area .ticketing-title .theater-status .total-audience,
main.index-contents .ticketing-rate-area .ticketing-title .theater-status .total-percentage {
  color: #fb4357;
  font-size: 15px;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main.index-contents .ticketing-rate-area .ticketing-title .theater-status .total-audience i,
main.index-contents .ticketing-rate-area .ticketing-title .theater-status .total-percentage i {
  margin-right: 2px;
}

main.index-contents .ticketing-rate-area .ticketing-title .theater-status .total-audience .icon-user,
main.index-contents .ticketing-rate-area .ticketing-title .theater-status .total-percentage .icon-user {
  width: 10px;
  height: 12px;
  vertical-align: bottom;
  display: inline-block;
  text-indent: -9999px;
  background-image: url("../../images/index/icon_user_s.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

main.index-contents .ticketing-rate-area .ticketing-title .theater-status .total-audience .icon-diagram,
main.index-contents .ticketing-rate-area .ticketing-title .theater-status .total-percentage .icon-diagram {
  width: 12px;
  height: 12px;
  vertical-align: bottom;
  display: inline-block;
  text-indent: -9999px;
  background-image: url("../../images/index/icon_diagram_s.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

main.index-contents .ticketing-rate-area .ticketing-title .theater-status .total-percentage {
  margin-left: 10px;
}

main.index-contents .ticketing-rate-area .ticketing-rate-chart {
  width: 100%;
  margin-top: 25px;
}

main.index-contents .ticketing-rate-area .ticketing-rate-chart .chart-item {
  width: 100%;
  padding-left: 10px;
}

main.index-contents .ticketing-rate-area .ticketing-rate-chart .chart-item + .chart-item {
  margin-top: 20px;
}

main.index-contents .ticketing-rate-area .ticketing-rate-chart .chart-item .movie-rate-information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-bottom: 5px;
}

main.index-contents .ticketing-rate-area .ticketing-rate-chart .chart-item .movie-rate-information .theater-type {
  font-size: 10px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 40px;
  max-width: 40px;
  margin-right: 5px;
}

main.index-contents .ticketing-rate-area .ticketing-rate-chart .chart-item .movie-rate-information .movie-name {
  font-weight: bold;
}

main.index-contents .ticketing-rate-area .ticketing-rate-chart .chart-item .movie-rate-chart {
  width: 100%;
  height: 18px;
  max-height: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main.index-contents .ticketing-rate-area .ticketing-rate-chart .chart-item .movie-rate-chart .showing-time {
  min-width: 40px;
  max-width: 40px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 5px;
  border-radius: 3px;
  border: 1px solid #c2c2c2;
  background-color: #ebebeb;
}

main.index-contents .ticketing-rate-area .ticketing-rate-chart .chart-item .movie-rate-chart .chart-box {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

main.index-contents .ticketing-rate-area .ticketing-rate-chart .chart-item .movie-rate-chart .chart-box.max {
  width: 100% !important;
}

main.index-contents .ticketing-rate-area .ticketing-rate-chart .chart-item .movie-rate-chart .chart-box .chart-track {
  width: 100%;
  font-size: 10px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding-right: 10px;
  background-color: #bdc1c8;
}

main.index-contents .ticketing-rate-area .ticketing-rate-chart .chart-item .movie-rate-chart .chart-box .chart-track * {
  color: #fff;
}

main.index-contents .ticketing-rate-area .ticketing-rate-chart .chart-item .movie-rate-chart .chart-box .chart-track > span {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  right: 5px;
}

main.index-contents .ticketing-rate-area .ticketing-rate-chart .chart-item .movie-rate-chart .chart-box .chart-track .chart-bar {
  font-size: 12px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 5px;
  background-color: #fb4357;
}

main.index-contents .ticketing-rate-area .ticketing-rate-chart .chart-item .movie-rate-chart .chart-box .total-rate {
  font-weight: bold;
  min-width: 50px;
  max-width: 50px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
